##  PUC - MG
##  Ciência de Dados e Big Data - 2019
##  TCC - Gilberto Klingen

# Fontes de Dados :

Resultados dos jogos : Free ATP and WTA Results and Stats Databases

https://www.tennisabstract.com/blog/2015/03/24/free-atp-and-wta-results-and-stats-databases/

Probabilidade de vitória de cada jogador em cada partida segundo alfuns sites de apostas : Tennis-Data.co.uk

http://www.tennis-data.co.uk/alldata.php

## Aquisição de Dados

In [1]:
import requests
import pandas as pd
import numpy as np
import xlrd
from datetime import datetime, date
from io import StringIO
from IPython.display import display
from zipfile import ZipFile
import os
from bs4 import BeautifulSoup
import wget
import warnings


# Funções

In [2]:
def get_file(url:str, save_path:str, file_name:str):
    r = requests.get(url)

    with open(save_path + file_name, 'wb') as f:
         f.write(r.content)

In [3]:
def unzip_file (filename:str, directory:str):
    with ZipFile(filename, 'r') as zip_ref:
         zip_ref.extractall(directory)

In [4]:
def wget_file(url:str):
    file = wget.download(url)  
    print(file)

In [5]:
def obtem_arquivos_dos_links(url:str) -> list:    
    lista_arquivos = []
    html_content = requests.get(url).text
    soup = BeautifulSoup(html_content, "lxml")
    for link in soup.find_all("a"):
        if (format(link.get("href"))[-4:] == 'csv' or format(link.get("href"))[-3:] == 'zip'):
           lista_arquivos.append(format(link.get("href"))) 
    return lista_arquivos

In [6]:
def obtem_arquivos_dos_urls(url:str) -> list:    
    lista_arquivos = []
    html_content = requests.get(url).text
    soup = BeautifulSoup(html_content, "lxml")
    for link in soup.find_all('td id'):
        lista_arquivos.append(format(link.get('class="blob-code blob-code-inner js-file-line"'))) 
    return lista_arquivos

In [7]:
def grava_dataframe_retorno_url_2(conteudo_arquivo:str) -> pd.DataFrame:
    dfdata = StringIO(conteudo_arquivo)
    df = pd.read_csv(dfdata, sep=";")
    # print(df)
    # display(df)
    return df

In [8]:
def grava_dataframe_retorno_url(conteudo_arquivo:pd.DataFrame) -> pd.DataFrame:
    dfdata = conteudo_arquivo[2]
    df = pd.read_csv(dfdata, sep=";")
    # print(df)
    # display(df)
    return df

In [9]:
def obtem_nome_abreviado_text(nome:str) -> str:
    # de , di, van der, van
    
    partes_nome=nome.split(' ')
    
    if 'di' in partes_nome:
        separator_index = partes_nome.index('di')
    elif 'de' in partes_nome:          
          separator_index = partes_nome.index('de')       
    elif 'van' in partes_nome:          
          separator_index = partes_nome.index('van')       
    else:
          separator_index = partes_nome.size                      
                             
    nome = ''
    for ind in range(0,separator_index):
        nome = nome + ' ' + partes_nome[ind][0] + '.'
    nome = nome.strip()    
    
    sobrenome = ' '.join(partes_nome[separator_index:])
    
    return sobrenome + ' ' + nome

In [10]:
def obtem_nome_abreviado(lst_nome:list) -> list:
    # de , di, van der, van
    
    lst_return = []
    
    for nome in lst_nome:
        partes_nome=str(nome).split(' ')
    
        if 'di' in partes_nome:
           separator_index = partes_nome.index('di')
        elif 'de' in partes_nome:          
          separator_index = partes_nome.index('de')       
        elif 'van' in partes_nome:          
          separator_index = partes_nome.index('van')       
        else:
          separator_index = len(partes_nome) - 1                      
                             
        nome = ''
        for ind in range(0,separator_index):
            nome = nome + ' ' + partes_nome[ind][0] + '.'
        nome = nome.strip()    
    
        sobrenome = ' '.join(partes_nome[separator_index:])
    
        lst_return.append(sobrenome + ' ' + nome) 
    
    return lst_return

In [11]:
def insere_colunas_odds_medios(df_odds:pd.DataFrame):

    lst_sites = ['CB','B365','GB','EX','IW','LB','SB','PS','SJ','B&W','UB']
    lst_w_sites = []
    lst_l_sites = []
    
#   Adiciona as colunas de odds medios (AvgW e AvgL)
    
    df_odds['AvgW'] = np.nan  
    df_odds['AvgL'] = np.nan  
     
#   Monta lista de colunas existentes para o ano
    
    for site in lst_sites:
        column = site + 'W'
        if column in df_odds:
           lst_w_sites.append(column)
        
        column = site + 'L'
        if column in df_odds:
           lst_l_sites.append(column)
        
#   Calcula os odds medios        
    
    for ind in df_odds.index:
        
        count_w = 0
        count_l = 0
    
        sum_w = 0.0
        sum_l = 0.0
        
        for site in lst_w_sites:
            
            # site_l = site[0:-1] + 'L'

            # if df_odds.loc[ind,site] > df_odds.loc[ind,site_l]:
            #   # print('{} / {}'.format(df_odds.loc[ind,site], df_odds.loc[ind,site_l])) 
            #   aux_swap = df_odds.loc[ind,site]
            #   df_odds.iloc[ind, df_odds.columns.get_loc(site)] =  df_odds.loc[ind,site_l]
            #   df_odds.iloc[ind, df_odds.columns.get_loc(site_l)]  = aux_swap 
                
            if not np.isnan(df_odds.loc[ind,site]):
               count_w = count_w + 1
               sum_w = sum_w + df_odds.loc[ind,site]
                
        for site in lst_l_sites:
            if not np.isnan(df_odds.loc[ind,site]):
               count_l = count_l + 1
               sum_l = sum_l + df_odds.loc[ind,site]    
                
        if count_w != 0:        
           df_odds.iloc[ind, df_odds.columns.get_loc('AvgW')] = round(sum_w / count_w,2)
        if count_l != 0:     
           df_odds.iloc[ind, df_odds.columns.get_loc('AvgL')] = round(sum_l / count_l,2)

In [12]:
def obtem_dataframe_resultados_bkp(ano:str) -> pd.DataFrame:
    URL="https://github.com/JeffSackmann/tennis_atp/blob/master/atp_matches_{}.csv".format(ano)
    
    # Obtem o HTML relativo a URL
    html_content = requests.get(URL).text
    
    # Obtem as tabelas contidas no HTML
    html_tables = pd.read_html(html_content)
    
    # Gera um dataframe contendo os dados de resultados
    df0 = html_tables[0]
    
    # Gera um dataframe eliminando a coluna 0 (NaN) e renomeando a coluna 1 para "Texto"
    df1=df0.iloc[:,1:2].rename(columns={1:'Texto'})
    
    # Gera um dataframe transformando a coluna "Texto" em colunas deste novo dataframe
    df2 = df1.Texto.str.split(",",expand=True) 
    
    # Gera uma listas contendo os nomes das colunas que estão na linha 0 do dataframe df2
    lst_col=df2.iloc[0].tolist()
    # print(lst_col)
    
    # Gera um dataframe eliminando a primeira linha de df2 (lista de nomes das colunas)
    df3 = df2[1:]
    
    # Renomeia as colunas de df3 de acordo com a lista (lst_col) obtida anteriormente
    df3.columns = lst_col

    df3['winner_name']= df3['winner_name'].str.strip()
    df3['loser_name']= df3['loser_name'].str.strip()
    
    # adiciona a coluna Year (Ano)
    df3['Year']=int(ano)
    
    # altera o tipoda coluna match_num para inteiro
    df3['match_num'] = df3['match_num'].astype(int)
    
    # ordena o dataframe por data e identificação do jogo
    df3.sort_values(['tourney_date','match_num'],inplace=True)
    # print(df3)
    

    
    return df3

In [13]:
def obtem_dataframe_resultados(ano:str) -> pd.DataFrame:
    URL="https://github.com/JeffSackmann/tennis_atp/blob/master/atp_matches_{}.csv".format(ano)
    
    # Obtem o HTML relativo a URL
    html_content = requests.get(URL).text
    
    # Obtem as tabelas contidas no HTML
    html_tables = pd.read_html(html_content)
    
    # Gera um dataframe contendo os dados de resultados
    df0 = html_tables[0]
    
    if ano == '2020':
       df0.drop("Unnamed: 0", axis=1, inplace=True)
       df3 = df0
    else:    
    
    # Gera um dataframe eliminando a coluna 0 (NaN) e renomeando a coluna 1 para "Texto"
       df1=df0.iloc[:,1:2].rename(columns={1:'Texto'})
    
    # Gera um dataframe transformando a coluna "Texto" em colunas deste novo dataframe
       df2 = df1.Texto.str.split(",",expand=True) 
    
    # Gera uma listas contendo os nomes das colunas que estão na linha 0 do dataframe df2
       lst_col=df2.iloc[0].tolist()
    # print(lst_col)
    
    # Gera um dataframe eliminando a primeira linha de df2 (lista de nomes das colunas)
       df3 = df2[1:]
    
    # Renomeia as colunas de df3 de acordo com a lista (lst_col) obtida anteriormente
       df3.columns = lst_col

    df3['winner_name']= df3['winner_name'].str.strip()
    df3['loser_name']= df3['loser_name'].str.strip()
    
    # adiciona a coluna Year (Ano)
    df3['Year']=int(ano)
    
    # altera o tipoda coluna match_num para inteiro
    df3['match_num'] = df3['match_num'].astype(int)
    
    # ordena o dataframe por data e identificação do jogo
    df3.sort_values(['tourney_date','match_num'],inplace=True)
    # print(df3)
    

    
    return df3

In [14]:
def obtem_dataframe_ODDS(ano:str) -> pd.DataFrame:
    
    # TRIM(jogador), "." na ultima posicao
    URL='http://www.tennis-data.co.uk/{}/{}.zip'.format(ano,ano)
    
    get_file(URL, '/Users/gilberto/Downloads/', 'ODDS_{}.zip'.format(ano))
    
    lst_files = ZipFile('/Users/gilberto/Downloads/ODDS_{}.zip'.format(ano)).namelist()
    
    unzip_file ('/Users/gilberto/Downloads/ODDS_{}.zip'.format(ano),'/Users/gilberto/Downloads/')
    
    df = pd.read_excel('/Users/gilberto/Downloads/' + lst_files[0], sheet_name=ano, skiprows = 0, index_col=None) 
    
    # adiciona a coluna Year (Ano)
    df['Year']=int(ano)
    
    # ===============
    # Limpeza da base
    # ===============
    
    # Retira caracteres em branco do nome do vencedor e do perdedor
    # Adiciona um "." ao final de cada nome do vencedor e do perdedor
    # substitui no nome do vencedor e do perdedor ".." por "." desta forma garante que todos os nomes terminem com "."
    
    df['Winner']= df['Winner'].str.strip()
    df['Winner']= df['Winner'].map(str) + '.'
    df['Winner'].replace('\.\.','.', inplace=True, regex=True)
    
    df['Loser']= df['Loser'].str.strip()
    df['Loser']= df['Loser'].map(str) + '.'
    df['Loser'].replace('\.\.','.', inplace=True, regex=True)
    
    if ano < '2010':
       insere_colunas_odds_medios(df) 
    
    # ===========================================================================================
    # Insere colunas de identificação de torneios e jogadores para permitir futuramente a junção
    # com a base de resultados da ATP
    # ===========================================================================================
    
    # df.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\ODDS_XXX_2001.csv', index = False)
    
    # dfx = df.loc[df['Winner'].isin(['Bahrouzyan O.','Gromley C.','Hantschek M.','Kutac R.','Luncanu P.A.','Marin L.','Stepanek M.'])]
    # dfy = df.loc[df['Loser'].isin(['Bahrouzyan O.','Gromley C.','Hantschek M.','Kutac R.','Luncanu P.A.','Marin L.','Stepanek M.'])]

    # dfx=pd.concat([dfx,dfy])
    # print(dfx)
    
    # dfx.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\ODDS_ZZZZ_' + str(ano) + '.csv', index = False)

    return df

In [15]:
def gera_lista_jogadores_arquivo_ODDS_em_EXCEL():
    set_players = set()
    
    for ano in range(2001,2020):
        print(ano)
        
        df_odds = obtem_dataframe_ODDS(str(ano))
        w_set_players = set(df_odds.Winner)
        l_set_players = set(df_odds.Loser)
        set_players=set_players.union(w_set_players).union(l_set_players)
        
    df_players = pd.DataFrame(sorted(set_players))    
    df_players.to_excel("C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\players_odds.xlsx")

In [16]:
def gera_lista_jogadores_arquivo_results_em_EXCEL():
    df_players = pd.DataFrame(columns=['player_id','player_name','player_abrev_name'])
    for ano in range(2001,2020):
        print(ano)
        
        df_results = obtem_dataframe_resultados(str(ano))
        
        df_winners_year = df_results[['winner_id', 'winner_name']].copy()
        df_winners_year.rename(columns={'winner_id': 'player_id', 'winner_name': 'player_name'}, inplace=True)
        
        df_players = pd.concat([df_winners_year, df_players],ignore_index=True).drop_duplicates().reset_index(drop=True)
        
        df_losers_year = df_results[['loser_id', 'loser_name']].copy()
        df_losers_year.rename(columns={'loser_id': 'player_id', 'loser_name': 'player_name'}, inplace=True)
                
        df_players = pd.concat([df_losers_year, df_players],ignore_index=True).drop_duplicates().reset_index(drop=True)
        
    # print(obtem_nome_abreviado(list(df_players['player_name'])))    
    df_players['player_abrev_name'] = obtem_nome_abreviado(list(df_players['player_name']))       
    df_players.to_excel("C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\players_results.xlsx")    
    
    print('OK')

In [17]:
def gera_lista_torneios_arquivo_ODDS_em_EXCEL():
    
    for ano in range(2001,2020):
        print(ano)
        
        df_odds = obtem_dataframe_ODDS(str(ano))
        df_tourneys = df_odds[['Year', 'ATP', 'Location', 'Tournament']].copy()
        df_tourneys.drop_duplicates(keep = 'first', inplace = True) 
        
        if ano == 2001:
           df_all_tourneys = df_tourneys
        else:
           df_all_tourneys = pd.concat([df_all_tourneys,df_tourneys],ignore_index=True).drop_duplicates().reset_index(drop=True)
    
    # print(df_all_tourneys)
    df_all_tourneys.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\tourneys_odds.xlsx")

In [18]:
def gera_lista_torneios_arquivo_results_em_EXCEL():
    
    for ano in range(2001,2020):
        print(ano)
        
        df_results = obtem_dataframe_resultados(str(ano))
        df_tourneys = df_results[['Year', 'tourney_id', 'tourney_name']].copy()
        df_tourneys.drop_duplicates(keep = 'first', inplace = True) 
        
        if ano == 2001:
           df_all_tourneys = df_tourneys
        else:
           df_all_tourneys = pd.concat([df_all_tourneys,df_tourneys],ignore_index=True).drop_duplicates().reset_index(drop=True)
    
    #print(df_all_tourneys)
    df_all_tourneys.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\tourneys_results.xlsx")

In [19]:
def union_df_unknown_players():
    for ano in range(2001,2020):
        df = pd.read_csv("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\ODDS_ZZZZ_" + str(ano) + ".csv", sep=',', delimiter=None, header='infer', names=None, index_col=None)
        dfx = df[['Year', 'Location', 'Tournament' , 'Date', 'Winner', 'Loser', 'W1','L1','W2','L2','W3','L3','W4','L4','W5', 'L5']].copy()
        if ano == 2001:
           dfy = dfx
        else:
           dfy=pd.concat([dfy,dfx])  
    print(dfy)    
    dfy.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\crazy_players.xlsx")

In [20]:
def merge_atp_and_odds_info_old():
    
    warnings.filterwarnings("ignore")
    
    # Obtem os dataframes de de=para
    # ------------------------------
    
    df_de_para_players = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\players_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)
    df_de_para_tourneys = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\tourneys_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)
    df_de_para_round = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\round_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)
    
    for ano in range(2000,2020):
        
        print(' ')
        print(str(ano))
        
        # Obtem o winner_id
        # -----------------
        
        df_odds = obtem_dataframe_ODDS(str(ano))
        
        df_1 = df_odds.merge(df_de_para_players, how='left', left_on=['Winner'], right_on=['Player_Name'])
        
        df_NaN = df_1[df_1['Player_ID'].isnull()]
        
        if not df_NaN.empty:
           print('Lista de winners contém nulos') 
           print(df_NaN['Winner'] + ' ' + df_NaN['Loser'])
           break
        
        df_1.rename(columns={'Player_ID': 'winner_id'}, inplace=True)
        
        # Obtem o loser_id
        # -----------------
        
        df_2 = df_1.merge(df_de_para_players, how='left', left_on=['Loser'], right_on=['Player_Name'])
        
        df_NaN = df_2[df_2['Player_ID'].isnull()]
        
        if not df_NaN.empty:
           print('Lista de losers contém nulos') 
           print(df_NaN['Winner'] + ' ' + df_NaN['Loser'])
           break
        
        df_2.rename(columns={'Player_ID': 'loser_id'}, inplace=True)
                
        # Merge com de-para de torneios
        # -----------------------------
        
        df_3 = df_2.merge(df_de_para_tourneys, how='left', left_on=['Year', 'ATP', 'Location','Tournament'], right_on=['Year', 'ATP', 'Location','Tournament'])
        
        df_3['tourney_id'] = df_3['tourney_id'].astype("string")
        df_3['Round'] = df_3['Round'].astype("string")
        
        # dataTypeSeries = df_3.dtypes
        # print('Data type of each column of Dataframe :')
        # print(dataTypeSeries)

        df_NaN = df_3[df_3['tourney_id'].isnull()]
        
        if not df_NaN.empty:
           print('Lista de tourneys contém nulos') 
           print(df_NaN)
           break
        
        # Obtem dataframe de resultados ATP
        # ---------------------------------
        
        df_results = obtem_dataframe_resultados(str(ano))
        
        df_results['round'] = df_results['round'].astype("string")
        df_results['draw_size'] = df_results['draw_size'].astype(int)
        
        df_4 = df_results.merge(df_de_para_round, how='left', left_on=['draw_size', 'round'], right_on=['draw_size', 'round'])
        
        df_NaN = df_4[df_4['round_odds'].isnull()]
        
        if not df_NaN.empty:
           print('Lista de rounds contém nulos') 
           print(df_NaN)
           break
        
        df_4['tourney_id'] = df_4['tourney_id'].astype("string")
        df_4['winner_id'] = df_4['winner_id'].astype(int)
        df_4['loser_id'] = df_4['loser_id'].astype(int)
        df_4['round_odds'] = df_4['round_odds'].astype("string")

        # dataTypeSeries = df_4.dtypes
        # print('Data type of each column of Dataframe :')
        # print(dataTypeSeries)
        
        # df_merged_3_4 =  df_3.merge(df_4, how='left', left_on=['Year', 'tourney_id', 'Round', 'winner_id','loser_id'], right_on=['Year', 'tourney_id', 'round_odds', 'winner_id','loser_id'])
        
        # df_NaN = df_merged_3_4[df_merged_3_4['draw_size'].isnull()]
        
        # if not df_NaN.empty:
        #   print('Lista de resultados contém nulos') 
        #   print(df_NaN)
        #   df_NaN.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\merged_3_4_NAN.xlsx")

        df_merged_4_3 =  df_4.merge(df_3, how='left', right_on=['Year', 'tourney_id', 'Round', 'winner_id','loser_id'], left_on=['Year', 'tourney_id', 'round_odds', 'winner_id','loser_id'])
        
        df_merged_4_3.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\merged_ATP_ODDS.xlsx")
                
        print('OK')
        
        # df_NaN = df_merged_4_3[df_merged_4_3['W1'].isnull()]
        
        # if not df_NaN.empty:
        #   print('Lista de odds contém nulos') 
        #   print(df_NaN)
        #   df_NaN.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\merged_4_3_NAN.xlsx")
            
        # print(df_merged)

In [21]:
def merge_atp_and_odds_info():
    
    warnings.filterwarnings("ignore")
    
    df_merged = pd.DataFrame
    
    # Obtem os dataframes de de=para
    # ------------------------------
    
    df_de_para_players = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\players_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)
    df_de_para_tourneys = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\tourneys_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)
    df_de_para_round = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\round_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)
    
    for ano in range(2000,2020):
        
        # print(' ')
        print(str(ano))
        
        df_odds = obtem_dataframe_ODDS(str(ano))
            
        # Obtem o winner_id
        # -----------------
                
        df_1 = df_odds.merge(df_de_para_players, how='left', left_on=['Winner'], right_on=['Player_Name'])
        
        df_1.rename(columns={'Player_ID': 'winner_id'}, inplace=True)
        
        # Obtem o loser_id
        # -----------------
        
        df_2 = df_1.merge(df_de_para_players, how='left', left_on=['Loser'], right_on=['Player_Name'])
       
        df_2.rename(columns={'Player_ID': 'loser_id'}, inplace=True)
                
        # Merge com de-para de torneios
        # -----------------------------
        
        df_3 = df_2.merge(df_de_para_tourneys, how='left', left_on=['Year', 'ATP', 'Location','Tournament'], right_on=['Year', 'ATP', 'Location','Tournament'])
        
        df_3['tourney_id'] = df_3['tourney_id'].astype("string")
        df_3['Round'] = df_3['Round'].astype("string")
        
        # Obtem dataframe de resultados ATP
        # ---------------------------------
        
        df_results = obtem_dataframe_resultados(str(ano))
        
        df_results['round'] = df_results['round'].astype("string")
        df_results['draw_size'] = df_results['draw_size'].astype(int)
        
        df_4 = df_results.merge(df_de_para_round, how='left', left_on=['draw_size', 'round'], right_on=['draw_size', 'round'])
        
        df_4['tourney_id'] = df_4['tourney_id'].astype("string")
        df_4['winner_id'] = df_4['winner_id'].astype(int)
        df_4['loser_id'] = df_4['loser_id'].astype(int)
        df_4['round_odds'] = df_4['round_odds'].astype("string")

        df_merged_4_3 =  df_4.merge(df_3, how='left', right_on=['Year', 'tourney_id', 'Round', 'winner_id','loser_id'], left_on=['Year', 'tourney_id', 'round_odds', 'winner_id','loser_id'])
        
        if not df_merged.empty: 
           df_merged = df_merged.append(df_merged_4_3)  
        else:
           df_merged = df_merged_4_3 
        
    # Retira os jogos da Taça Davis pois para esses jogos não há apostas
    # ------------------------------------------------------------------
    
    df_merged = df_merged[df_merged['tourney_level'] != 'D']
                          
    df_merged.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\merged_ATP_ODDS.xlsx")
                
    print('OK')

In [22]:
def gera_dataframes_resultados_agregados():
    
    warnings.filterwarnings("ignore")
    
    # cria dataframe de dados agregados por jogador
    
    columns_1 = {
                 'player_id':'',
                 'tourney_id':'',
                 'tourney_date':'',
                 'round':'',
                 'match_num':int,
                 'match_seq':int,
                 'qty_grass_matches':int,
                 'qty_grass_victories':int,
                 'pct_grass_victories':float,
                 'qty_hard_matches':int,
                 'qty_hard_victories':int,
                 'pct_hard_victories':float,
                 'qty_clay_matches':int,
                 'qty_clay_victories':int,
                 'pct_clay_victories':float,
                 'qty_matches_against_left_handed':int,
                 'qty_victories_against_left_handed':int,
                 'pct_victories_against_left_handed':float,
                 'qty_3sets_matches':int,
                 'qty_3sets_victories':int,
                 'pct_3sets_victories':float,
                 'qty_5sets_matches':int,
                 'qty_5sets_victories':int,
                 'pct_5sets_victories':float,
                 'minutes':int,
                 'avg_minutes':float,
                 'qty_ace':int,
                 'qty_df':int,
                 'qty_svpt':int,
                 'qty_1stIn':int,
                 'qty_1stWon':int,
                 'qty_2ndWon':int,
                 'qty_SvGms':int,
                 'qty_bpSaved':int,
                 'qty_bpFaced':int,
                 'avg_ace':float,
                 'avg_df':float,
                 'avg_svpt':float,
                 'avg_1stIn':float,
                 'avg_1stWon':float,
                 'avg_2ndWon':float,
                 'avg_SvGms':float,
                 'avg_bpSaved':float,
                 'avg_bpFaced':float,
                 'height':int,
                 'age':float,
                 'rank_points':int,
                 'qty_matches_grand_slam':int,
                 'qty_victories_grand_slam':int,
                 'pct_victories_grand_slam':float,
                 'qty_matches_master_1000':int,
                 'qty_victories_master_1000':int,
                 'pct_victories_master_1000':float,
                 'qty_matches_ATP_250_500':int,
                 'qty_victories_ATP_250_500':int,
                 'pct_victories_ATP_250_500':float,
                 'qty_matches_finals':int,
                 'qty_victories_finals':int,
                 'pct_victories_finals':float,
                 'qty_grand_slam_titles':int,
                 'qty_master_1000_titles':int,
                 'qty_ATP_250_500_titles':int,
                 'qty_finals_titles':int
                 }
    
    df_1_player = pd.DataFrame(columns_1, index=[])
    df_1_player_geral = pd.DataFrame(columns_1, index=[])
    
    # cria dataframe de dados agregados por par de jogadores
    
    columns_2 = {
                 'player_1_id':'',
                 'player_2_id':'',
                 'tourney_id':'',
                 'tourney_date':'',
                 'round':'',
                 'match_num':int,
                 'match_seq':int,
                 'qty_grass_matches':int,
                 'qty_player_1_grass_victories':int,
                 'pct_player_1_grass_victories':float,
                 'qty_hard_matches':int,
                 'qty_player_1_hard_victories':int,
                 'pct_player_1_hard_victories':float,
                 'qty_clay_matches':int,
                 'qty_player_1_clay_victories':int,
                 'pct_player_1_clay_victories':float,
                 'qty_3sets_matches':int,
                 'qty_player_1_3sets_victories':int,
                 'pct_player_1_3sets_victories':float,
                 'qty_5sets_matches':int,
                 'qty_player_1_5sets_victories':int,
                 'pct_player_1_5sets_victories':float,
                 'qty_grand_slam_matches':int,
                 'qty_player_1_grand_slam_victories':int,
                 'pct_player_1_grand_slam_victories':float,
                 'qty_master_1000_matches':int,
                 'qty_player_1_master_1000_victories':int,
                 'pct_player_1_master_1000_victories':float,
                 'qty_finals_matches':int,
                 'qty_player_1_finals_victories':int,
                 'pct_player_1_finals_victories':float,
                 'qty_ATP_250_500_matches':int,
                 'qty_player_1_ATP_250_500_victories':int,
                 'pct_player_1_ATP_250_500_victories':float
                }

    df_2_player = pd.DataFrame(columns_2, index=[])
    df_2_player_geral = pd.DataFrame(columns_2, index=[])
    
    for ano in range(1998,2020):
        
        df_results = obtem_dataframe_resultados(str(ano))
        
        print('--------------------------------------------')
        print(str(ano))
        now = datetime.now()
        print(now.strftime("%H:%M:%S"))
        print(str(len(df_results.index)))
        print('--------------------------------------------')
        contador = 0
        
        for ind in df_results.index:
            
            contador = contador + 1
            
            if (contador % 100) == 1:
               now = datetime.now()
               print(str(contador) + '-' + now.strftime("%H:%M:%S")) 
                        
            #if contador == 101:
            #   break 
            
            # df3x = df3[(df3['winner_id'] == '103720') & (df3['match_num'] == 1)]

            # ################################################ #
            #         Gera dados agregados do vencedor         #
            # ################################################ #
                
            df_1_player_aux_1 = df_1_player[df_1_player['player_id'] == df_results.loc[ind,'winner_id']]
                                                                                        
            if not df_1_player_aux_1.empty:                
               df_1_player_aux_1.sort_values(['match_seq'],inplace=True,ascending=[False])
               df_1_player_aux_1.reset_index(drop=True,inplace=True)
               # df_1_player_aux_1.reset_index(inplace=True)
            
               # print('Winner encontrado *********** :{} '.format(df_results.loc[ind,'winner_id'])) 
            
               df_1_player_aux_1.loc[0,"tourney_id"] = df_results.loc[ind,'tourney_id']
               df_1_player_aux_1.loc[0,"tourney_date"] = df_results.loc[ind,'tourney_date'] 
               df_1_player_aux_1.loc[0,"match_num"] = df_results.loc[ind,'match_num'] 
               df_1_player_aux_1.loc[0,"round"] = df_results.loc[ind,'round']  
               
            else:
               # print('Winner não encontrado :{}'.format(df_results.loc[ind,'winner_id'])) 
                
               df_1_player_aux_1 = pd.DataFrame([[
                                df_results.loc[ind,'winner_id'],
                                df_results.loc[ind,'tourney_id'],  
                                df_results.loc[ind,'tourney_date'],  
                                df_results.loc[ind,'round'],  
                                df_results.loc[ind,'match_num'],
                                0 ,   # match_seq  
                                0 ,   # qty_grass_matches
                                0 ,   # qty_grass_victories
                                0.0 , # pct_grass_victories
                                0 ,   # qty_hard_matches
                                0 ,   # qty_hard_victories
                                0.0 , # pct_hard_victories
                                0 ,   # qty_clay_matches
                                0 ,   # qty_clay_victories
                                0.0 , # pct_clay_victories
                                0 ,   # qty_matches_against_left_handed
                                0 ,   # qty_victories_against_left_handed
                                0.0 , # pct_victories_against_left_handed
                                0 ,   # qty_3sets_matches
                                0 ,   # qty_3sets_victories
                                0.0 , # pct_3sets_victories
                                0 ,   # qty_5sets_matches
                                0 ,   # qty_5sets_victories
                                0.0 , # pct_5sets_victories
                                0   , # minutes
                                0.0 , # avg_minutes
                                0 ,   # qty_ace
                                0 ,   # qty_df
                                0 ,   # qty_svpt
                                0 ,   # qty_1stIn
                                0 ,   # qty_1stWon
                                0 ,   # qty_2ndWon
                                0 ,   # qty_SvGms
                                0 ,   # qty_bpSaved
                                0 ,   # qty_bpFaced
                                0.0 , # avg_ace
                                0.0 , # avg_df
                                0.0 , # avg_svpt
                                0.0 , # avg_1stIn
                                0.0 , # avg_1stWon
                                0.0 , # avg_2ndWon
                                0.0 , # avg_SvGms
                                0.0 , # avg_bpSaved
                                0.0 , # avg_bpFaced
                                0.0 , # height
                                0.0 , # age
                                0   , # rank_points
                                0 ,   # qty_matches_grand_slam
                                0 ,   # qty_victories_grand_slam
                                0.0 , # pct_victories_grand_slam
                                0 ,   # qty_matches_master_1000
                                0 ,   # qty_victories_master_1000
                                0.0 , # pct_victories_master_1000
                                0 ,   # qty_matches_ATP_250_500
                                0 ,   # qty_victories_ATP_250_500
                                0.0 , # pct_victories_ATP_250_500
                                0 ,   # qty_matches_finals
                                0 ,   # qty_victories_finals
                                0.0 , # pct_victories_finals
                                0 ,   # qty_grand_slam_titles
                                0 ,   # qty_master_1000_titles
                                0 ,   # qty_ATP_250_500_titles
                                0     # qty_finals_titles
                                       ]], columns = columns_1 )    
            
            df_1_player_aux_1.loc[0,"match_seq"] = df_1_player_aux_1.loc[0,"match_seq"] + 1
                      
            if df_results.loc[ind,'surface'] == 'Clay':
               df_1_player_aux_1.loc[0,"qty_clay_matches"] = df_1_player_aux_1.loc[0,"qty_clay_matches"] + 1
               df_1_player_aux_1.loc[0,"qty_clay_victories"] = df_1_player_aux_1.loc[0,"qty_clay_victories"] + 1   
               df_1_player_aux_1.loc[0,"pct_clay_victories"] = df_1_player_aux_1.loc[0,"qty_clay_victories"] / df_1_player_aux_1.loc[0,"qty_clay_matches"] * 100     
            elif df_results.loc[ind,'surface'] == 'Grass':   
                 df_1_player_aux_1.loc[0,"qty_grass_matches"] = df_1_player_aux_1.loc[0,"qty_grass_matches"] + 1
                 df_1_player_aux_1.loc[0,"qty_grass_victories"] = df_1_player_aux_1.loc[0,"qty_grass_victories"] + 1   
                 df_1_player_aux_1.loc[0,"pct_grass_victories"] = df_1_player_aux_1.loc[0,"qty_grass_victories"] / df_1_player_aux_1.loc[0,"qty_grass_matches"] * 100  
            else:
                 df_1_player_aux_1.loc[0,"qty_hard_matches"] = df_1_player_aux_1.loc[0,"qty_hard_matches"] + 1 
                 df_1_player_aux_1.loc[0,"qty_hard_victories"] = df_1_player_aux_1.loc[0,"qty_hard_victories"] + 1   
                 df_1_player_aux_1.loc[0,"pct_hard_victories"] = df_1_player_aux_1.loc[0,"qty_hard_victories"] / df_1_player_aux_1.loc[0,"qty_hard_matches"] * 100    
                
            if df_results.loc[ind,'loser_hand'] == 'L':
               df_1_player_aux_1.loc[0,"qty_matches_against_left_handed"] = df_1_player_aux_1.loc[0,"qty_matches_against_left_handed"] + 1
               df_1_player_aux_1.loc[0,"qty_victories_against_left_handed"] = df_1_player_aux_1.loc[0,"qty_victories_against_left_handed"] + 1
               df_1_player_aux_1.loc[0,"pct_victories_against_left_handed"] = df_1_player_aux_1.loc[0,"qty_victories_against_left_handed"] / df_1_player_aux_1.loc[0,"qty_matches_against_left_handed"] * 100  
            
            
            if df_results.loc[ind,'best_of'] == '3':
               df_1_player_aux_1.loc[0,"qty_3sets_matches"] = df_1_player_aux_1.loc[0,"qty_3sets_matches"] + 1
               df_1_player_aux_1.loc[0,"qty_3sets_victories"] = df_1_player_aux_1.loc[0,"qty_3sets_victories"] + 1
               df_1_player_aux_1.loc[0,"pct_3sets_victories"] = df_1_player_aux_1.loc[0,"qty_3sets_victories"] / df_1_player_aux_1.loc[0,"qty_3sets_matches"] * 100   
            else:
               df_1_player_aux_1.loc[0,"qty_5sets_matches"] = df_1_player_aux_1.loc[0,"qty_5sets_matches"] + 1
               df_1_player_aux_1.loc[0,"qty_5sets_victories"] = df_1_player_aux_1.loc[0,"qty_5sets_victories"] + 1
               df_1_player_aux_1.loc[0,"pct_5sets_victories"] = df_1_player_aux_1.loc[0,"qty_5sets_victories"] / df_1_player_aux_1.loc[0,"qty_5sets_matches"] * 100   
 
            df_1_player_aux_1.loc[0,"minutes"] = df_1_player_aux_1.loc[0,"minutes"] + int("0" + df_results.loc[ind,'minutes'])
            df_1_player_aux_1.loc[0,"avg_minutes"] = df_1_player_aux_1.loc[0,"minutes"] / df_1_player_aux_1.loc[0,"match_seq"]
    
            df_1_player_aux_1.loc[0,"qty_ace"] = df_1_player_aux_1.loc[0,"qty_ace"] + int("0" + df_results.loc[ind,'w_ace'])
            df_1_player_aux_1.loc[0,"qty_df"] = df_1_player_aux_1.loc[0,"qty_df"] + int("0" + df_results.loc[ind,'w_df'])
            df_1_player_aux_1.loc[0,"qty_svpt"] = df_1_player_aux_1.loc[0,"qty_svpt"] + int("0" + df_results.loc[ind,'w_svpt'])
            df_1_player_aux_1.loc[0,"qty_1stIn"] = df_1_player_aux_1.loc[0,"qty_1stIn"] + int("0" + df_results.loc[ind,'w_1stIn'])
            df_1_player_aux_1.loc[0,"qty_1stWon"] = df_1_player_aux_1.loc[0,"qty_1stWon"] + int("0" + df_results.loc[ind,'w_1stWon'])
            df_1_player_aux_1.loc[0,"qty_2ndWon"] = df_1_player_aux_1.loc[0,"qty_2ndWon"] + int("0" + df_results.loc[ind,'w_2ndWon'])
            df_1_player_aux_1.loc[0,"qty_SvGms"] = df_1_player_aux_1.loc[0,"qty_SvGms"] + int("0" + df_results.loc[ind,'w_SvGms'])
            df_1_player_aux_1.loc[0,"qty_bpSaved"] = df_1_player_aux_1.loc[0,"qty_bpSaved"] + int("0" + df_results.loc[ind,'w_bpSaved'])
            df_1_player_aux_1.loc[0,"qty_bpFaced"] = df_1_player_aux_1.loc[0,"qty_bpFaced"] + int("0" + df_results.loc[ind,'w_bpFaced'])

            df_1_player_aux_1.loc[0,"avg_ace"] = df_1_player_aux_1.loc[0,"qty_ace"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_df"] = df_1_player_aux_1.loc[0,"qty_df"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_svpt"] = df_1_player_aux_1.loc[0,"qty_svpt"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_1stIn"] = df_1_player_aux_1.loc[0,"qty_1stIn"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_1stWon"] = df_1_player_aux_1.loc[0,"qty_1stWon"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_2ndWon"] = df_1_player_aux_1.loc[0,"qty_2ndWon"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_SvGms"] = df_1_player_aux_1.loc[0,"qty_SvGms"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_bpSaved"] = df_1_player_aux_1.loc[0,"qty_bpSaved"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_bpFaced"] = df_1_player_aux_1.loc[0,"qty_bpFaced"] / df_1_player_aux_1.loc[0,"match_seq"]
 
            df_1_player_aux_1.loc[0,"height"] = int("0" + df_results.loc[ind,'winner_ht'])
            df_1_player_aux_1.loc[0,"age"] =  float("0" + df_results.loc[ind,'winner_age'])
            df_1_player_aux_1.loc[0,"rank_points"] = int("0" + df_results.loc[ind,'winner_rank_points'])
            
            if df_results.loc[ind,'tourney_level'] == 'A':  # ATP 250, 500
               df_1_player_aux_1.loc[0,"qty_matches_ATP_250_500"] = df_1_player_aux_1.loc[0,"qty_matches_ATP_250_500"] + 1 
               df_1_player_aux_1.loc[0,"qty_victories_ATP_250_500"] = df_1_player_aux_1.loc[0,"qty_victories_ATP_250_500"] + 1   
               df_1_player_aux_1.loc[0,"pct_victories_ATP_250_500"] = df_1_player_aux_1.loc[0,"qty_victories_ATP_250_500"] / df_1_player_aux_1.loc[0,"qty_matches_ATP_250_500"] * 100  
               if df_results.loc[ind,'round'] == 'F': # Partida final do torneio
                  df_1_player_aux_1.loc[0,"qty_ATP_250_500_titles"] = df_1_player_aux_1.loc[0,"qty_ATP_250_500_titles"] + 1 
                
            elif df_results.loc[ind,'tourney_level'] == 'F':  # ATP Finals
               df_1_player_aux_1.loc[0,"qty_matches_finals"] = df_1_player_aux_1.loc[0,"qty_matches_finals"] + 1 
               df_1_player_aux_1.loc[0,"qty_victories_finals"] = df_1_player_aux_1.loc[0,"qty_victories_finals"] + 1   
               df_1_player_aux_1.loc[0,"pct_victories_finals"] = df_1_player_aux_1.loc[0,"qty_victories_finals"] / df_1_player_aux_1.loc[0,"qty_matches_finals"] * 100 
               if df_results.loc[ind,'round'] == 'F': # Partida final do torneio
                  df_1_player_aux_1.loc[0,"qty_finals_titles"] = df_1_player_aux_1.loc[0,"qty_finals_titles"] + 1  
                    
            elif df_results.loc[ind,'tourney_level'] == 'G':  # Grand Slam   
               df_1_player_aux_1.loc[0,"qty_matches_grand_slam"] = df_1_player_aux_1.loc[0,"qty_matches_grand_slam"] + 1 
               df_1_player_aux_1.loc[0,"qty_victories_grand_slam"] = df_1_player_aux_1.loc[0,"qty_victories_grand_slam"] + 1   
               df_1_player_aux_1.loc[0,"pct_victories_grand_slam"] = df_1_player_aux_1.loc[0,"qty_victories_grand_slam"] / df_1_player_aux_1.loc[0,"qty_matches_grand_slam"] * 100
               if df_results.loc[ind,'round'] == 'F': # Partida final do torneio
                  df_1_player_aux_1.loc[0,"qty_grand_slam_titles"] = df_1_player_aux_1.loc[0,"qty_grand_slam_titles"] + 1  
                    
            elif df_results.loc[ind,'tourney_level'] == 'M':  # Master 1000
               df_1_player_aux_1.loc[0,"qty_matches_master_1000"] = df_1_player_aux_1.loc[0,"qty_matches_master_1000"] + 1 
               df_1_player_aux_1.loc[0,"qty_victories_master_1000"] = df_1_player_aux_1.loc[0,"qty_victories_master_1000"] + 1   
               df_1_player_aux_1.loc[0,"pct_victories_master_1000"] = df_1_player_aux_1.loc[0,"qty_victories_master_1000"] / df_1_player_aux_1.loc[0,"qty_matches_master_1000"] * 100
               if df_results.loc[ind,'round'] == 'F': # Partida final do torneio
                  df_1_player_aux_1.loc[0,"qty_master_1000_titles"] = df_1_player_aux_1.loc[0,"qty_master_1000_titles"] + 1   

            df_1_player = df_1_player.append(df_1_player_aux_1.iloc[0]) 
            df_1_player_geral = df_1_player_geral.append(df_1_player_aux_1.iloc[0]) 
            del df_1_player_aux_1
            
            # ################################################ #
            #         Gera dados agregados do perdedor         #
            # ################################################ #
                
            df_1_player_aux_1 = df_1_player[df_1_player['player_id'] == df_results.loc[ind,'loser_id']]
                                                                                        
            if not df_1_player_aux_1.empty:  
               df_1_player_aux_1.sort_values(['match_seq'],inplace=True,ascending=[False])   
               df_1_player_aux_1.reset_index(drop=True,inplace=True)
               # df_1_player_aux_1.reset_index(inplace=True)
            
               # print('Loser encontrado *********** :{}'.format(df_results.loc[ind,'loser_id']))
                
               # if ano == 2019: 
               #   print(df_1_player_aux_1) 
               #   print('Tourney : ' + df_results.loc[ind,'tourney_id']) 
               #   print('Torneio : ' + df_1_player_aux_1.loc[0,"tourney_id"])
            
            
               df_1_player_aux_1.loc[0,"tourney_id"] = df_results.loc[ind,'tourney_id']
               df_1_player_aux_1.loc[0,"tourney_date"] = df_results.loc[ind,'tourney_date'] 
               df_1_player_aux_1.loc[0,"match_num"] = df_results.loc[ind,'match_num'] 
               df_1_player_aux_1.loc[0,"round"] = df_results.loc[ind,'round']   

            else:
               # print('Loser não encontrado :{}'.format(df_results.loc[ind,'loser_id']))
            
               df_1_player_aux_1 = pd.DataFrame([[
                                df_results.loc[ind,'loser_id'],
                                df_results.loc[ind,'tourney_id'],  
                                df_results.loc[ind,'tourney_date'],  
                                df_results.loc[ind,'round'],  
                                df_results.loc[ind,'match_num'],
                                0 ,   # match_seq  
                                0 ,   # qty_grass_matches
                                0 ,   # qty_grass_victories
                                0.0 , # pct_grass_victories
                                0 ,   # qty_hard_matches
                                0 ,   # qty_hard_victories
                                0.0 , # pct_hard_victories
                                0 ,   # qty_clay_matches
                                0 ,   # qty_clay_victories
                                0.0 , # pct_clay_victories
                                0 ,   # qty_matches_against_left_handed
                                0 ,   # qty_victories_against_left_handed
                                0.0 , # pct_victories_against_left_handed
                                0 ,   # qty_3sets_matches
                                0 ,   # qty_3sets_victories
                                0.0 , # pct_3sets_victories
                                0 ,   # qty_5sets_matches
                                0 ,   # qty_5sets_victories
                                0.0 , # pct_5sets_victories
                                0   , # minutes
                                0.0 , # avg_minutes
                                0 ,   # qty_ace
                                0 ,   # qty_df
                                0 ,   # qty_svpt
                                0 ,   # qty_1stIn
                                0 ,   # qty_1stWon
                                0 ,   # qty_2ndWon
                                0 ,   # qty_SvGms
                                0 ,   # qty_bpSaved
                                0 ,   # qty_bpFaced
                                0.0 , # avg_ace
                                0.0 , # avg_df
                                0.0 , # avg_svpt
                                0.0 , # avg_1stIn
                                0.0 , # avg_1stWon
                                0.0 , # avg_2ndWon
                                0.0 , # avg_SvGms
                                0.0 , # avg_bpSaved
                                0.0 , # avg_bpFaced
                                0.0 , # height
                                0.0 , # age
                                0   , # rank_points
                                0 ,   # qty_matches_grand_slam
                                0 ,   # qty_victories_grand_slam
                                0.0 , # pct_victories_grand_slam
                                0 ,   # qty_matches_master_1000
                                0 ,   # qty_victories_master_1000
                                0.0 , # pct_victories_master_1000
                                0 ,   # qty_matches_ATP_250_500
                                0 ,   # qty_victories_ATP_250_500
                                0.0 , # pct_victories_ATP_250_500
                                0 ,   # qty_matches_finals
                                0 ,   # qty_victories_finals
                                0.0 , # pct_victories_finals
                                0 ,   # qty_grand_slam_titles
                                0 ,   # qty_master_1000_titles
                                0 ,   # qty_ATP_250_500_titles
                                0     # qty_finals_titles
                                       ]], columns = columns_1 )    
                
            df_1_player_aux_1.loc[0,"match_seq"] = df_1_player_aux_1.loc[0,"match_seq"] + 1
            
            if df_results.loc[ind,'surface'] == 'Clay':
               df_1_player_aux_1.loc[0,"qty_clay_matches"] = df_1_player_aux_1.loc[0,"qty_clay_matches"] + 1
               df_1_player_aux_1.loc[0,"pct_clay_victories"] = df_1_player_aux_1.loc[0,"qty_clay_victories"] / df_1_player_aux_1.loc[0,"qty_clay_matches"] * 100     
            elif df_results.loc[ind,'surface'] == 'Grass':   
                 df_1_player_aux_1.loc[0,"qty_grass_matches"] = df_1_player_aux_1.loc[0,"qty_grass_matches"] + 1
                 df_1_player_aux_1.loc[0,"pct_grass_victories"] = df_1_player_aux_1.loc[0,"qty_grass_victories"] / df_1_player_aux_1.loc[0,"qty_grass_matches"] * 100  
            else:
               df_1_player_aux_1.loc[0,"qty_hard_matches"] = df_1_player_aux_1.loc[0,"qty_hard_matches"] + 1 
               df_1_player_aux_1.loc[0,"pct_hard_victories"] = df_1_player_aux_1.loc[0,"qty_hard_victories"] / df_1_player_aux_1.loc[0,"qty_hard_matches"] * 100  

                
            if df_results.loc[ind,'winner_hand'] == 'L':
               df_1_player_aux_1.loc[0,"qty_matches_against_left_handed"] = df_1_player_aux_1.loc[0,"qty_matches_against_left_handed"] + 1
               df_1_player_aux_1.loc[0,"pct_victories_against_left_handed"] = df_1_player_aux_1.loc[0,"qty_victories_against_left_handed"] / df_1_player_aux_1.loc[0,"qty_matches_against_left_handed"] * 100  
            
            if df_results.loc[ind,'best_of'] == '3':
               df_1_player_aux_1.loc[0,"qty_3sets_matches"] = df_1_player_aux_1.loc[0,"qty_3sets_matches"] + 1
               df_1_player_aux_1.loc[0,"pct_3sets_victories"] = df_1_player_aux_1.loc[0,"qty_3sets_victories"] / df_1_player_aux_1.loc[0,"qty_3sets_matches"] * 100   
            else:
               df_1_player_aux_1.loc[0,"qty_5sets_matches"] = df_1_player_aux_1.loc[0,"qty_5sets_matches"] + 1
               df_1_player_aux_1.loc[0,"pct_5sets_victories"] = df_1_player_aux_1.loc[0,"qty_5sets_victories"] / df_1_player_aux_1.loc[0,"qty_5sets_matches"] * 100   
 
            df_1_player_aux_1.loc[0,"minutes"] = df_1_player_aux_1.loc[0,"minutes"] + int("0" + df_results.loc[ind,'minutes'])
            df_1_player_aux_1.loc[0,"avg_minutes"] = df_1_player_aux_1.loc[0,"minutes"] / df_1_player_aux_1.loc[0,"match_seq"]
    
            df_1_player_aux_1.loc[0,"qty_ace"] = df_1_player_aux_1.loc[0,"qty_ace"] + int("0" + df_results.loc[ind,'l_ace'])
            df_1_player_aux_1.loc[0,"qty_df"] = df_1_player_aux_1.loc[0,"qty_df"] + int("0" + df_results.loc[ind,'l_df'])
            df_1_player_aux_1.loc[0,"qty_svpt"] = df_1_player_aux_1.loc[0,"qty_svpt"] + int("0" + df_results.loc[ind,'l_svpt'])
            df_1_player_aux_1.loc[0,"qty_1stIn"] = df_1_player_aux_1.loc[0,"qty_1stIn"] + int("0" + df_results.loc[ind,'l_1stIn'])
            df_1_player_aux_1.loc[0,"qty_1stWon"] = df_1_player_aux_1.loc[0,"qty_1stWon"] + int("0" + df_results.loc[ind,'l_1stWon'])
            df_1_player_aux_1.loc[0,"qty_2ndWon"] = df_1_player_aux_1.loc[0,"qty_2ndWon"] + int("0" + df_results.loc[ind,'l_2ndWon'])
            df_1_player_aux_1.loc[0,"qty_SvGms"] = df_1_player_aux_1.loc[0,"qty_SvGms"] + int("0" + df_results.loc[ind,'l_SvGms'])
            df_1_player_aux_1.loc[0,"qty_bpSaved"] = df_1_player_aux_1.loc[0,"qty_bpSaved"] + int("0" + df_results.loc[ind,'l_bpSaved'])
            df_1_player_aux_1.loc[0,"qty_bpFaced"] = df_1_player_aux_1.loc[0,"qty_bpFaced"] + int("0" + df_results.loc[ind,'l_bpFaced'])

            df_1_player_aux_1.loc[0,"avg_ace"] = df_1_player_aux_1.loc[0,"qty_ace"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_df"] = df_1_player_aux_1.loc[0,"qty_df"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_svpt"] = df_1_player_aux_1.loc[0,"qty_svpt"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_1stIn"] = df_1_player_aux_1.loc[0,"qty_1stIn"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_1stWon"] = df_1_player_aux_1.loc[0,"qty_1stWon"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_2ndWon"] = df_1_player_aux_1.loc[0,"qty_2ndWon"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_SvGms"] = df_1_player_aux_1.loc[0,"qty_SvGms"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_bpSaved"] = df_1_player_aux_1.loc[0,"qty_bpSaved"] / df_1_player_aux_1.loc[0,"match_seq"]
            df_1_player_aux_1.loc[0,"avg_bpFaced"] = df_1_player_aux_1.loc[0,"qty_bpFaced"] / df_1_player_aux_1.loc[0,"match_seq"]
            
            df_1_player_aux_1.loc[0,"height"] = int("0" + df_results.loc[ind,'loser_ht'])
            df_1_player_aux_1.loc[0,"age"] =  float("0" + df_results.loc[ind,'loser_age'])
            df_1_player_aux_1.loc[0,"rank_points"] = int("0" + df_results.loc[ind,'loser_rank_points'])            
            
            if df_results.loc[ind,'tourney_level'] == 'A':  # ATP 250, 500
               df_1_player_aux_1.loc[0,"qty_matches_ATP_250_500"] = df_1_player_aux_1.loc[0,"qty_matches_ATP_250_500"] + 1 
               df_1_player_aux_1.loc[0,"pct_victories_ATP_250_500"] = df_1_player_aux_1.loc[0,"qty_victories_ATP_250_500"] / df_1_player_aux_1.loc[0,"qty_matches_ATP_250_500"] * 100              
            elif df_results.loc[ind,'tourney_level'] == 'F':  # ATP Finals
               df_1_player_aux_1.loc[0,"qty_matches_finals"] = df_1_player_aux_1.loc[0,"qty_matches_finals"] + 1 
               df_1_player_aux_1.loc[0,"pct_victories_finals"] = df_1_player_aux_1.loc[0,"qty_victories_finals"] / df_1_player_aux_1.loc[0,"qty_matches_finals"] * 100 
            elif df_results.loc[ind,'tourney_level'] == 'G':  # Grand Slam   
               df_1_player_aux_1.loc[0,"qty_matches_grand_slam"] = df_1_player_aux_1.loc[0,"qty_matches_grand_slam"] + 1 
               df_1_player_aux_1.loc[0,"pct_victories_grand_slam"] = df_1_player_aux_1.loc[0,"qty_victories_grand_slam"] / df_1_player_aux_1.loc[0,"qty_matches_grand_slam"] * 100
            elif df_results.loc[ind,'tourney_level'] == 'M':  # Master 1000
               df_1_player_aux_1.loc[0,"qty_matches_master_1000"] = df_1_player_aux_1.loc[0,"qty_matches_master_1000"] + 1 
               df_1_player_aux_1.loc[0,"pct_victories_master_1000"] = df_1_player_aux_1.loc[0,"qty_victories_master_1000"] / df_1_player_aux_1.loc[0,"qty_matches_master_1000"] * 100                
 
            df_1_player = df_1_player.append(df_1_player_aux_1.iloc[0])      
            df_1_player_geral = df_1_player_geral.append(df_1_player_aux_1.iloc[0]) 
            del df_1_player_aux_1
        
            # ################################################################# #
            #         Gera dados agregados do vencedor e perdedor juntos        #
            # ################################################################# #
            
            if df_results.loc[ind,'winner_id'] < df_results.loc[ind,'loser_id']:
               player_1_id = df_results.loc[ind,'winner_id']
               player_2_id = df_results.loc[ind,'loser_id']
            else:
               player_1_id = df_results.loc[ind,'loser_id']
               player_2_id = df_results.loc[ind,'winner_id']                
                
            # df3x = df3[(df3['winner_id'] == '103720') & (df3['match_num'] == 1)]    
                
            df_2_player_aux_1 = df_2_player[(df_2_player['player_1_id'] == player_1_id) & (df_2_player['player_2_id'] == player_2_id)]
                                                                                        
            if not df_2_player_aux_1.empty:                
               df_2_player_aux_1.sort_values(['match_seq'],inplace=True,ascending=[False])   
               df_2_player_aux_1.reset_index(drop=True,inplace=True)
            
               df_2_player_aux_1.loc[0,"tourney_id"] = df_results.loc[ind,'tourney_id']
               df_2_player_aux_1.loc[0,"tourney_date"] = df_results.loc[ind,'tourney_date'] 
               df_2_player_aux_1.loc[0,"match_num"] = df_results.loc[ind,'match_num'] 
               df_2_player_aux_1.loc[0,"round"] = df_results.loc[ind,'round']  
               
            else:
               df_2_player_aux_1 = pd.DataFrame([[
                                player_1_id,
                                player_2_id,
                                df_results.loc[ind,'tourney_id'],  
                                df_results.loc[ind,'tourney_date'],  
                                df_results.loc[ind,'round'],
                                df_results.loc[ind,'match_num'],
                                0 ,   #  match_seq
                                0 ,   #  qty_grass_matches
                                0 ,   #  qty_player_1_grass_victories
                                0.0 , #  pct_player_1_grass_victories
                                0 ,   #  qty_hard_matches
                                0 ,   #  qty_player_1_hard_victories
                                0.0 , #  pct_player_1_hard_victories
                                0 ,   #  qty_clay_matches
                                0 ,   #  qty_player_1_clay_victories
                                0.0 , #  pct_player_1_clay_victories
                                0 ,   #  qty_3sets_matches
                                0 ,   #  qty_player_1_3sets_victories
                                0.0 , #  pct_player_1_3sets_victories
                                0 ,   #  qty_5sets_matches
                                0 ,   #  qty_player_1_5sets_victories
                                0.0 , #  pct_player_1_5sets_victories
                                0 ,   #  qty_grand_slam_matches
                                0 ,   #  qty_player_1_grand_slam_victories
                                0.0 , #  pct_player_1_grand_slam_victories
                                0 ,   #  qty_master_1000_matches
                                0 ,   #  qty_player_1_master_1000_victories
                                0.0 , #  pct_player_1_master_1000_victories
                                0 ,   #  qty_finals_matches
                                0 ,   #  qty_player_1_finals_victories
                                0.0 , #  pct_player_1_finals_victories
                                0 ,   #  qty_ATP_250_500_matches
                                0 ,   #  qty_player_1_ATP_250_500_victories
                                0.0   #  pct_player_1_ATP_250_500_victories
                                       ]], columns = columns_2)    
            
            df_2_player_aux_1.loc[0,"match_seq"] = df_2_player_aux_1.loc[0,"match_seq"] + 1
            
            if df_results.loc[ind,'surface'] == 'Clay':
               df_2_player_aux_1.loc[0,"qty_clay_matches"] = df_2_player_aux_1.loc[0,"qty_clay_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_clay_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_clay_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_clay_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_clay_victories"] / df_2_player_aux_1.loc[0,"qty_clay_matches"] * 100  
            elif df_results.loc[ind,'surface'] == 'Grass':   
               df_2_player_aux_1.loc[0,"qty_grass_matches"] = df_2_player_aux_1.loc[0,"qty_grass_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_grass_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_grass_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_grass_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_grass_victories"] / df_2_player_aux_1.loc[0,"qty_grass_matches"] * 100  
            else:        
               df_2_player_aux_1.loc[0,"qty_hard_matches"] = df_2_player_aux_1.loc[0,"qty_hard_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_hard_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_hard_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_hard_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_hard_victories"] / df_2_player_aux_1.loc[0,"qty_hard_matches"] * 100  

            
            if df_results.loc[ind,'best_of'] == '3':
               df_2_player_aux_1.loc[0,"qty_3sets_matches"] = df_2_player_aux_1.loc[0,"qty_3sets_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_3sets_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_3sets_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_3sets_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_3sets_victories"] / df_2_player_aux_1.loc[0,"qty_3sets_matches"] * 100  
            else:
               df_2_player_aux_1.loc[0,"qty_5sets_matches"] = df_2_player_aux_1.loc[0,"qty_5sets_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_5sets_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_5sets_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_5sets_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_5sets_victories"] / df_2_player_aux_1.loc[0,"qty_5sets_matches"] * 100  

                    
            if df_results.loc[ind,'tourney_level'] == 'A':  # ATP 250, 500
               df_2_player_aux_1.loc[0,"qty_ATP_250_500_matches"] = df_2_player_aux_1.loc[0,"qty_ATP_250_500_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_ATP_250_500_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_ATP_250_500_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_ATP_250_500_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_ATP_250_500_victories"] / df_2_player_aux_1.loc[0,"qty_ATP_250_500_matches"] * 100  
            elif df_results.loc[ind,'tourney_level'] == 'F':  # ATP Finals
               df_2_player_aux_1.loc[0,"qty_finals_matches"] = df_2_player_aux_1.loc[0,"qty_finals_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_finals_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_finals_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_finals_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_finals_victories"] / df_2_player_aux_1.loc[0,"qty_finals_matches"] * 100
            elif df_results.loc[ind,'tourney_level'] == 'G':  # Grand Slam   
               df_2_player_aux_1.loc[0,"qty_grand_slam_matches"] = df_2_player_aux_1.loc[0,"qty_grand_slam_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_grand_slam_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_grand_slam_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_grand_slam_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_grand_slam_victories"] / df_2_player_aux_1.loc[0,"qty_grand_slam_matches"] * 100  
            elif df_results.loc[ind,'tourney_level'] == 'M':  # Master 1000
               df_2_player_aux_1.loc[0,"qty_master_1000_matches"] = df_2_player_aux_1.loc[0,"qty_master_1000_matches"] + 1  
               if player_1_id == df_results.loc[ind,'winner_id']: 
                  df_2_player_aux_1.loc[0,"qty_player_1_master_1000_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_master_1000_victories"] + 1   
                  df_2_player_aux_1.loc[0,"pct_player_1_master_1000_victories"] = df_2_player_aux_1.loc[0,"qty_player_1_master_1000_victories"] / df_2_player_aux_1.loc[0,"qty_master_1000_matches"] * 100  
 
            df_2_player = df_2_player.append(df_2_player_aux_1.iloc[0])      
            df_2_player_geral = df_2_player_geral.append(df_2_player_aux_1.iloc[0]) 

            del df_2_player_aux_1
            
        df_1_player_last = df_1_player.groupby(['player_id'], sort=False).agg({'match_seq':'max'})
        df_1_player =  df_1_player.merge(df_1_player_last, how='inner', right_on=['player_id', 'match_seq'], left_on=['player_id', 'match_seq'])
        # df_1_player.reset_index(inplace=True)
        print(df_1_player)
        df_1_player.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\df1_player_' + str(ano) + '.csv', index = False)
        
        df_2_player_last = df_2_player.groupby(['player_1_id', 'player_2_id'], sort=False).agg({'match_seq':'max'})
        df_2_player =  df_2_player.merge(df_2_player_last, how='inner', right_on=['player_1_id', 'player_2_id', 'match_seq'], left_on=['player_1_id', 'player_2_id', 'match_seq'])
        # df_2_player.reset_index(inplace=True)
        df_2_player.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\df2_player_' + str(ano) + '.csv', index = False)
        
    now = datetime.now()              
    print(now.strftime("%H:%M:%S"))         
    df_1_player_geral.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\df1_player_geral' + '.csv', index = False)
    df_2_player_geral.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\df2_player_geral' + '.csv', index = False)
    print("OK")

In [23]:
def select_winner (row):
    if row['winner_id'] < row['loser_id'] :
      return 1
    else:
      return 2

In [24]:
def select_winner_player_1_2 (row):
    if row['winner_id'] < row['loser_id'] :
       row['winner'] = 1
       row['player_1_id'] = row['winner_id']
       row['player_2_id'] = row['loser_id']
    else:
       row['winner'] = 2
       row['player_1_id'] = row['loser_id']
       row['player_2_id'] = row['winner_id']
    
    return row

In [25]:
def select_player_1 (row):
    if row['winner_id'] < row['loser_id'] :
      return row['winner_id']
    else:
      return row['loser_id']

In [26]:
def select_player_2 (row):
    if row['winner_id'] < row['loser_id'] :
      return row['loser_id']
    else:
      return row['winner_id']

In [27]:
def gera_ATP_ODDS_final():

    # Obtem os dados de merge de resultados da ATP e odds de apostas
    # --------------------------------------------------------------
    
    df_ATP_ODDS = pd.read_excel (r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\Saved_2\merged_ATP_ODDS.xlsx')
    df_ATP_ODDS = df_ATP_ODDS.filter(['tourney_id','tourney_date','match_num', 'round','winner_id','loser_id','surface','tourney_level','best_of','AvgW','AvgL'])
    
    #      Adiciona a coluna winner para indicar que foi o vencedor : jogador 1 ou 2
    #      -------------------------------------------------------------------------
    
    # df_ATP_ODDS['winner'] = df_ATP_ODDS.apply(lambda row: select_winner (row), axis=1)
    
    #      Adiciona as colunas winner,  player_1 e player_2 para poder fazer o merge com os dados agregados do par de jogadores 
    #      --------------------------------------------------------------------------------------------------------------------
        
    # df_ATP_ODDS[['player_1', 'player_2']] = df_ATP_ODDS.apply(lambda row: select_player_1_2 (row), axis=1)
    # df_ATP_ODDS['player_1'] = df_ATP_ODDS.apply(lambda row: select_player_1 (row), axis=1)
    # df_ATP_ODDS['player_2'] = df_ATP_ODDS.apply(lambda row: select_player_2 (row), axis=1)
    
    df_ATP_ODDS=df_ATP_ODDS.apply(select_winner_player_1_2,axis=1)
    
    #      Elimina linhas com ODDS nulos
    #      -----------------------------
    
    df_ATP_ODDS = df_ATP_ODDS[df_ATP_ODDS['AvgW'].notnull()]
    df_ATP_ODDS = df_ATP_ODDS[df_ATP_ODDS['AvgL'].notnull()]
    
    print(df_ATP_ODDS)
    
    df_ATP_ODDS.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\Saved_2\merged_ATP_ODDS_final.csv', index = False)

In [119]:
def gera_bases_finais():
    
    # Obtem os dados de merge de resultados da ATP e odds de apostas
    # --------------------------------------------------------------
    
    df_ATP_ODDS = pd.read_csv('C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\Saved_2\merged_ATP_ODDS_final.csv', sep=",")
    
    # Obtem os dados agregados de cada jogador
    # ----------------------------------------
    
    df1_player = pd.read_csv('C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\Saved_2\df1_player_geral.csv', sep=";")
    df1_player_aux = df1_player
    
    #      Altera o número de sequência dos jogos para que os dados agregados fiquem associados às partidas seguintes
    #      ----------------------------------------------------------------------------------------------------------
    
    df1_player_aux.match_seq = df1_player.match_seq + 1
    
    #      Obtem as colunas relevantes
    #      ---------------------------
    
    df1_player_aux.merge(df1_player, how='left', left_on=['player_id', 'match_seq'], right_on=['player_id', 'match_seq'])
    df1_player_aux = df1_player_aux.filter(['player_id', 'tourney_id', 'tourney_date', 'match_num', 'round','pct_grass_victories','pct_hard_victories','pct_clay_victories','pct_3sets_victories','pct_5sets_victories','avg_ace','avg_df','avg_svpt','avg_1stIn','avg_1stWon','avg_2ndWon','avg_SvGms','avg_bpSaved','avg_bpFaced','age','rank_points','pct_victories_grand_slam','pct_victories_master_1000','pct_victories_ATP_250_500','pct_victories_finals','qty_grand_slam_titles','qty_master_1000_titles','qty_ATP_250_500_titles','qty_finals_titles'])
    
    df1_player_aux.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\df1_player_aux_XX.csv', index = False, sep=';')
    
    # Obtem os dados agregados de cada par de jogadores
    # -------------------------------------------------
    
    df2_player = pd.read_csv('C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\Saved_2\df2_player_geral.csv', sep=";")    
    df2_player_aux = df2_player
    
    #      Altera o número de sequência dos jogos para que os dados agregados fiquem associados às partidas seguintes
    #      ----------------------------------------------------------------------------------------------------------
    
    df2_player_aux.match_seq = df2_player.match_seq + 1
    
    #      Obtem as colunas relevantes
    #      ---------------------------
    
    df2_player_aux.merge(df2_player, how='left', left_on=['player_1_id', 'player_2_id', 'match_seq'], right_on=['player_1_id', 'player_2_id', 'match_seq'])
    df2_player_aux = df2_player_aux.filter(['player_1_id', 'player_2_id', 'tourney_id', 'tourney_date', 'match_num', 'round','pct_player_1_grass_victories','pct_player_1_hard_victories','pct_player_1_clay_victories','pct_player_1_3sets_victories','pct_player_1_5sets_victories','pct_player_1_grand_slam_victories','pct_player_1_master_1000_victories','pct_player_1_finals_victories','pct_player_1_ATP_250_500_victories','qty_grass_matches','qty_hard_matches','qty_clay_matches','qty_3sets_matches','qty_5sets_matches','qty_grand_slam_matches','qty_master_1000_matches','qty_finals_matches','qty_ATP_250_500_matches'
                                           ])
    
    df2_player_aux.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\df2_player_aux_XX.csv', index = False, sep=';')
    
    # Merge com dados agregados do winner
    # -----------------------------------
    
    df_merge_all =  df_ATP_ODDS.merge(df1_player_aux, how='left', left_on=['winner_id', 'tourney_id', 'tourney_date', 'match_num', 'round'], right_on=['player_id', 'tourney_id', 'tourney_date', 'match_num', 'round'])
    
    # Merge com dados agregados do loser
    # -----------------------------------
    
    df_merge_all =  df_merge_all.merge(df1_player_aux, how='left', left_on=['loser_id', 'tourney_id', 'tourney_date', 'match_num', 'round'], right_on=['player_id', 'tourney_id', 'tourney_date', 'match_num', 'round'])

    # Merge com dados agregados do par de jogadores
    # ---------------------------------------------
    
    df_merge_all =  df_merge_all.merge(df2_player_aux, how='left', left_on=['player_1_id', 'player_2_id', 'tourney_id', 'tourney_date', 'match_num', 'round'], right_on=['player_1_id', 'player_2_id', 'tourney_id', 'tourney_date', 'match_num', 'round'])
    
    df_merge_all.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\merge_all_XX.csv', index = False , sep=';')
    
    # Gera base final completa
    # ------------------------
    
    columns = {
             'tourney_id':'',
             'tourney_date':'',
             'match_num':int,
             'round':'',
             'surface':'',
             'tourney_level':'',
             'best_of':int,
             'AvgW':float,
             'AvgL':float,

             'player_id_1':int,
             'pct_surface_victories_1':float,
             'pct_best_of_victories_1':float,
             'avg_ace_1':float,
             'avg_df_1':float,
             'avg_svpt_1':float,
             'avg_1stIn_1':float,
             'avg_1stWon_1':float,
             'avg_2ndWon_1':float,
             'avg_SvGms_1':float,
             'avg_bpSaved_1':float,
             'avg_bpFaced_1':float,
             'age_1':int,
             'rank_points_1':int,
             'pct_victories_grand_slam_1':float,
             'pct_victories_master_1000_1':float,
             'pct_victories_ATP_250_500_1':float,
             'pct_victories_finals_1':float,
             'qty_grand_slam_titles_1':int,
             'qty_master_1000_titles_1':int,
             'qty_ATP_250_500_titles_1':int,
             'qty_finals_titles_1':int,

             'player_id_2':int,
             'pct_surface_victories_2':float,
             'pct_best_of_victories_2':float,
             'avg_ace_2':float,
             'avg_df_2':float,
             'avg_svpt_2':float,
             'avg_1stIn_2':float,
             'avg_1stWon_2':float,
             'avg_2ndWon_2':float,
             'avg_SvGms_2':float,
             'avg_bpSaved_2':float,
             'avg_bpFaced_2':float,
             'age_2':int,
             'rank_points_2':int,
             'pct_victories_grand_slam_2':float,
             'pct_victories_master_1000_2':float,
             'pct_victories_ATP_250_500_2':float,
             'pct_victories_finals_2':float,
             'qty_grand_slam_titles_2':int,
             'qty_master_1000_titles_2':int,
             'qty_ATP_250_500_titles_2':int,
             'qty_finals_titles_2':int,

             'pct_player_1_surface_victories':float,
             'pct_player_1_best_of_victories':float,
             'pct_player_1_grand_slam_victories':float,
             'pct_player_1_master_1000_victories':float,
             'pct_player_1_finals_victories':float,
             'pct_player_1_ATP_250_500_victories':float,

             'pct_player_2_surface_victories':float,
             'pct_player_2_best_of_victories':float,
             'pct_player_2_grand_slam_victories':float,
             'pct_player_2_master_1000_victories':float,
             'pct_player_2_finals_victories':float,
             'pct_player_2_ATP_250_500_victories':float,

             'winner':int
             }

    contador = 0
    
    df_base_completa = pd.DataFrame(columns, index=[])    
    
    for ind in df_merge_all.index:
        
        contador = contador + 1

        if (contador % 100) == 1:
           now = datetime.now()
           print(str(contador) + '-' + now.strftime("%H:%M:%S")) 
        
        # if contador == 302:
        #    break 
            
        # print('250: ' + df_merge_all.loc[ind,'pct_player_1_ATP_250_500_victories'])    
        
        df_base_completa_aux = pd.DataFrame([[
                               df_merge_all.loc[ind,'tourney_id'],
                               df_merge_all.loc[ind,'tourney_date'],
                               df_merge_all.loc[ind,'match_num'],
                               df_merge_all.loc[ind,'round'],
                               df_merge_all.loc[ind,'surface'],
                               df_merge_all.loc[ind,'tourney_level'],
                               df_merge_all.loc[ind,'best_of'],
                               df_merge_all.loc[ind,'AvgW'],
                               df_merge_all.loc[ind,'AvgL'],

                               0,    # player_id_1
                               0,  # pct_surface_victories_1
                               0,  # pct_best_of_victories_1
                               0,  # avg_ace_1
                               0,  # avg_df_1
                               0,  # avg_svpt_1
                               0,  # avg_1stIn_1
                               0,  # avg_1stWon_1
                               0,  # avg_2ndWon_1
                               0,  # avg_SvGms_1
                               0,  # avg_bpSaved_1
                               0,  # avg_bpFaced_1
                               0,    # age_1
                               0,    # rank_points_1
                               0,  # pct_victories_grand_slam_1
                               0,  # pct_victories_master_1000_1
                               0,  # pct_victories_ATP_250_500_1
                               0,  # pct_victories_finals_1
                               0,    # qty_grand_slam_titles_1
                               0,    # qty_master_1000_titles_1
                               0,    # qty_ATP_250_500_titles_1
                               0,    # qty_finals_titles_1

                               0,    # player_id_2
                               0,  # pct_surface_victories_2
                               0,  # pct_best_of_victories_2
                               0,  # avg_ace_2
                               0,  # avg_df_2
                               0,  # avg_svpt_2
                               0,  # avg_1stIn_2
                               0,  # avg_1stWon_2
                               0,  # avg_2ndWon_2
                               0,  # avg_SvGms_2
                               0,  # avg_bpSaved_2
                               0,  # avg_bpFaced_2
                               0,    # age_2
                               0,    # rank_points_2
                               0,  # pct_victories_grand_slam_2
                               0,  # pct_victories_master_1000_2
                               0,  # pct_victories_ATP_250_500_2
                               0,  # pct_victories_finals_2
                               0,    # qty_grand_slam_titles_2
                               0,    # qty_master_1000_titles_2
                               0,    # qty_ATP_250_500_titles_2
                               0,    # qty_finals_titles_2

                               0,    # pct_player_1_surface_victories
                               0,    # pct_player_1_best_of_victories
                               0,    # pct_player_1_grand_slam_victories
                               0,    # pct_player_1_master_1000_victories
                               0,    # pct_player_1_finals_victories
                               0,    # pct_player_1_ATP_250_500_victories

                               0,    # pct_player_2_surface_victories
                               0,    # pct_player_2_best_of_victories
                               0,    # pct_player_2_grand_slam_victories
                               0,    # pct_player_2_master_1000_victories
                               0,    # pct_player_2_finals_victories
                               0,    # pct_player_2_ATP_250_500_victories

                               df_merge_all.loc[ind,'winner'] 
                               
                                       ]], columns = columns)  
        
        if df_merge_all.loc[ind,'winner'] == 1:
            
           # Player_1
           # --------
            
           df_base_completa_aux.loc[0,"player_id_1"] = df_merge_all.loc[ind,"player_id_x"] 
        
           if df_merge_all.loc[ind,'surface'] == 'hard':
              df_base_completa_aux.loc[0,"pct_surface_victories_1"] = df_merge_all.loc[ind,"pct_hard_victories_x"] 
           elif df_merge_all.loc[ind,'surface'] == 'clay': 
              df_base_completa_aux.loc[0,"pct_surface_victories_1"] = df_merge_all.loc[ind,"pct_clay_victories_x"] 
           else:     
              df_base_completa_aux.loc[0,"pct_surface_victories_1"] = df_merge_all.loc[ind,"pct_grass_victories_x"] 
                
           if df_merge_all.loc[ind,'best_of'] == 3:     
              df_base_completa_aux.loc[0,"pct_best_of_victories_1"] = df_merge_all.loc[ind,"pct_3sets_victories_x"] 
           else:
              df_base_completa_aux.loc[0,"pct_best_of_victories_1"] = df_merge_all.loc[ind,"pct_5sets_victories_x"] 
        
           df_base_completa_aux.loc[0,"avg_ace_1"] = df_merge_all.loc[ind,"avg_ace_x"] 
           df_base_completa_aux.loc[0,"avg_df_1"] = df_merge_all.loc[ind,"avg_df_x"] 
           df_base_completa_aux.loc[0,"avg_svpt_1"] = df_merge_all.loc[ind,"avg_svpt_x"] 
           df_base_completa_aux.loc[0,"avg_1stIn_1"] = df_merge_all.loc[ind,"avg_1stIn_x"] 
           df_base_completa_aux.loc[0,"avg_1stWon_1"] = df_merge_all.loc[ind,"avg_1stWon_x"] 
           df_base_completa_aux.loc[0,"avg_2ndWon_1"] = df_merge_all.loc[ind,"avg_2ndWon_x"] 
           df_base_completa_aux.loc[0,"avg_SvGms_1"] = df_merge_all.loc[ind,"avg_SvGms_x"] 
           df_base_completa_aux.loc[0,"avg_bpSaved_1"] = df_merge_all.loc[ind,"avg_bpSaved_x"] 
           df_base_completa_aux.loc[0,"avg_bpFaced_1"] = df_merge_all.loc[ind,"avg_bpFaced_x"] 
           df_base_completa_aux.loc[0,"age_1"] = df_merge_all.loc[ind,"age_x"] 
           df_base_completa_aux.loc[0,"rank_points_1"] = df_merge_all.loc[ind,"rank_points_x"] 
           df_base_completa_aux.loc[0,"pct_victories_grand_slam_1"] = df_merge_all.loc[ind,"pct_victories_grand_slam_x"] 
           df_base_completa_aux.loc[0,"pct_victories_master_1000_1"] = df_merge_all.loc[ind,"pct_victories_master_1000_x"] 
           df_base_completa_aux.loc[0,"pct_victories_ATP_250_500_1"] = df_merge_all.loc[ind,"pct_victories_ATP_250_500_x"] 
           df_base_completa_aux.loc[0,"pct_victories_finals_1"] = df_merge_all.loc[ind,"pct_victories_finals_x"] 
           df_base_completa_aux.loc[0,"qty_grand_slam_titles_1"] = df_merge_all.loc[ind,"qty_grand_slam_titles_x"] 
           df_base_completa_aux.loc[0,"qty_master_1000_titles_1"] = df_merge_all.loc[ind,"qty_master_1000_titles_x"] 
           df_base_completa_aux.loc[0,"qty_ATP_250_500_titles_1"] = df_merge_all.loc[ind,"qty_ATP_250_500_titles_x"] 
           df_base_completa_aux.loc[0,"qty_finals_titles_1"] = df_merge_all.loc[ind,"qty_finals_titles_x"] 

           # Player_2
           # --------
    
           df_base_completa_aux.loc[0,"player_id_2"] = df_merge_all.loc[ind,"player_id_y"] 
        
           if df_merge_all.loc[ind,'surface'] == 'hard':
              df_base_completa_aux.loc[0,"pct_surface_victories_2"] = df_merge_all.loc[ind,"pct_hard_victories_y"] 
           elif df_merge_all.loc[ind,'surface'] == 'clay': 
              df_base_completa_aux.loc[0,"pct_surface_victories_2"] = df_merge_all.loc[ind,"pct_clay_victories_y"] 
           else:     
              df_base_completa_aux.loc[0,"pct_surface_victories_2"] = df_merge_all.loc[ind,"pct_grass_victories_y"] 
                
           if df_merge_all.loc[ind,'best_of'] == 3:     
              df_base_completa_aux.loc[0,"pct_best_of_victories_2"] = df_merge_all.loc[ind,"pct_3sets_victories_y"] 
           else:
              df_base_completa_aux.loc[0,"pct_best_of_victories_2"] = df_merge_all.loc[ind,"pct_5sets_victories_y"]     
        
           df_base_completa_aux.loc[0,"avg_ace_2"] = df_merge_all.loc[ind,"avg_ace_y"] 
           df_base_completa_aux.loc[0,"avg_df_2"] = df_merge_all.loc[ind,"avg_df_y"] 
           df_base_completa_aux.loc[0,"avg_svpt_2"] = df_merge_all.loc[ind,"avg_svpt_y"] 
           df_base_completa_aux.loc[0,"avg_1stIn_2"] = df_merge_all.loc[ind,"avg_1stIn_y"] 
           df_base_completa_aux.loc[0,"avg_1stWon_2"] = df_merge_all.loc[ind,"avg_1stWon_y"] 
           df_base_completa_aux.loc[0,"avg_2ndWon_2"] = df_merge_all.loc[ind,"avg_2ndWon_y"] 
           df_base_completa_aux.loc[0,"avg_SvGms_2"] = df_merge_all.loc[ind,"avg_SvGms_y"] 
           df_base_completa_aux.loc[0,"avg_bpSaved_2"] = df_merge_all.loc[ind,"avg_bpSaved_y"] 
           df_base_completa_aux.loc[0,"avg_bpFaced_2"] = df_merge_all.loc[ind,"avg_bpFaced_y"] 
           df_base_completa_aux.loc[0,"age_2"] = df_merge_all.loc[ind,"age_y"] 
           df_base_completa_aux.loc[0,"rank_points_2"] = df_merge_all.loc[ind,"rank_points_y"] 
           df_base_completa_aux.loc[0,"pct_victories_grand_slam_2"] = df_merge_all.loc[ind,"pct_victories_grand_slam_y"] 
           df_base_completa_aux.loc[0,"pct_victories_master_1000_2"] = df_merge_all.loc[ind,"pct_victories_master_1000_y"] 
           df_base_completa_aux.loc[0,"pct_victories_ATP_250_500_2"] = df_merge_all.loc[ind,"pct_victories_ATP_250_500_y"] 
           df_base_completa_aux.loc[0,"pct_victories_finals_2"] = df_merge_all.loc[ind,"pct_victories_finals_y"] 
           df_base_completa_aux.loc[0,"qty_grand_slam_titles_2"] = df_merge_all.loc[ind,"qty_grand_slam_titles_y"] 
           df_base_completa_aux.loc[0,"qty_master_1000_titles_2"] = df_merge_all.loc[ind,"qty_master_1000_titles_y"] 
           df_base_completa_aux.loc[0,"qty_ATP_250_500_titles_2"] = df_merge_all.loc[ind,"qty_ATP_250_500_titles_y"] 
           df_base_completa_aux.loc[0,"qty_finals_titles_2"] = df_merge_all.loc[ind,"qty_finals_titles_y"] 
    
        else:
            
           # Player_1
           # --------
            
           df_base_completa_aux.loc[0,"player_id_1"] = df_merge_all.loc[ind,"player_id_y"] 
        
           if df_merge_all.loc[ind,'surface'] == 'hard':
              df_base_completa_aux.loc[0,"pct_surface_victories_1"] = df_merge_all.loc[ind,"pct_hard_victories_y"] 
           elif df_merge_all.loc[ind,'surface'] == 'clay': 
              df_base_completa_aux.loc[0,"pct_surface_victories_1"] = df_merge_all.loc[ind,"pct_clay_victories_y"] 
           else:     
              df_base_completa_aux.loc[0,"pct_surface_victories_1"] = df_merge_all.loc[ind,"pct_grass_victories_y"] 
                
           if df_merge_all.loc[ind,'best_of'] == 3:     
              df_base_completa_aux.loc[0,"pct_best_of_victories_1"] = df_merge_all.loc[ind,"pct_3sets_victories_y"] 
           else:
              df_base_completa_aux.loc[0,"pct_best_of_victories_1"] = df_merge_all.loc[ind,"pct_5sets_victories_y"]   
        
           df_base_completa_aux.loc[0,"avg_ace_1"] = df_merge_all.loc[ind,"avg_ace_y"] 
           df_base_completa_aux.loc[0,"avg_df_1"] = df_merge_all.loc[ind,"avg_df_y"] 
           df_base_completa_aux.loc[0,"avg_svpt_1"] = df_merge_all.loc[ind,"avg_svpt_y"] 
           df_base_completa_aux.loc[0,"avg_1stIn_1"] = df_merge_all.loc[ind,"avg_1stIn_y"] 
           df_base_completa_aux.loc[0,"avg_1stWon_1"] = df_merge_all.loc[ind,"avg_1stWon_y"] 
           df_base_completa_aux.loc[0,"avg_2ndWon_1"] = df_merge_all.loc[ind,"avg_2ndWon_y"] 
           df_base_completa_aux.loc[0,"avg_SvGms_1"] = df_merge_all.loc[ind,"avg_SvGms_y"] 
           df_base_completa_aux.loc[0,"avg_bpSaved_1"] = df_merge_all.loc[ind,"avg_bpSaved_y"] 
           df_base_completa_aux.loc[0,"avg_bpFaced_1"] = df_merge_all.loc[ind,"avg_bpFaced_y"] 
           df_base_completa_aux.loc[0,"age_1"] = df_merge_all.loc[ind,"age_y"] 
           df_base_completa_aux.loc[0,"rank_points_1"] = df_merge_all.loc[ind,"rank_points_y"] 
           df_base_completa_aux.loc[0,"pct_victories_grand_slam_1"] = df_merge_all.loc[ind,"pct_victories_grand_slam_y"] 
           df_base_completa_aux.loc[0,"pct_victories_master_1000_1"] = df_merge_all.loc[ind,"pct_victories_master_1000_y"] 
           df_base_completa_aux.loc[0,"pct_victories_ATP_250_500_1"] = df_merge_all.loc[ind,"pct_victories_ATP_250_500_y"] 
           df_base_completa_aux.loc[0,"pct_victories_finals_1"] = df_merge_all.loc[ind,"pct_victories_finals_y"] 
           df_base_completa_aux.loc[0,"qty_grand_slam_titles_1"] = df_merge_all.loc[ind,"qty_grand_slam_titles_y"] 
           df_base_completa_aux.loc[0,"qty_master_1000_titles_1"] = df_merge_all.loc[ind,"qty_master_1000_titles_y"] 
           df_base_completa_aux.loc[0,"qty_ATP_250_500_titles_1"] = df_merge_all.loc[ind,"qty_ATP_250_500_titles_y"] 
           df_base_completa_aux.loc[0,"qty_finals_titles_1"] = df_merge_all.loc[ind,"qty_finals_titles_y"] 
            
           # Player_2
           # -------- 
            
           df_base_completa_aux.loc[0,"player_id_2"] = df_merge_all.loc[ind,"player_id_x"] 
        
           if df_merge_all.loc[ind,'surface'] == 'hard':
              df_base_completa_aux.loc[0,"pct_surface_victories_2"] = df_merge_all.loc[ind,"pct_hard_victories_x"] 
           elif df_merge_all.loc[ind,'surface'] == 'clay': 
              df_base_completa_aux.loc[0,"pct_surface_victories_2"] = df_merge_all.loc[ind,"pct_clay_victories_x"] 
           else:     
              df_base_completa_aux.loc[0,"pct_surface_victories_2"] = df_merge_all.loc[ind,"pct_grass_victories_x"] 
                
           if df_merge_all.loc[ind,'best_of'] == 3:     
              df_base_completa_aux.loc[0,"pct_best_of_victories_2"] = df_merge_all.loc[ind,"pct_3sets_victories_x"] 
           else:
              df_base_completa_aux.loc[0,"pct_best_of_victories_2"] = df_merge_all.loc[ind,"pct_5sets_victories_x"]     
        
           df_base_completa_aux.loc[0,"avg_ace_2"] = df_merge_all.loc[ind,"avg_ace_x"] 
           df_base_completa_aux.loc[0,"avg_df_2"] = df_merge_all.loc[ind,"avg_df_x"] 
           df_base_completa_aux.loc[0,"avg_svpt_2"] = df_merge_all.loc[ind,"avg_svpt_x"] 
           df_base_completa_aux.loc[0,"avg_1stIn_2"] = df_merge_all.loc[ind,"avg_1stIn_x"] 
           df_base_completa_aux.loc[0,"avg_1stWon_2"] = df_merge_all.loc[ind,"avg_1stWon_x"] 
           df_base_completa_aux.loc[0,"avg_2ndWon_2"] = df_merge_all.loc[ind,"avg_2ndWon_x"] 
           df_base_completa_aux.loc[0,"avg_SvGms_2"] = df_merge_all.loc[ind,"avg_SvGms_x"] 
           df_base_completa_aux.loc[0,"avg_bpSaved_2"] = df_merge_all.loc[ind,"avg_bpSaved_x"] 
           df_base_completa_aux.loc[0,"avg_bpFaced_2"] = df_merge_all.loc[ind,"avg_bpFaced_x"] 
           df_base_completa_aux.loc[0,"age_2"] = df_merge_all.loc[ind,"age_x"] 
           df_base_completa_aux.loc[0,"rank_points_2"] = df_merge_all.loc[ind,"rank_points_x"] 
           df_base_completa_aux.loc[0,"pct_victories_grand_slam_2"] = df_merge_all.loc[ind,"pct_victories_grand_slam_x"] 
           df_base_completa_aux.loc[0,"pct_victories_master_1000_2"] = df_merge_all.loc[ind,"pct_victories_master_1000_x"] 
           df_base_completa_aux.loc[0,"pct_victories_ATP_250_500_2"] = df_merge_all.loc[ind,"pct_victories_ATP_250_500_x"] 
           df_base_completa_aux.loc[0,"pct_victories_finals_2"] = df_merge_all.loc[ind,"pct_victories_finals_x"] 
           df_base_completa_aux.loc[0,"qty_grand_slam_titles_2"] = df_merge_all.loc[ind,"qty_grand_slam_titles_x"] 
           df_base_completa_aux.loc[0,"qty_master_1000_titles_2"] = df_merge_all.loc[ind,"qty_master_1000_titles_x"] 
           df_base_completa_aux.loc[0,"qty_ATP_250_500_titles_2"] = df_merge_all.loc[ind,"qty_ATP_250_500_titles_x"] 
           df_base_completa_aux.loc[0,"qty_finals_titles_2"] = df_merge_all.loc[ind,"qty_finals_titles_x"] 
            
           if df_merge_all.loc[ind,'surface'] == 'hard':
              if df_merge_all.loc[ind,'qty_hard_matches'] > 0:
                 df_base_completa_aux.loc[0,"pct_player_1_surface_victories"] = df_merge_all.loc[ind,"pct_player_1_grass_victories"] 
                 df_base_completa_aux.loc[0,"pct_player_2_surface_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_grass_victories"].replace(",",".")) 
              else:
                 df_base_completa_aux.loc[0,"pct_player_1_surface_victories"] = 0
                 df_base_completa_aux.loc[0,"pct_player_2_surface_victories"] = 0                            
                                            
           elif df_merge_all.loc[ind,'surface'] == 'clay': 
              if df_merge_all.loc[ind,'qty_clay_matches'] > 0:
                 df_base_completa_aux.loc[0,"pct_player_1_surface_victories"] = df_merge_all.loc[ind,"pct_player_1_clay_victories"] 
                 df_base_completa_aux.loc[0,"pct_player_2_surface_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_clay_victories"].replace(",","."))  
              else:
                 df_base_completa_aux.loc[0,"pct_player_1_surface_victories"] = 0
                 df_base_completa_aux.loc[0,"pct_player_2_surface_victories"] = 0                                                  
           else:      
              if df_merge_all.loc[ind,'qty_grass_matches'] > 0:
                 df_base_completa_aux.loc[0,"pct_player_1_surface_victories"] = df_merge_all.loc[ind,"pct_player_1_grass_victories"] 
                 df_base_completa_aux.loc[0,"pct_player_2_surface_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_grass_victories"].replace(",","."))  
              else:
                 df_base_completa_aux.loc[0,"pct_player_1_surface_victories"] = 0
                 df_base_completa_aux.loc[0,"pct_player_2_surface_victories"] = 0                                                  

                
           if df_merge_all.loc[ind,'best_of'] == 3:     
              if df_merge_all.loc[ind,'qty_3sets_matches'] > 0:       
                 df_base_completa_aux.loc[0,"pct_player_1_best_of_victories"] = df_merge_all.loc[ind,"pct_player_1_3sets_victories"] 
                 df_base_completa_aux.loc[0,"pct_player_2_best_of_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_3sets_victories"].replace(",","."))  
              else:
                 df_base_completa_aux.loc[0,"pct_player_1_best_of_victories"] = 0
                 df_base_completa_aux.loc[0,"pct_player_2_best_of_victories"] = 0                                                        
           else:
              if df_merge_all.loc[ind,'qty_5sets_matches'] > 0:       
                 df_base_completa_aux.loc[0,"pct_player_1_best_of_victories"] = df_merge_all.loc[ind,"pct_player_1_5sets_victories"] 
                 df_base_completa_aux.loc[0,"pct_player_2_best_of_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_5sets_victories"].replace(",","."))  
              else:
                 df_base_completa_aux.loc[0,"pct_player_1_best_of_victories"] = 0
                 df_base_completa_aux.loc[0,"pct_player_2_best_of_victories"] = 0                                             
   
                                            
           if df_merge_all.loc[ind,'qty_grand_slam_matches'] > 0:   
              df_base_completa_aux.loc[0,"pct_player_1_grand_slam_victories"] = df_merge_all.loc[ind,"pct_player_1_grand_slam_victories"] 
              df_base_completa_aux.loc[0,"pct_player_2_grand_slam_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_grand_slam_victories"].replace(",","."))  
           else:
              df_base_completa_aux.loc[0,"pct_player_1_grand_slam_victories"] = 0
              df_base_completa_aux.loc[0,"pct_player_2_grand_slam_victories"] = 0       
                                            
           if df_merge_all.loc[ind,'qty_master_1000_matches'] > 0:   
              df_base_completa_aux.loc[0,"pct_player_1_master_1000_victories"] = df_merge_all.loc[ind,"pct_player_1_master_1000_victories"] 
              df_base_completa_aux.loc[0,"pct_player_2_master_1000_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_master_1000_victories"].replace(",","."))  
           else:
              df_base_completa_aux.loc[0,"pct_player_1_master_1000_victories"] = 0
              df_base_completa_aux.loc[0,"pct_player_2_master_1000_victories"] = 0      
                                            
           if df_merge_all.loc[ind,'qty_finals_matches'] > 0:   
              df_base_completa_aux.loc[0,"pct_player_1_finals_victories"] = df_merge_all.loc[ind,"pct_player_1_finals_victories"] 
              df_base_completa_aux.loc[0,"pct_player_2_finals_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_finals_victories"].replace(",","."))  
           else:
              df_base_completa_aux.loc[0,"pct_player_1_finals_victories"] = 0
              df_base_completa_aux.loc[0,"pct_player_2_finals_victories"] = 0      
                                            
           if df_merge_all.loc[ind,'qty_ATP_250_500_matches'] > 0:   
              df_base_completa_aux.loc[0,"pct_player_1_ATP_250_500_victories"] = df_merge_all.loc[ind,"pct_player_1_ATP_250_500_victories"] 
              df_base_completa_aux.loc[0,"pct_player_2_ATP_250_500_victories"] = 100 - float(df_merge_all.loc[ind,"pct_player_1_ATP_250_500_victories"].replace(",","."))  
           else:
              df_base_completa_aux.loc[0,"pct_player_1_ATP_250_500_victories"] = 0
              df_base_completa_aux.loc[0,"pct_player_2_ATP_250_500_victories"] = 0                                    
                                 
 
        df_base_completa = df_base_completa.append(df_base_completa_aux.iloc[0])   
        del df_base_completa_aux
            
    df_base_completa.to_csv(r'C:\Giba\Dados\_A_Giba\Documentos\Adm\PUC_MG\Python\base_completa_XX.csv', index = False , sep=';')
    df_base_completa.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\base_completa_XX.xlsx")
    
    print('OK')

## Execuções

In [68]:
gera_ATP_ODDS_final()

      tourney_id  tourney_date  match_num round  winner_id  loser_id surface  \
3053    2001-339      20010101          1   R32     103720    101885    Hard
3054    2001-451      20010101          1   R32     102338    101532    Hard
3055    2001-891      20010101          1   R32     103758    102796    Hard
3057    2001-451      20010101          2   R32     102966    102106    Hard
3058    2001-891      20010101          2   R32     103709    102286    Hard
...          ...           ...        ...   ...        ...       ...     ...
55609  2019-0605      20191111        296    RR     104745    126774    Hard
55610  2019-0605      20191111        297    RR     104745    106421    Hard
55611  2019-0605      20191111        298    SF     106233    100644    Hard
55612  2019-0605      20191111        299    SF     126774    103819    Hard
55613  2019-0605      20191111        300     F     126774    106233    Hard

      tourney_level  best_of  AvgW  AvgL  winner  player_1_id  player_2_id
3053              A        3  1.20  3.55       2       101885       103720
3054              A        3  1.30  2.77       2       101532       102338
3055              A        3  3.75  1.15       2       102796       103758
3057              A        3  2.03  1.56       2       102106       102966
3058              A        3  2.00  1.58       2       102286       103709
...             ...      ...   ...   ...     ...          ...          ...
55609             F        3  1.41  2.93       1       104745       126774
55610             F        3  2.16  1.71       1       104745       106421
55611             F        3  1.78  2.06       2       100644       106233
55612             F        3  3.39  1.33       2       103819       126774
55613             F        3  1.96  1.86       2       106233       126774

[44668 rows x 14 columns]

In [120]:
gera_bases_finais()

1-00:37:30
101-00:37:38
201-00:37:45
301-00:37:53
401-00:38:01
501-00:38:09
601-00:38:16
701-00:38:24
801-00:38:32
901-00:38:40
1001-00:38:48
1101-00:38:57
1201-00:39:05
1301-00:39:13
1401-00:39:21
1501-00:39:30
1601-00:39:38
1701-00:39:46
1801-00:39:55
1901-00:40:03
2001-00:40:12
2101-00:40:20
2201-00:40:29
2301-00:40:38
2401-00:40:47
2501-00:40:56
2601-00:41:05
2701-00:41:14
2801-00:41:23
2901-00:41:33
3001-00:41:42
3101-00:41:52
3201-00:42:01
3301-00:42:11
3401-00:42:22
3501-00:42:33
3601-00:42:45
3701-00:42:55
3801-00:43:04
3901-00:43:23
4001-00:43:37
4101-00:43:51
4201-00:44:05
4301-00:44:19
4401-00:44:33
4501-00:44:47
4601-00:45:01
4701-00:45:15
4801-00:45:29
4901-00:45:43
5001-00:46:02
5101-00:46:21
5201-00:46:36
5301-00:46:50
5401-00:47:02
5501-00:47:16
5601-00:47:28
5701-00:47:40
5801-00:47:52
5901-00:48:05
6001-00:48:17
6101-00:48:35
6201-00:48:47
6301-00:49:00
6401-00:49:12
6501-00:49:25
6601-00:49:38
6701-00:49:50
6801-00:50:03
6901-00:50:16
7001-00:50:29
7101-00:50:42
7201-00:50:55
7301-00:51:09
7401-00:51:22
7501-00:51:35
7601-00:51:49
7701-00:52:03
7801-00:52:18
7901-00:52:32
8001-00:52:46
8101-00:53:00
8201-00:53:13
8301-00:53:28
8401-00:53:44
8501-00:53:58
8601-00:54:13
8701-00:54:28
8801-00:54:42
8901-00:54:58
9001-00:55:13
9101-00:55:29
9201-00:55:47
9301-00:56:03
9401-00:56:17
9501-00:56:30
9601-00:56:44
9701-00:56:57
9801-00:57:12
9901-00:57:27
10001-00:57:44
10101-00:57:59
10201-00:58:13
10301-00:58:30
10401-00:58:50
10501-00:59:08
10601-00:59:27
10701-00:59:53
10801-01:00:09
10901-01:00:27
11001-01:00:45
11101-01:01:07
11201-01:01:27
11301-01:01:47
11401-01:02:07
11501-01:02:26
11601-01:02:43
11701-01:03:06
11801-01:03:30
11901-01:03:47
12001-01:04:03
12101-01:04:21
12201-01:04:39
12301-01:04:56
12401-01:05:19
12501-01:05:39
12601-01:05:59
12701-01:06:20
12801-01:06:38
12901-01:06:55
13001-01:07:11
13101-01:07:32
13201-01:07:52
13301-01:08:12
13401-01:08:32
13501-01:08:54
13601-01:09:14
13701-01:09:33
13801-01:09:52
13901-01:10:11
14001-01:10:30
14101-01:10:49
14201-01:11:09
14301-01:11:28
14401-01:11:48
14501-01:12:09
14601-01:12:29
14701-01:12:49
14801-01:13:09
14901-01:13:30
15001-01:13:50
15101-01:14:11
15201-01:14:30
15301-01:14:47
15401-01:15:06
15501-01:15:23
15601-01:15:41
15701-01:15:58
15801-01:16:17
15901-01:16:39
16001-01:16:58
16101-01:17:20
16201-01:17:42
16301-01:18:01
16401-01:18:19
16501-01:18:38
16601-01:18:56
16701-01:19:14
16801-01:19:32
16901-01:19:50
17001-01:20:09
17101-01:20:27
17201-01:20:46
17301-01:21:05
17401-01:21:24
17501-01:21:43
17601-01:22:02
17701-01:22:21
17801-01:22:41
17901-01:23:00
18001-01:23:19
18101-01:23:39
18201-01:23:58
18301-01:24:18
18401-01:24:37
18501-01:24:57
18601-01:25:18
18701-01:25:37
18801-01:25:57
18901-01:26:17
19001-01:26:37
19101-01:26:57
19201-01:27:17
19301-01:27:37
19401-01:27:57
19501-01:28:17
19601-01:28:37
19701-01:28:58
19801-01:29:19
19901-01:29:39
20001-01:30:00
20101-01:30:20
20201-01:30:41
20301-01:31:02
20401-01:31:23
20501-01:31:44
20601-01:32:05
20701-01:32:25
20801-01:32:46
20901-01:33:07
21001-01:33:29
21101-01:33:51
21201-01:34:12
21301-01:34:33
21401-01:34:55
21501-01:35:16
21601-01:35:38
21701-01:36:00
21801-01:36:21
21901-01:36:43
22001-01:37:05
22101-01:37:27
22201-01:37:49
22301-01:38:12
22401-01:38:34
22501-01:38:56
22601-01:39:18
22701-01:39:41
22801-01:40:03
22901-01:40:25
23001-01:40:47
23101-01:41:09
23201-01:41:32
23301-01:41:55
23401-01:42:18
23501-01:42:41
23601-01:43:03
23701-01:43:27
23801-01:43:50
23901-01:44:13
24001-01:44:36
24101-01:44:59
24201-01:45:23
24301-01:45:46
24401-01:46:09
24501-01:46:32
24601-01:46:56
24701-01:47:20
24801-01:47:44
24901-01:48:08
25001-01:48:31
25101-01:48:55
25201-01:49:19
25301-01:49:43
25401-01:50:07
25501-01:50:31
25601-01:50:55
25701-01:51:20
25801-01:51:44
25901-01:52:09
26001-01:52:34
26101-01:52:59
26201-01:53:24
26301-01:53:49
26401-01:54:13
26501-01:54:38
26601-01:55:03
26701-01:55:28
26801-01:55:53
26901-01:56:19
27001-01:56:44
27101-01:57:09
27201-01:57:35
27301-01:58:01
27401-01:58:26
27501-01:58:52
27601-01:59:18
27701-01:59:44
27801-02:00:10
27901-02:00:36
28001-02:01:02
28101-02:01:28
28201-02:01:54
28301-02:02:20
28401-02:02:46
28501-02:03:13
28601-02:03:40
28701-02:04:07
28801-02:04:33
28901-02:04:59
29001-02:05:26
29101-02:05:53
29201-02:06:20
29301-02:06:46
29401-02:07:13
29501-02:07:40
29601-02:08:08
29701-02:08:35
29801-02:09:02
29901-02:09:30
30001-02:09:57
30101-02:10:24
30201-02:10:52
30301-02:11:19
30401-02:11:47
30501-02:12:15
30601-02:12:42
30701-02:13:10
30801-02:13:38
30901-02:14:06
31001-02:14:34
31101-02:15:02
31201-02:15:30
31301-02:15:58
31401-02:16:26
31501-02:16:55
31601-02:17:24
31701-02:17:53
31801-02:53:12
31901-02:53:42
32001-02:54:12
32101-02:54:41
32201-02:55:12
32301-02:55:40
32401-02:56:09
32501-02:56:37
32601-02:57:06
32701-02:57:35
32801-02:58:08
32901-02:58:39
33001-02:59:08
33101-02:59:38
33201-03:00:07
33301-03:00:38
33401-03:01:07
33501-03:01:37
33601-03:02:07
33701-03:02:37
33801-03:03:08
33901-03:03:38
34001-03:04:08
34101-03:04:39
34201-03:05:09
34301-03:05:40
34401-03:06:10
34501-03:06:40
34601-03:07:11
34701-03:07:41
34801-03:08:13
34901-03:08:44
35001-03:09:15
35101-03:09:46
35201-03:10:19
35301-03:10:50
35401-03:11:21
35501-03:11:53
35601-03:12:24
35701-03:12:55
35801-03:13:27
35901-03:13:59
36001-03:14:30
36101-03:15:02
36201-03:15:34
36301-03:16:06
36401-03:16:37
36501-03:17:09
36601-03:17:41
36701-03:18:14
36801-03:18:46
36901-03:19:18
37001-03:19:51
37101-03:20:23
37201-03:20:55
37301-03:21:28
37401-03:22:00
37501-03:22:34
37601-03:23:07
37701-03:23:40
37801-03:24:13
37901-03:24:45
38001-03:25:18
38101-03:25:51
38201-03:26:24
38301-03:26:57
38401-03:27:29
38501-03:28:03
38601-03:28:36
38701-03:29:09
38801-03:29:42
38901-03:30:15
39001-03:30:49
39101-03:31:22
39201-03:31:56
39301-03:32:30
39401-03:33:04
39501-03:33:38
39601-03:34:12
39701-03:34:46
39801-03:35:20
39901-03:35:54
40001-03:36:28
40101-03:37:03
40201-03:37:37
40301-03:38:12
40401-03:38:47
40501-03:39:21
40601-03:39:56
40701-03:40:31
40801-03:41:05
40901-03:41:40
41001-03:42:15
41101-03:42:50
41201-03:43:24
41301-03:44:00
41401-03:44:35
41501-03:45:10
41601-03:45:45
41701-03:46:20
41801-03:46:55
41901-03:47:31
42001-03:48:07
42101-03:48:42
42201-03:49:18
42301-03:49:53
42401-03:50:29
42501-03:51:04
42601-03:51:40
42701-03:52:17
42801-03:52:54
42901-03:53:31
43001-03:54:08
43101-12:58:33
43201-12:59:28
43301-13:00:11
43401-13:00:56
43501-13:01:41
43601-13:02:22
43701-13:03:15
43801-13:03:57
43901-13:04:44
44001-13:05:31
44101-13:06:17
44201-13:06:58
44301-13:07:38
44401-13:08:17
44501-13:08:55
44601-13:09:40
OK

In [118]:
df_ABC = pd.read_excel (r'C:\Giba\Dados\_A_Giba\\Documentos\Adm\PUC_MG\Python\base_completa_XX.xlsx')
print(df_ABC)

     Unnamed: 0 tourney_id  tourney_date  match_num round surface  \
0             0   2001-339      20010101          1   R32    Hard
1             0   2001-451      20010101          1   R32    Hard
2             0   2001-891      20010101          1   R32    Hard
3             0   2001-451      20010101          2   R32    Hard
4             0   2001-891      20010101          2   R32    Hard
..          ...        ...           ...        ...   ...     ...
296           0   2001-506      20010219         11   R32    Clay
297           0   2001-402      20010219         12   R64    Hard
298           0   2001-407      20010219         12   R32    Hard
299           0   2001-506      20010219         12   R32    Clay
300           0   2001-407      20010219         13   R32    Hard

    tourney_level  best_of  AvgW  AvgL  ...  \
0               A        3  1.20  3.55  ...
1               A        3  1.30  2.77  ...
2               A        3  3.75  1.15  ...
3               A        3  2.03  1.56  ...
4               A        3  2.00  1.58  ...
..            ...      ...   ...   ...  ...
296             A        3  1.64  2.03  ...
297             A        3  1.48  2.39  ...
298             A        3  1.58  2.11  ...
299             A        3  1.79  1.86  ...
300             A        3  1.48  2.34  ...

     pct_player_1_master_1000_victories pct_player_1_finals_victories  \
0                                     0                             0
1                                     0                             0
2                                     0                             0
3                                     0                             0
4                                     0                             0
..                                  ...                           ...
296                                   0                             0
297                                   0                             0
298                                   0                             0
299                               100,0                             0
300                                 0,0                             0

    pct_player_1_ATP_250_500_victories pct_player_2_surface_victories  \
0                                  0,0                              0
1                                100,0                              0
2                                  0,0                              0
3                                  0,0                              0
4                                  0,0                              0
..                                 ...                            ...
296                                  0                              0
297                                0,0                              0
298                                0,0                              0
299                                0,0                              0
300                              100,0                              0

    pct_player_2_best_of_victories pct_player_2_grand_slam_victories  \
0                            100.0                               100
1                              0.0                                 0
2                            100.0                                 0
3                            100.0                                 0
4                            100.0                                 0
..                             ...                               ...
296                            0.0                                 0
297                          100.0                                 0
298                          100.0                                 0
299                           50.0                                 0
300                           50.0                                 0

    pct_player_2_master_1000_victories pct_player_2_finals_victories  \
0                                    0                             0
1                                    0                             0
2                                    0                             0
3                                    0                             0
4                                    0                             0
..                                 ...                           ...
296                                  0                             0
297                                  0                             0
298                                  0                             0
299                                  0                             0
300                                100                             0

    pct_player_2_ATP_250_500_victories winner
0                                100.0      2
1                                  0.0      2
2                                100.0      2
3                                100.0      2
4                                100.0      2
..                                 ...    ...
296                                0.0      1
297                              100.0      2
298                              100.0      2
299                              100.0      2
300                                0.0      2

[301 rows x 67 columns]

In [8]:
ajusta_dataframes_resultados_agregados()

      tourney_id  tourney_date  match_num round  winner_id  loser_id surface  \
0       2000-339      20000103          1   R32     102358    103096    Hard
1       2000-451      20000103          1   R32     103017    101543    Hard
2       2000-891      20000103          1   R32     103420    102338    Hard
3       2000-339      20000103          2   R32     103819    102533    Hard
4       2000-451      20000103          2   R32     101750    102730    Hard
...          ...           ...        ...   ...        ...       ...     ...
55609  2019-0605      20191111        296    RR     104745    126774    Hard
55610  2019-0605      20191111        297    RR     104745    106421    Hard
55611  2019-0605      20191111        298    SF     106233    100644    Hard
55612  2019-0605      20191111        299    SF     126774    103819    Hard
55613  2019-0605      20191111        300     F     126774    106233    Hard

      tourney_level  best_of  AvgW  AvgL  winner
0                 A        3   NaN   NaN       2
1                 A        3   NaN   NaN       1
2                 A        3   NaN   NaN       1
3                 A        3   NaN   NaN       1
4                 A        3   NaN   NaN       2
...             ...      ...   ...   ...     ...
55609             F        3  1.41  2.93       2
55610             F        3  2.16  1.71       2
55611             F        3  1.78  2.06       1
55612             F        3  3.39  1.33       1
55613             F        3  1.96  1.86       1

[55614 rows x 12 columns]

In [49]:
gera_dataframes_resultados_agregados()

--------------------------------------------
1998
23:55:04
3591
--------------------------------------------
1-23:55:04
101-23:55:25
201-23:55:47
301-23:56:10
401-23:56:32
501-23:56:55
601-23:57:18
701-23:57:41
801-23:58:04
901-23:58:27
1001-23:58:51
1101-23:59:15
1201-23:59:39
1301-00:00:04
1401-00:00:29
1501-00:00:54
1601-00:01:19
1701-00:01:46
1801-00:02:13
1901-00:02:39
2001-00:03:06
2101-00:03:34
2201-00:04:02
2301-00:04:30
2401-00:04:59
2501-00:05:27
2601-00:05:57
2701-00:06:27
2801-00:06:58
2901-00:07:28
3001-00:07:59
3101-00:08:31
3201-00:09:03
3301-00:09:35
3401-00:10:07
3501-00:10:40
    player_id tourney_id tourney_date round match_num match_seq  \
0      102019   1998-339     19980105   R32         6         1
1      103066   1998-301     19980112   R16        17         2
2      102875   1998-580     19980119  R128        62         1
3      102578   1998-322     19980202   R32        15         1
4      101926   1998-322     19980202   R16        19         2
..        ...        ...          ...   ...       ...       ...
492    102106  1998-D060     19981204    RR         2        63
493    101320  1998-D060     19981204    RR         4        61
494    101150  1998-D060     19981204    RR         4        51
495    101717  1998-D060     19981204    RR         5        12
496    102796  1998-D060     19981204    RR         5        59

    qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                   0                   0             0.000000
1                   0                   0             0.000000
2                   0                   0             0.000000
3                   0                   0             0.000000
4                   0                   0             0.000000
..                ...                 ...                  ...
492                 5                   4            80.000000
493                 3                   2            66.666667
494                 7                   4            57.142857
495                 0                   0             0.000000
496                 4                   2            50.000000

    qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                  1  ...                       1                          0
1                  2  ...                       2                          1
2                  1  ...                       0                          0
3                  1  ...                       1                          0
4                  2  ...                       2                          1
..               ...  ...                     ...                        ...
492               20  ...                      42                         20
493               31  ...                      38                         25
494               35  ...                      33                         16
495                5  ...                       8                          4
496               25  ...                      37                         19

    pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                    0.000000                  0                     0
1                   50.000000                  0                     0
2                    0.000000                  0                     0
3                    0.000000                  0                     0
4                   50.000000                  0                     0
..                        ...                ...                   ...
492                 47.619048                  0                     0
493                 65.789474                  0                     0
494                 48.484848                  0                     0
495                 50.000000                  0                     0
496                 51.351351                  0                     0

    pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                    0.0                     0                       0
1                    0.0                     0                       0
2                    0.0                     0                       0
3                    0.0                     0                       0
4                    0.0                     0                       0
..                   ...                   ...                     ...
492                  0.0                     0                       0
493                  0.0                     0                       0
494                  0.0                     0                       0
495                  0.0                     0                       0
496                  0.0                     0                       0

    qty_ATP_250_500_titles qty_finals_titles
0                        0                 0
1                        0                 0
2                        0                 0
3                        0                 0
4                        0                 0
..                     ...               ...
492                      0                 0
493                      2                 0
494                      0                 0
495                      0                 0
496                      1                 0

[497 rows x 63 columns]
--------------------------------------------
1999
00:11:13
3334
--------------------------------------------
1-00:11:13
101-00:11:42
201-00:12:11
301-00:12:40
401-00:13:10
501-00:13:40
601-00:14:10
701-00:14:41
801-00:15:12
901-00:15:43
1001-00:16:15
1101-00:16:46
1201-00:17:19
1301-00:17:51
1401-00:18:25
1501-00:18:58
1601-00:19:33
1701-00:20:07
1801-00:20:42
1901-00:21:17
2001-00:21:54
2101-00:22:30
2201-00:23:07
2301-00:23:44
2401-00:24:21
2501-00:24:59
2601-00:25:37
2701-00:26:16
2801-00:26:55
2901-00:27:34
3001-00:28:15
3101-00:28:55
3201-00:29:35
3301-00:30:17
    player_id tourney_id tourney_date round match_num match_seq  \
0      102019   1998-339     19980105   R32         6         1
1      102875   1998-580     19980119  R128        62         1
2      102578   1998-322     19980202   R32        15         1
3      101926   1998-322     19980202   R16        19         2
4      101841   1998-495     19980209   R32        11         1
..        ...        ...          ...   ...       ...       ...
637    102839   1999-605     19991122    RR        22       131
638    102882  1999-D005     19991203    RR         4       106
639    101611  1999-D005     19991203    RR         4       145
640    103206  1999-D005     19991203    RR         5       100
641    103720  1999-D005     19991203    RR         5        83

    qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                   0                   0             0.000000
1                   0                   0             0.000000
2                   0                   0             0.000000
3                   0                   0             0.000000
4                   0                   0             0.000000
..                ...                 ...                  ...
637                 4                   1            25.000000
638                13                   9            69.230769
639                17                  13            76.470588
640                11                   7            63.636364
641                16                  11            68.750000

    qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                  1  ...                       1                          0
1                  1  ...                       0                          0
2                  1  ...                       1                          0
3                  2  ...                       2                          1
4                  1  ...                       1                          0
..               ...  ...                     ...                        ...
637               63  ...                      69                         40
638               70  ...                      41                         25
639               94  ...                      82                         45
640               54  ...                      60                         33
641               56  ...                      57                         41

    pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                    0.000000                  0                     0
1                    0.000000                  0                     0
2                    0.000000                  0                     0
3                   50.000000                  0                     0
4                    0.000000                  0                     0
..                        ...                ...                   ...
637                 57.971014                  3                     0
638                 60.975610                  0                     0
639                 54.878049                  0                     0
640                 55.000000                  0                     0
641                 71.929825                  0                     0

    pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                    0.0                     0                       0
1                    0.0                     0                       0
2                    0.0                     0                       0
3                    0.0                     0                       0
4                    0.0                     0                       0
..                   ...                   ...                     ...
637                  0.0                     0                       0
638                  0.0                     0                       1
639                  0.0                     0                       0
640                  0.0                     0                       0
641                  0.0                     0                       0

    qty_ATP_250_500_titles qty_finals_titles
0                        0                 0
1                        0                 0
2                        0                 0
3                        0                 0
4                        0                 0
..                     ...               ...
637                      2                 0
638                      2                 0
639                      1                 0
640                      0                 0
641                      2                 0

[642 rows x 63 columns]

--------------------------------------------
2000
00:30:35
3378
--------------------------------------------
1-00:30:35
101-00:31:11
201-00:31:48
301-00:32:26
401-00:33:02
501-00:33:40
601-00:34:19
701-00:34:57
801-00:35:35
901-00:36:15
1001-00:36:54
1101-00:37:35
1201-00:38:15
1301-00:38:56
1401-00:39:37
1501-00:40:18
1601-00:41:00
1701-00:41:42
1801-00:42:25
1901-00:43:08
2001-00:43:52
2101-00:44:35
2201-00:45:19
2301-00:46:04
2401-00:46:49
2501-00:47:35
2601-00:48:25
2701-00:49:22
2801-00:50:14
2901-00:51:07
3001-00:52:00
3101-00:52:49
3201-00:53:38
3301-00:54:28
    player_id tourney_id tourney_date round match_num match_seq  \
0      102019   1998-339     19980105   R32         6         1
1      102875   1998-580     19980119  R128        62         1
2      102578   1998-322     19980202   R32        15         1
3      101926   1998-322     19980202   R16        19         2
4      101841   1998-495     19980209   R32        11         1
..        ...        ...          ...   ...       ...       ...
752    102374   2000-605     20001127    RR        24       212
753    102610  2000-D049     20001208    RR         1       193
754    102158  2000-D049     20001208    RR         2       189
755    103507  2000-D049     20001208    RR         4        96
756    103720  2000-D049     20001208    RR         4       163

    qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                   0                   0             0.000000
1                   0                   0             0.000000
2                   0                   0             0.000000
3                   0                   0             0.000000
4                   0                   0             0.000000
..                ...                 ...                  ...
752                 2                   0             0.000000
753                 3                   1            33.333333
754                40                  33            82.500000
755                 1                   0             0.000000
756                26                  19            73.076923

    qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                  1  ...                       1                          0
1                  1  ...                       0                          0
2                  1  ...                       1                          0
3                  2  ...                       2                          1
4                  1  ...                       1                          0
..               ...  ...                     ...                        ...
752              110  ...                     104                         77
753               80  ...                      99                         64
754              124  ...                      91                         63
755               45  ...                      55                         35
756              110  ...                      89                         69

    pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                    0.000000                  0                     0
1                    0.000000                  0                     0
2                    0.000000                  0                     0
3                   50.000000                  0                     0
4                    0.000000                  0                     0
..                        ...                ...                   ...
752                 74.038462                  8                     5
753                 64.646465                  2                     0
754                 69.230769                  0                     0
755                 63.636364                  0                     0
756                 77.528090                  3                     1

    pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0               0.000000                     0                       0
1               0.000000                     0                       0
2               0.000000                     0                       0
3               0.000000                     0                       0
4               0.000000                     0                       0
..                   ...                   ...                     ...
752            62.500000                     0                       1
753             0.000000                     0                       1
754             0.000000                     1                       2
755             0.000000                     0                       0
756            33.333333                     0                       0

    qty_ATP_250_500_titles qty_finals_titles
0                        0                 0
1                        0                 0
2                        0                 0
3                        0                 0
4                        0                 0
..                     ...               ...
752                      8                 1
753                      4                 0
754                      6                 0
755                      1                 0
756                      6                 0

[757 rows x 63 columns]
--------------------------------------------
2001
00:55:12
3307
--------------------------------------------
1-00:55:12
101-00:55:57
201-00:56:41
301-00:57:25
401-00:58:11
501-00:58:56
601-00:59:41
701-01:00:27
801-01:01:14
901-01:02:02
1001-01:02:49
1101-01:03:36
1201-01:04:26
1301-01:05:14
1401-01:06:03
1501-01:06:59
1601-01:07:50
1701-01:08:41
1801-01:09:37
1901-01:10:47
2001-01:11:47
2101-01:12:52
2201-01:13:52
2301-01:14:52
2401-01:15:52
2501-01:16:56
2601-01:18:02
2701-01:19:06
2801-01:20:09
2901-01:21:09
3001-01:22:10
3101-01:23:12
3201-01:24:17
3301-01:25:20
    player_id tourney_id tourney_date round match_num match_seq  \
0      102019   1998-339     19980105   R32         6         1
1      102578   1998-322     19980202   R32        15         1
2      101926   1998-322     19980202   R16        19         2
3      101841   1998-495     19980209   R32        11         1
4      103164   1998-568     19980209   R32        12         1
..        ...        ...          ...   ...       ...       ...
859    102158  2001-D079     20011130    RR         2       255
860    103720  2001-D079     20011130    RR         4       261
861    103206  2001-D079     20011130    RR         4       248
862    102765  2001-D079     20011130    RR         5       189
863    101885  2001-D079     20011130    RR         5       108

    qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                   0                   0             0.000000
1                   0                   0             0.000000
2                   0                   0             0.000000
3                   0                   0             0.000000
4                   0                   0             0.000000
..                ...                 ...                  ...
859                55                  45            81.818182
860                44                  35            79.545455
861                26                  16            61.538462
862                27                  18            66.666667
863                31                  19            61.290323

    qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                  1  ...                       1                          0
1                  1  ...                       1                          0
2                  2  ...                       2                          1
3                  1  ...                       1                          0
4                  1  ...                       1                          0
..               ...  ...                     ...                        ...
859              170  ...                     109                         76
860              171  ...                     125                         99
861              144  ...                     128                         75
862              128  ...                     100                         54
863               59  ...                      71                         33

    pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                    0.000000                  0                     0
1                    0.000000                  0                     0
2                   50.000000                  0                     0
3                    0.000000                  0                     0
4                    0.000000                  0                     0
..                        ...                ...                   ...
859                 69.724771                  3                     0
860                 79.200000                  8                     6
861                 58.593750                  5                     3
862                 54.000000                  0                     0
863                 46.478873                  0                     0

    pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                    0.0                     0                       0
1                    0.0                     0                       0
2                    0.0                     0                       0
3                    0.0                     0                       0
4                    0.0                     0                       0
..                   ...                   ...                     ...
859                  0.0                     1                       2
860                 75.0                     1                       0
861                 60.0                     0                       1
862                  0.0                     0                       0
863                  0.0                     0                       0

    qty_ATP_250_500_titles qty_finals_titles
0                        0                 0
1                        0                 0
2                        0                 0
3                        0                 0
4                        0                 0
..                     ...               ...
859                      7                 0
860                     11                 1
861                      1                 0
862                      2                 0
863                      0                 0

[864 rows x 63 columns]

--------------------------------------------
2002
01:25:31
3213
--------------------------------------------
1-01:25:31
101-01:26:26
201-01:27:26
301-01:28:22
401-01:29:20
501-01:30:19
601-01:31:19
701-01:32:20
801-01:33:20
901-01:34:18
1001-01:35:19
1101-01:36:19
1201-01:37:23
1301-01:38:26
1401-01:39:28
1501-01:40:29
1601-01:41:29
1701-01:42:31
1801-01:43:32
1901-01:44:33
2001-01:45:37
2101-01:46:46
2201-01:48:05
2301-01:49:37
2401-01:51:15
2501-01:52:30
2601-01:53:42
2701-01:54:51
2801-01:56:04
2901-01:57:14
3001-01:58:21
3101-01:59:29
3201-02:00:42
    player_id tourney_id tourney_date round match_num match_seq  \
0      102019   1998-339     19980105   R32         6         1
1      102578   1998-322     19980202   R32        15         1
2      101926   1998-322     19980202   R16        19         2
3      101841   1998-495     19980209   R32        11         1
4      103164   1998-568     19980209   R32        12         1
..        ...        ...          ...   ...       ...       ...
969    102338  2002-D084     20021129    RR         2       448
970    103498  2002-D084     20021129    RR         4       360
971    103206  2002-D084     20021129    RR         4       313
972    104022  2002-D084     20021129    RR         5       110
973    103908  2002-D084     20021129    RR         5        46

    qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                   0                   0             0.000000
1                   0                   0             0.000000
2                   0                   0             0.000000
3                   0                   0             0.000000
4                   0                   0             0.000000
..                ...                 ...                  ...
969                34                  23            67.647059
970                17                   9            52.941176
971                26                  16            61.538462
972                19                  12            63.157895
973                 2                   1            50.000000

    qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                  1  ...                       1                          0
1                  1  ...                       1                          0
2                  2  ...                       2                          1
3                  1  ...                       1                          0
4                  1  ...                       1                          0
..               ...  ...                     ...                        ...
969              318  ...                     236                        160
970              231  ...                     174                        108
971              187  ...                     152                         91
972               54  ...                      78                         39
973               24  ...                      35                         21

    pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                    0.000000                  0                     0
1                    0.000000                  0                     0
2                   50.000000                  0                     0
3                    0.000000                  0                     0
4                    0.000000                  0                     0
..                        ...                ...                   ...
969                 67.796610                 14                     7
970                 62.068966                  7                     2
971                 59.868421                  5                     3
972                 50.000000                  0                     0
973                 60.000000                  0                     0

    pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0               0.000000                     0                       0
1               0.000000                     0                       0
2               0.000000                     0                       0
3               0.000000                     0                       0
4               0.000000                     0                       0
..                   ...                   ...                     ...
969            50.000000                     1                       0
970            28.571429                     1                       3
971            60.000000                     0                       1
972             0.000000                     0                       0
973             0.000000                     0                       0

    qty_ATP_250_500_titles qty_finals_titles
0                        0                 0
1                        0                 0
2                        0                 0
3                        0                 0
4                        0                 0
..                     ...               ...
969                     12                 0
970                      7                 0
971                      2                 0
972                      1                 0
973                      2                 0

[974 rows x 63 columns]
--------------------------------------------
2003
02:00:58
3218
--------------------------------------------
1-02:00:58
101-02:02:04
201-02:03:09
301-02:04:16
401-02:05:24
501-02:06:34
601-02:07:47
701-02:08:57
801-02:10:07
901-02:11:28
1001-02:12:44
1101-02:14:01
1201-02:15:17
1301-02:16:51
1401-02:18:09
1501-02:19:24
1601-02:20:35
1701-02:21:40
1801-02:22:47
1901-02:23:52
2001-02:24:59
2101-02:26:06
2201-02:27:14
2301-02:28:22
2401-02:29:29
2501-02:30:37
2601-02:31:46
2701-02:32:56
2801-02:34:07
2901-02:35:17
3001-02:36:27
3101-02:37:39
3201-02:38:50
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1097    103909   2003-605     20031110    RR        22       164
1098    103720  2003-D039     20031128    RR         1       386
1099    102845  2003-D039     20031128    RR         2       411
1100    102882  2003-D039     20031128    RR         4       276
1101    103507  2003-D039     20031128    RR         4       335

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0              0.00000
1                    0                   0              0.00000
2                    0                   0              0.00000
3                    0                   0              0.00000
4                    0                   0              0.00000
...                ...                 ...                  ...
1097                 2                   0              0.00000
1098                64                  52             81.25000
1099                18                   9             50.00000
1100                37                  26             70.27027
1101                12                   6             50.00000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1097               64  ...                      87                         62
1098              251  ...                     165                        132
1099              184  ...                     205                        142
1100              192  ...                     112                         71
1101              167  ...                     145                        102

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1097                 71.264368                  3                     1
1098                 80.000000                 13                    10
1099                 69.268293                 12                     7
1100                 63.392857                  0                     0
1101                 70.344828                 12                     5

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1097            33.333333                     0                       1
1098            76.923077                     2                       2
1099            58.333333                     1                       2
1100             0.000000                     0                       1
1101            41.666667                     1                       4

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1097                      5                 0
1098                     14                 2
1099                      8                 0
1100                      5                 0
1101                      6                 0

[1102 rows x 63 columns]

--------------------------------------------
2004
02:39:09
3288
--------------------------------------------
1-02:39:09
101-02:40:15
201-02:41:21
301-02:42:28
401-02:43:35
501-02:44:43
601-02:45:51
701-02:47:00
801-02:48:09
901-02:49:19
1001-02:50:28
1101-02:51:38
1201-02:52:49
1301-02:54:00
1401-02:55:12
1501-02:56:24
1601-02:57:36
1701-02:58:49
1801-03:00:02
1901-03:01:16
2001-03:02:30
2101-03:03:45
2201-03:05:01
2301-03:06:16
2401-03:07:34
2501-03:08:50
2601-03:10:07
2701-03:11:24
2801-03:12:42
2901-03:14:00
3001-03:15:19
3101-03:16:37
3201-03:17:57
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1219    104745  2004-D015     20041203    RR         2        75
1220    102845  2004-D015     20041203    RR         4       490
1221    104053  2004-D015     20041203    RR         4       326
1222    103888  2004-D015     20041203    RR         5       156
1223    103990  2004-D015     20041203    RR         5       255

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1219                 3                   2            66.666667
1220                22                  12            54.545455
1221                37                  30            81.081081
1222                28                  17            60.714286
1223                25                  16            64.000000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1219               35  ...                      44                         27
1220              217  ...                     237                        167
1221              227  ...                     144                        114
1222              114  ...                      91                         57
1223              119  ...                     145                         90

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1219                 61.363636                  0                     0
1220                 70.464135                 15                     8
1221                 79.166667                  8                     5
1222                 62.637363                  0                     0
1223                 62.068966                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1219             0.000000                     0                       0
1220            53.333333                     1                       3
1221            62.500000                     1                       3
1222             0.000000                     0                       0
1223             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1219                      1                 0
1220                     10                 0
1221                     11                 0
1222                      1                 0
1223                      2                 0

[1224 rows x 63 columns]
--------------------------------------------
2005
03:19:13
3263
--------------------------------------------
1-03:19:13
101-03:20:27
201-10:09:57
301-10:11:28
401-10:12:43
501-10:14:09
601-10:15:44
701-10:17:11
801-10:18:41
901-10:20:19
1001-10:21:55
1101-10:23:33
1201-10:25:05
1301-10:26:44
1401-10:28:39
1501-10:30:17
1601-10:32:00
1701-10:33:44
1801-10:35:15
1901-10:36:48
2001-10:38:17
2101-10:40:01
2201-10:41:36
2301-10:43:19
2401-10:44:57
2501-10:46:30
2601-10:48:02
2701-10:49:33
2801-10:51:13
2901-10:52:46
3001-10:54:26
3101-10:56:06
3201-10:57:43
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1317    102344  2005-D015     20051202    RR         1       340
1318    103103  2005-D015     20051202    RR         4       510
1319    103344  2005-D015     20051202    RR         4       380
1320    104339  2005-D015     20051202    RR         5       173
1321    103455  2005-D015     20051202    RR         5        19

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1317                43                  25            58.139535
1318                17                   5            29.411765
1319                19                   6            31.578947
1320                32                  22            68.750000
1321                 7                   2            28.571429

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1317              213  ...                     200                        125
1318              306  ...                     304                        173
1319              263  ...                     209                        127
1320              111  ...                      93                         54
1321                5  ...                      11                          4

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1317                 62.500000                  3                     0
1318                 56.907895                  0                     0
1319                 60.765550                  3                     1
1320                 58.064516                  0                     0
1321                 36.363636                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1317             0.000000                     0                       0
1318             0.000000                     0                       0
1319            33.333333                     0                       0
1320             0.000000                     0                       0
1321             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1317                      5                 0
1318                      7                 0
1319                      3                 0
1320                      1                 0
1321                      0                 0

[1322 rows x 63 columns]

--------------------------------------------
2006
10:58:48
3267
--------------------------------------------
1-10:58:48
101-11:00:17
201-11:01:45
301-11:03:13
401-11:04:42
501-11:06:11
601-11:07:43
701-11:09:13
801-11:10:43
901-11:12:17
1001-11:13:48
1101-11:15:19
1201-11:16:52
1301-11:18:24
1401-11:19:57
1501-11:21:37
1601-11:23:22
1701-11:25:14
1801-11:27:00
1901-11:28:41
2001-11:30:31
2101-11:32:11
2201-11:33:48
2301-11:35:42
2401-11:37:27
2501-11:39:23
2601-11:41:06
2701-11:42:46
2801-11:44:25
2901-11:46:05
3001-11:47:46
3101-11:49:32
3201-11:51:23
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1437    103428  2006-D015     20061201    RR         1       366
1438    103900  2006-D015     20061201    RR         4       325
1439    103786  2006-D015     20061201    RR         4       371
1440    103498  2006-D015     20061201    RR         5       559
1441    104076  2006-D015     20061201    RR         5       233

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1437                 8                   2            25.000000
1438                22                  17            77.272727
1439                12                   1             8.333333
1440                31                  17            54.838710
1441                 7                   0             0.000000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1437              182  ...                     205                        117
1438              178  ...                     119                         77
1439              194  ...                     223                        126
1440              362  ...                     255                        157
1441               68  ...                     159                         90

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1437                 57.073171                  0                     0
1438                 64.705882                 12                     6
1439                 56.502242                  7                     4
1440                 61.568627                 11                     4
1441                 56.603774                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1437             0.000000                     0                       0
1438            50.000000                     0                       0
1439            57.142857                     0                       1
1440            36.363636                     2                       5
1441             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1437                      3                 0
1438                      4                 1
1439                      9                 0
1440                      8                 0
1441                      4                 0

[1442 rows x 63 columns]
--------------------------------------------
2007
11:52:38
3192
--------------------------------------------
1-11:52:38
101-11:54:15
201-11:55:56
301-11:57:32
401-11:59:09
501-12:00:46
601-12:02:23
701-12:04:00
801-12:05:38
901-12:07:17
1001-12:08:56
1101-12:10:34
1201-12:12:15
1301-12:13:55
1401-12:15:39
1501-12:17:20
1601-12:19:02
1701-12:20:43
1801-12:22:25
1901-12:24:08
2001-12:25:52
2101-12:27:35
2201-12:29:20
2301-12:31:05
2401-12:32:50
2501-12:34:36
2601-12:36:23
2701-12:38:10
2801-12:39:58
2901-12:41:49
3001-12:43:39
3101-12:45:28
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1516    104022  2007-D023     20071130    RR         2       403
1517    104214  2007-D023     20071130    RR         4       223
1518    103184  2007-D023     20071130    RR         4        58
1519    103484  2007-D023     20071130    RR         5       398
1520    104098  2007-D023     20071130    RR         5       199

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1516                47                  28            59.574468
1517                16                   8            50.000000
1518                14                   8            57.142857
1519                42                  23            54.761905
1520                31                  20            64.516129

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1516              239  ...                     235                        137
1517              101  ...                     147                         82
1518               38  ...                      41                         13
1519              292  ...                     215                        139
1520              138  ...                     118                         69

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1516                 58.297872                  0                     0
1517                 55.782313                  0                     0
1518                 31.707317                  0                     0
1519                 64.651163                  5                     3
1520                 58.474576                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                     0.0                     0                       0
1                     0.0                     0                       0
2                     0.0                     0                       0
3                     0.0                     0                       0
4                     0.0                     0                       0
...                   ...                   ...                     ...
1516                  0.0                     0                       0
1517                  0.0                     0                       0
1518                  0.0                     0                       0
1519                 60.0                     0                       0
1520                  0.0                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1516                      3                 0
1517                      3                 0
1518                      0                 0
1519                     10                 0
1520                      3                 0

[1521 rows x 63 columns]

--------------------------------------------
2008
12:47:18
3123
--------------------------------------------
1-12:47:18
101-12:49:14
201-12:51:13
301-12:53:26
401-12:55:47
501-12:58:08
601-13:00:09
701-13:02:15
801-13:04:27
901-13:06:44
1001-13:08:33
1101-13:10:22
1201-13:12:13
1301-13:14:03
1401-13:15:54
1501-13:17:43
1601-13:19:34
1701-13:21:25
1801-13:23:16
1901-13:25:08
2001-13:27:00
2101-13:28:52
2201-13:30:44
2301-13:32:38
2401-13:34:34
2501-13:36:39
2601-13:38:50
2701-13:40:52
2801-13:43:01
2901-13:45:06
3001-13:47:09
3101-13:49:13
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1617    103970  2008-D043     20081121    RR         1       413
1618    103852  2008-D043     20081121    RR         2       380
1619    105223  2008-D043     20081121    RR         2       138
1620    104269  2008-D043     20081121    RR         4       335
1621    104076  2008-D043     20081121    RR         4       327

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1617                21                  13            61.904762
1618                37                  22            59.459459
1619                13                   8            61.538462
1620                34                  21            61.764706
1621                 7                   0             0.000000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1617              189  ...                     219                        132
1618              232  ...                     217                        111
1619               92  ...                      84                         55
1620              166  ...                     191                        112
1621              104  ...                     214                        120

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1617                 60.273973                  5                     4
1618                 51.152074                  0                     0
1619                 65.476190                  3                     1
1620                 58.638743                  0                     0
1621                 56.074766                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1617            80.000000                     0                       0
1618             0.000000                     0                       0
1619            33.333333                     0                       0
1620             0.000000                     0                       0
1621             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1617                      7                 0
1618                      1                 0
1619                      4                 0
1620                      2                 0
1621                      4                 0

[1622 rows x 63 columns]
--------------------------------------------
2009
13:49:49
3085
--------------------------------------------
1-13:49:49
101-13:51:44
201-13:53:37
301-13:55:36
401-13:57:34
501-13:59:29
601-14:01:24
701-14:03:21
801-14:05:19
901-14:07:16
1001-14:09:12
1101-14:11:28
1201-14:13:40
1301-14:15:55
1401-14:17:57
1501-14:19:55
1601-14:21:56
1701-14:24:01
1801-14:26:04
1901-14:28:07
2001-14:30:07
2101-14:32:12
2201-14:34:14
2301-14:36:23
2401-14:38:30
2501-14:40:47
2601-14:42:56
2701-14:45:33
2801-14:47:55
2901-14:50:10
3001-14:52:28
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1703    103285  2009-D015     20091204    RR         2       439
1704    104745  2009-D015     20091204    RR         4       497
1705    104225  2009-D015     20091204    RR         4        30
1706    103970  2009-D015     20091204    RR         5       483
1707    104160  2009-D015     20091204    RR         5        75

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1703                41                  25            60.975610
1704                38                  31            81.578947
1705                 1                   0             0.000000
1706                27                  17            62.962963
1707                 7                   2            28.571429

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1703              268  ...                     227                        139
1704              259  ...                     168                        133
1705               11  ...                      19                          5
1706              225  ...                     253                        154
1707               30  ...                      50                         15

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1703                 61.233480                  2                     0
1704                 79.166667                 11                     4
1705                 26.315789                  0                     0
1706                 60.869565                  5                     4
1707                 30.000000                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1703             0.000000                     0                       0
1704            36.363636                     6                      15
1705             0.000000                     0                       0
1706            80.000000                     0                       0
1707             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1703                      5                 0
1704                     15                 0
1705                      0                 0
1706                      7                 0
1707                      0                 0

[1708 rows x 63 columns]

--------------------------------------------
2010
14:54:46
3030
--------------------------------------------
1-14:54:46
101-14:57:07
201-14:59:26
301-15:01:45
401-15:04:09
501-15:06:27
601-15:08:42
701-15:11:02
801-15:13:19
901-15:15:25
1001-15:17:30
1101-15:19:37
1201-15:21:42
1301-15:24:05
1401-15:26:34
1501-15:28:54
1601-15:31:32
1701-15:34:00
1801-15:36:21
1901-15:38:39
2001-15:41:06
2101-15:43:29
2201-15:45:56
2301-15:48:29
2401-15:50:56
2501-15:53:17
2601-15:55:37
2701-15:57:50
2801-15:59:59
2901-16:02:13
3001-16:04:27
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1787    104468  2010-D045     20101203    RR         2       317
1788    104925  2010-D045     20101203    RR         4       431
1789    104792  2010-D045     20101203    RR         4       308
1790    104678  2010-D045     20101203    RR         5       185
1791    103566  2010-D045     20101203    RR         5       307

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1787                28                  16            57.142857
1788                42                  31            73.809524
1789                26                  14            53.846154
1790                16                   8            50.000000
1791                59                  36            61.016949

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1787              190  ...                     184                        114
1788              276  ...                     139                        109
1789              196  ...                     164                        103
1790              123  ...                     116                         65
1791              206  ...                     179                         95

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1787                 61.956522                  4                     2
1788                 78.417266                 15                     8
1789                 62.804878                  0                     0
1790                 56.034483                  0                     0
1791                 53.072626                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1787            50.000000                     0                       0
1788            53.333333                     1                       5
1789             0.000000                     0                       0
1790             0.000000                     0                       0
1791             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1787                      7                 0
1788                     11                 1
1789                      3                 0
1790                      2                 0
1791                      5                 0

[1792 rows x 63 columns]
--------------------------------------------
2011
16:05:23
3015
--------------------------------------------
1-16:05:23
101-16:07:30
201-16:09:37
301-16:11:47
401-16:13:52
501-16:15:59
601-16:18:05
701-16:20:09
801-16:22:17
901-16:24:23
1001-16:26:30
1101-16:28:38
1201-16:30:46
1301-16:32:54
1401-16:35:03
1501-16:37:13
1601-16:39:22
1701-16:41:32
1801-16:43:43
1901-16:45:57
2001-16:48:14
2101-16:50:47
2201-16:53:19
2301-16:56:07
2401-16:58:42
2501-17:01:18
2601-17:03:57
2701-17:06:30
2801-17:09:10
2901-17:11:48
3001-17:14:18
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
1863    104386   2011-605     20111120    RR        15       357
1864    104338  2011-D044     20111202    RR         1       393
1865    103970  2011-D044     20111202    RR         2       645
1866    104745  2011-D044     20111202    RR         4       663
1867    105223  2011-D044     20111202    RR         4       283

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
1863                50                  29            58.000000
1864                 4                   0             0.000000
1865                35                  23            65.714286
1866                58                  48            82.758621
1867                22                  14            63.636364

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1863              230  ...                     195                        102
1864              147  ...                     242                        145
1865              311  ...                     318                        206
1866              352  ...                     201                        160
1867              198  ...                     138                         96

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1863                 52.307692                  2                     1
1864                 59.917355                  0                     0
1865                 64.779874                 12                     6
1866                 79.601990                 19                     9
1867                 69.565217                  8                     4

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1863            50.000000                     0                       0
1864             0.000000                     0                       0
1865            50.000000                     0                       0
1866            47.368421                    10                      19
1867            50.000000                     1                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1863                      3                 0
1864                      4                 0
1865                     11                 0
1866                     17                 0
1867                      8                 0

[1868 rows x 63 columns]

--------------------------------------------
2012
17:14:49
3010
--------------------------------------------
1-17:14:49
101-17:17:11
201-17:19:27
301-17:22:45
401-17:26:33
501-17:28:49
601-17:31:04
701-17:33:21
801-17:35:41
901-17:37:57
1001-17:40:13
1101-17:42:32
1201-17:44:54
1301-17:47:13
1401-17:49:32
1501-17:52:07
1601-17:54:39
1701-17:57:18
1801-17:59:59
1901-18:02:40
2001-18:05:11
2101-18:07:29
2201-18:09:49
2301-18:12:09
2401-18:14:30
2501-18:17:00
2601-18:19:29
2701-18:22:01
2801-18:24:29
2901-18:27:10
3001-18:29:54
     player_id                      tourney_id tourney_date round match_num  \
0       102019                        1998-339     19980105   R32         6
1       102578                        1998-322     19980202   R32        15
2       101926                        1998-322     19980202   R16        19
3       101841                        1998-495     19980209   R32        11
4       103164                        1998-568     19980209   R32        12
...        ...                             ...          ...   ...       ...
1937    103819                        2012-605     20121105     F       515
1938    103970  2012-M-DC-2012-WG-M-ESP-CZE-01     20121116    RR         4
1939    104607  2012-M-DC-2012-WG-M-ESP-CZE-01     20121116    RR         4
1940    103285  2012-M-DC-2012-WG-M-ESP-CZE-01     20121116    RR         5
1941    104597  2012-M-DC-2012-WG-M-ESP-CZE-01     20121116    RR         5

     match_seq qty_grass_matches qty_grass_victories  pct_grass_victories  \
0            1                 0                   0             0.000000
1            1                 0                   0             0.000000
2            2                 0                   0             0.000000
3            1                 0                   0             0.000000
4            1                 0                   0             0.000000
...        ...               ...                 ...                  ...
1937      1087               135                 118            87.407407
1938       736                48                  34            70.833333
1939       592                56                  39            69.642857
1940       580                55                  33            60.000000
1941       484                23                  11            47.826087

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
1937              720  ...                     359                        291
1938              352  ...                     358                        242
1939              366  ...                     254                        164
1940              368  ...                     307                        186
1941              157  ...                     278                        178

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
1937                 81.058496                 51                    42
1938                 67.597765                 15                     8
1939                 64.566929                 10                     4
1940                 60.586319                  2                     0
1941                 64.028777                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
1937            82.352941                    17                      21
1938            53.333333                     0                       1
1939            40.000000                     0                       1
1940             0.000000                     0                       0
1941             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
1937                     32                 6
1938                     17                 0
1939                      8                 0
1940                      6                 0
1941                     12                 0

[1942 rows x 63 columns]
--------------------------------------------
2013
18:30:21
2944
--------------------------------------------
1-18:30:21
101-18:33:07
201-18:35:45
301-18:38:28
401-18:41:00
501-18:43:26
601-18:45:50
701-18:48:42
801-18:51:15
901-18:53:46
1001-18:56:15
1101-18:58:41
1201-19:01:12
1301-19:03:57
1401-19:06:38
1501-19:09:24
1601-19:12:02
1701-19:14:33
1801-19:17:23
1901-19:20:15
2001-19:22:39
2101-19:25:05
2201-19:27:30
2301-19:29:56
2401-19:32:22
2501-19:34:47
2601-19:37:15
2701-19:39:43
2801-19:42:10
2901-19:44:39
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
2029    104745   2013-605     20131104     F       515       795
2030    104925  2013-D015     20131115    RR         4       680
2031    104607  2013-D015     20131115    RR         4       672
2032    103285  2013-D015     20131115    RR         5       613
2033    105583  2013-D015     20131115    RR         5        19

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
2029                63                  50            79.365079
2030                68                  53            77.941176
2031                64                  45            70.312500
2032                60                  36            60.000000
2033                 0                   0             0.000000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2029              414  ...                     235                        190
2030              441  ...                     177                        143
2031              423  ...                     281                        182
2032              388  ...                     322                        194
2033                8  ...                      16                          4

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2029                 80.851064                 24                    13
2030                 80.790960                 28                    19
2031                 64.768683                 13                     5
2032                 60.248447                  2                     0
2033                 25.000000                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
2029            54.166667                    13                      26
2030            67.857143                     6                      16
2031            38.461538                     0                       1
2032             0.000000                     0                       0
2033             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2029                     21                 0
2030                     16                 3
2031                      8                 0
2032                      6                 0
2033                      0                 0

[2034 rows x 63 columns]

--------------------------------------------
2014
19:45:52
2901
--------------------------------------------
1-19:45:52
101-19:48:14
201-19:50:37
301-19:52:59
401-19:55:24
501-19:57:48
601-20:00:15
701-20:02:42
801-20:05:07
901-20:07:33
1001-20:10:00
1101-20:12:27
1201-20:14:54
1301-20:17:22
1401-20:19:55
1501-20:53:20
1601-20:55:59
1701-20:58:44
1801-21:01:44
1901-21:04:21
2001-21:07:13
2101-21:09:57
2201-21:12:32
2301-21:15:07
2401-21:17:42
2501-21:20:16
2601-21:22:53
2701-21:25:29
2801-21:28:06
2901-21:30:43
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
2108    104527  2014-D015     20141121    RR         1       557
2109    104542  2014-D015     20141121    RR         1       474
2110    104792  2014-D015     20141121    RR         2       498
2111    103819  2014-D015     20141121    RR         4      1236
2112    104755  2014-D015     20141121    RR         4       613

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
2108                41                  21            51.219512
2109                54                  39            72.222222
2110                40                  23            57.500000
2111               152                 133            87.500000
2112                70                  47            67.142857

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2108              307  ...                     214                        125
2109              328  ...                     188                        131
2110              313  ...                     273                        176
2111              823  ...                     398                        324
2112              379  ...                     303                        198

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2108                 58.411215                  8                     4
2109                 69.680851                 11                     4
2110                 64.468864                  0                     0
2111                 81.407035                 60                    48
2112                 65.346535                  6                     1

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
2108            50.000000                     1                       1
2109            36.363636                     0                       2
2110             0.000000                     0                       0
2111            80.000000                    17                      23
2112            16.666667                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2108                      5                 0
2109                      9                 0
2110                      5                 0
2111                     36                 6
2112                     10                 0

[2113 rows x 63 columns]
--------------------------------------------
2015
21:30:54
2943
--------------------------------------------
1-21:30:54
101-21:33:25
201-21:36:27
301-21:39:34
401-21:45:16
501-21:52:21
601-21:59:52
701-22:06:29
801-22:13:46
901-22:20:57
1001-22:27:37
1101-22:34:39
1201-22:41:27
1301-22:48:47
1401-22:57:02
1501-23:04:37
1601-23:12:27
1701-23:20:22
1801-23:27:53
1901-23:32:07
2001-23:35:04
2101-23:37:52
2201-23:40:31
2301-23:43:10
2401-23:45:50
2501-23:48:31
2601-23:51:13
2701-23:53:54
2801-23:56:36
2901-23:59:19
     player_id tourney_id tourney_date round match_num match_seq  \
0       102019   1998-339     19980105   R32         6         1
1       102578   1998-322     19980202   R32        15         1
2       101926   1998-322     19980202   R16        19         2
3       101841   1998-495     19980209   R32        11         1
4       103164   1998-568     19980209   R32        12         1
...        ...        ...          ...   ...       ...       ...
2186    103819   2015-605     20151115     F       515      1310
2187    106378  2015-D015     20151127    RR         1        16
2188    105074  2015-D015     20151127    RR         2        48
2189    104918  2015-D015     20151127    RR         4       727
2190    105676  2015-D015     20151127    RR         4       173

     qty_grass_matches qty_grass_victories  pct_grass_victories  \
0                    0                   0             0.000000
1                    0                   0             0.000000
2                    0                   0             0.000000
3                    0                   0             0.000000
4                    0                   0             0.000000
...                ...                 ...                  ...
2186               164                 144            87.804878
2187                 8                   1            12.500000
2188                12                   3            25.000000
2189               109                  91            83.486239
2190                21                   9            42.857143

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2186              868  ...                     421                        347
2187                5  ...                       7                          1
2188               31  ...                      25                          8
2189              501  ...                     225                        179
2190              105  ...                      90                         47

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2186                 82.422803                 65                    52
2187                 14.285714                  0                     0
2188                 32.000000                  0                     0
2189                 79.555556                 22                    11
2190                 52.222222                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                     0.0                     0                       0
1                     0.0                     0                       0
2                     0.0                     0                       0
3                     0.0                     0                       0
4                     0.0                     0                       0
...                   ...                   ...                     ...
2186                 80.0                    17                      24
2187                  0.0                     0                       0
2188                  0.0                     0                       0
2189                 50.0                     2                      11
2190                  0.0                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2186                     41                 6
2187                      0                 0
2188                      0                 0
2189                     22                 0
2190                      2                 0

[2191 rows x 63 columns]

--------------------------------------------
2016
00:00:39
2941
--------------------------------------------
1-00:00:39
101-00:03:17
201-00:05:53
301-00:08:33
401-00:11:10
501-00:13:49
601-00:16:31
701-00:19:12
801-00:21:54
901-00:24:39
1001-00:27:21
1101-00:30:03
1201-00:32:46
1301-00:35:29
1401-00:38:12
1501-00:40:56
1601-00:43:41
1701-00:46:26
1801-00:49:11
1901-00:51:56
2001-00:54:42
2101-00:57:30
2201-01:00:17
2301-01:03:04
2401-01:05:51
2501-01:08:40
2601-01:11:31
2701-01:14:20
2801-01:17:08
2901-01:19:55
     player_id                      tourney_id tourney_date round match_num  \
0       102019                        1998-339     19980105   R32         6
1       102578                        1998-322     19980202   R32        15
2       101926                        1998-322     19980202   R16        19
3       101841                        1998-495     19980209   R32        11
4       103164                        1998-568     19980209   R32        12
...        ...                             ...          ...   ...       ...
2270    104925                       2016-0605     20161114     F       300
2271    105223  2016-M-DC-2016-WG-M-ARG-CRO-01     20161125    RR         4
2272    105227  2016-M-DC-2016-WG-M-ARG-CRO-01     20161125    RR         4
2273    105643  2016-M-DC-2016-WG-M-ARG-CRO-01     20161125    RR         5
2274    103333  2016-M-DC-2016-WG-M-ARG-CRO-01     20161125    RR         5

     match_seq qty_grass_matches qty_grass_victories  pct_grass_victories  \
0            1                 0                   0             0.000000
1            1                 0                   0             0.000000
2            2                 0                   0             0.000000
3            1                 0                   0             0.000000
4            1                 0                   0             0.000000
...        ...               ...                 ...                  ...
2270       917                85                  69            81.176471
2271       491                49                  34            69.387755
2272       603                73                  48            65.753425
2273       178                 5                   0             0.000000
2274       620               100                  66            66.000000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2270              610  ...                     208                        169
2271              350  ...                     238                        180
2272              381  ...                     295                        205
2273               59  ...                     128                         68
2274              409  ...                     380                        224

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2270                 81.250000                 43                    32
2271                 75.630252                 15                     7
2272                 69.491525                  6                     1
2273                 53.125000                  0                     0
2274                 58.947368                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
2270            74.418605                    12                      30
2271            46.666667                     1                       0
2272            16.666667                     1                       1
2273             0.000000                     0                       0
2274             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2270                     19                 5
2271                     18                 0
2272                     14                 0
2273                      2                 0
2274                      9                 0

[2275 rows x 63 columns]
--------------------------------------------
2017
01:21:13
2886
--------------------------------------------
1-01:21:13
101-01:23:54
201-01:26:35
301-01:29:17
401-01:31:58
501-01:34:40
601-01:37:23
701-01:40:06
801-01:42:49
901-01:45:34
1001-01:48:19
1101-01:51:04
1201-01:53:48
1301-01:56:34
1401-01:59:20
1501-02:02:07
1601-02:04:54
1701-02:07:44
1801-02:10:33
1901-02:13:23
2001-02:24:27
2101-02:27:24
2201-02:30:27
2301-02:33:23
2401-02:36:21
2501-02:39:19
2601-02:42:19
2701-02:45:17
2801-02:48:15
     player_id                      tourney_id tourney_date round match_num  \
0       102019                        1998-339     19980105   R32         6
1       102578                        1998-322     19980202   R32        15
2       101926                        1998-322     19980202   R16        19
3       101841                        1998-495     19980209   R32        11
4       103164                        1998-568     19980209   R32        12
...        ...                             ...          ...   ...       ...
2343    105777                       2017-0605     20171113     F       300
2344    105676  2017-M-DC-2017-WG-M-BEL-FRA-01     20171124    RR         4
2345    104542  2017-M-DC-2017-WG-M-BEL-FRA-01     20171124    RR         4
2346    106298  2017-M-DC-2017-WG-M-BEL-FRA-01     20171124    RR         5
2347    104327  2017-M-DC-2017-WG-M-BEL-FRA-01     20171124    RR         5

     match_seq qty_grass_matches qty_grass_victories  pct_grass_victories  \
0            1                 0                   0             0.000000
1            1                 0                   0             0.000000
2            2                 0                   0             0.000000
3            1                 0                   0             0.000000
4            1                 0                   0             0.000000
...        ...               ...                 ...                  ...
2343       420                57                  35            61.403509
2344       330                28                  14            50.000000
2345       630                68                  48            70.588235
2346       152                17                  10            58.823529
2347       236                32                  15            46.875000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2343              273  ...                     210                        129
2344              215  ...                     154                         90
2345              432  ...                     243                        172
2346               90  ...                      71                         43
2347              131  ...                     145                         71

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2343                 61.428571                  5                     5
2344                 58.441558                  6                     3
2345                 70.781893                 11                     4
2346                 60.563380                  0                     0
2347                 48.965517                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
2343           100.000000                     0                       1
2344            50.000000                     0                       0
2345            36.363636                     0                       2
2346             0.000000                     0                       0
2347             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2343                      6                 1
2344                      4                 0
2345                     14                 0
2346                      4                 0
2347                      2                 0

[2348 rows x 63 columns]

--------------------------------------------
2018
02:50:58
2889
--------------------------------------------
1-02:50:58
101-02:53:51
201-02:56:44
301-02:59:38
401-03:02:32
501-03:05:28
601-03:08:25
701-03:11:21
801-03:14:17
901-03:17:13
1001-03:20:10
1101-03:23:08
1201-10:46:26
1301-10:49:31
1401-10:53:19
1501-10:56:58
1601-11:00:19
1701-11:03:28
1801-11:06:45
1901-11:09:51
2001-11:12:55
2101-11:15:59
2201-11:19:14
2301-11:23:36
2401-11:27:26
2501-11:31:05
2601-11:34:14
2701-11:37:22
2801-11:40:31
     player_id                      tourney_id tourney_date round match_num  \
0       102019                        1998-339     19980105   R32         6
1       102578                        1998-322     19980202   R32        15
2       101926                        1998-322     19980202   R16        19
3       101841                        1998-495     19980209   R32        11
4       103164                        1998-568     19980209   R32        12
...        ...                             ...          ...   ...       ...
2430    106432  2018-M-DC-2018-WG-M-FRA-CRO-01     20181123    RR         1
2431    104871  2018-M-DC-2018-WG-M-FRA-CRO-01     20181123    RR         1
2432    104542  2018-M-DC-2018-WG-M-FRA-CRO-01     20181123    RR         2
2433    105227  2018-M-DC-2018-WG-M-FRA-CRO-01     20181123    RR         4
2434    106298  2018-M-DC-2018-WG-M-FRA-CRO-01     20181123    RR         4

     match_seq qty_grass_matches qty_grass_victories  pct_grass_victories  \
0            1                 0                   0             0.000000
1            1                 0                   0             0.000000
2            2                 0                   0             0.000000
3            1                 0                   0             0.000000
4            1                 0                   0             0.000000
...        ...               ...                 ...                  ...
2430       222                15                   7            46.666667
2431       502                53                  26            49.056604
2432       642                68                  48            70.588235
2433       735                95                  66            69.473684
2434       198                23                  13            56.521739

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2430              134  ...                     106                         55
2431              273  ...                     266                        133
2432              443  ...                     250                        175
2433              452  ...                     338                        235
2434              119  ...                      95                         58

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2430                 51.886792                  0                     0
2431                 50.000000                  0                     0
2432                 70.000000                 11                     4
2433                 69.526627                 12                     2
2434                 61.052632                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                0.000000                     0                       0
1                0.000000                     0                       0
2                0.000000                     0                       0
3                0.000000                     0                       0
4                0.000000                     0                       0
...                   ...                   ...                     ...
2430             0.000000                     0                       0
2431             0.000000                     0                       0
2432            36.363636                     0                       2
2433            16.666667                     1                       1
2434             0.000000                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2430                      2                 0
2431                      1                 0
2432                     14                 0
2433                     16                 0
2434                      5                 0

[2435 rows x 63 columns]
--------------------------------------------
2019
11:43:29
2781
--------------------------------------------
1-11:43:29
101-11:46:35
201-11:49:42
301-11:52:48
401-11:55:58
501-11:59:06
601-12:02:14
701-12:05:22
801-12:08:34
901-12:11:44
1001-12:14:55
1101-12:18:07
1201-12:21:15
1301-12:24:25
1401-12:27:36
1501-12:30:48
1601-12:34:00
1701-12:37:12
1801-12:40:27
1901-12:43:39
2001-12:46:52
2101-12:50:05
2201-12:53:19
2301-12:56:35
2401-12:59:56
2501-13:03:21
2601-13:06:58
2701-13:10:38
     player_id                       tourney_id tourney_date round match_num  \
0       102019                         1998-339     19980105   R32         6
1       102578                         1998-322     19980202   R32        15
2       101926                         1998-322     19980202   R16        19
3       101841                         1998-495     19980209   R32        11
4       103164                         1998-568     19980209   R32        12
...        ...                              ...          ...   ...       ...
2475    111575  2019-M-DC-2019-FLS-M-RUS-CAN-01     20191123    RR         2
2476    105138  2019-M-DC-2019-FLS-M-CAN-ESP-01     20191124    RR         1
2477    200000  2019-M-DC-2019-FLS-M-CAN-ESP-01     20191124    RR         1
2478    104745  2019-M-DC-2019-FLS-M-CAN-ESP-01     20191124    RR         2
2479    133430  2019-M-DC-2019-FLS-M-CAN-ESP-01     20191124    RR         2

     match_seq qty_grass_matches qty_grass_victories  pct_grass_victories  \
0            1                 0                   0             0.000000
1            1                 0                   0             0.000000
2            2                 0                   0             0.000000
3            1                 0                   0             0.000000
4            1                 0                   0             0.000000
...        ...               ...                 ...                  ...
2475       211                21                  14            66.666667
2476       465                45                  32            71.111111
2477        73                12                   9            75.000000
2478      1187                91                  71            78.021978
2479       155                12                   3            25.000000

     qty_hard_matches  ... qty_matches_ATP_250_500  qty_victories_ATP_250_500  \
0                   1  ...                       1                          0
1                   1  ...                       1                          0
2                   2  ...                       2                          1
3                   1  ...                       1                          0
4                   1  ...                       1                          0
...               ...  ...                     ...                        ...
2475              134  ...                     105                         56
2476              298  ...                     244                        158
2477               34  ...                      40                         23
2478              615  ...                     341                        276
2479              119  ...                      62                         31

     pct_victories_ATP_250_500 qty_matches_finals  qty_victories_finals  \
0                     0.000000                  0                     0
1                     0.000000                  0                     0
2                    50.000000                  0                     0
3                     0.000000                  0                     0
4                     0.000000                  0                     0
...                        ...                ...                   ...
2475                 53.333333                  0                     0
2476                 64.754098                  0                     0
2477                 57.500000                  0                     0
2478                 80.938416                 32                    18
2479                 50.000000                  0                     0

     pct_victories_finals qty_grand_slam_titles  qty_master_1000_titles  \
0                    0.00                     0                       0
1                    0.00                     0                       0
2                    0.00                     0                       0
3                    0.00                     0                       0
4                    0.00                     0                       0
...                   ...                   ...                     ...
2475                 0.00                     0                       1
2476                 0.00                     0                       0
2477                 0.00                     0                       0
2478                56.25                    19                      35
2479                 0.00                     0                       0

     qty_ATP_250_500_titles qty_finals_titles
0                         0                 0
1                         0                 0
2                         0                 0
3                         0                 0
4                         0                 0
...                     ...               ...
2475                      3                 0
2476                      9                 0
2477                      0                 0
2478                     30                 0
2479                      1                 0

[2480 rows x 63 columns]

13:13:45
OK

In [49]:
# Use pandas. DataFrame. append() to add a list as a row
df = pd.DataFrame([[1, 2], [3, 4]], columns = ["a", "b"])
print(df)
to_append = [5, 6]
a_series = pd.Series(to_append, index = df. columns)
df = df.append(a_series, ignore_index=True)
print(df)

   a  b
0  1  2
1  3  4
   a  b
0  1  2
1  3  4
2  5  6

In [74]:
merge_atp_and_odds_info()

2001

C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Lista de resultados contém nulos
      ATP   Location                           Tournament       Date  \
558    15   Acapulco                     Abierto Mexicano 2001-02-26
569    15   Acapulco                     Abierto Mexicano 2001-02-26
570    15   Acapulco                     Abierto Mexicano 2001-02-26
1082   27    Houston  U.S. Men's Clay Court Championships 2001-04-30
1088   27    Houston  U.S. Men's Clay Court Championships 2001-04-30
1378   33      Paris                          French Open 2001-05-28
1929   45  Kitzbuhel                        Generali Open 2001-07-23
1951   45  Kitzbuhel                        Generali Open 2001-07-23

                  Series    Court Surface          Round  Best of  \
558   International Gold  Outdoor    Clay      1st Round        3
569   International Gold  Outdoor    Clay      2nd Round        3
570   International Gold  Outdoor    Clay  Quarterfinals        3
1082       International  Outdoor    Clay      1st Round        3
1088       International  Outdoor    Clay      2nd Round        3
1378          Grand Slam  Outdoor    Clay      1st Round        5
1929  International Gold  Outdoor    Clay      1st Round        3
1951  International Gold  Outdoor    Clay      2nd Round        3

           Winner  ... l_1stWon  l_2ndWon l_SvGms  l_bpSaved  l_bpFaced  \
558       Ruud C.  ...      NaN       NaN     NaN        NaN        NaN
569       Ruud C.  ...      NaN       NaN     NaN        NaN        NaN
570     Blanco G.  ...      NaN       NaN     NaN        NaN        NaN
1082      Ruud C.  ...      NaN       NaN     NaN        NaN        NaN
1088    Koubek S.  ...      NaN       NaN     NaN        NaN        NaN
1378  Sargsian S.  ...      NaN       NaN     NaN        NaN        NaN
1929   Golmard J.  ...      NaN       NaN     NaN        NaN        NaN
1951  Lapentti N.  ...      NaN       NaN     NaN        NaN        NaN

      winner_rank  winner_rank_points  loser_rank  loser_rank_points  \
558           NaN                 NaN         NaN                NaN
569           NaN                 NaN         NaN                NaN
570           NaN                 NaN         NaN                NaN
1082          NaN                 NaN         NaN                NaN
1088          NaN                 NaN         NaN                NaN
1378          NaN                 NaN         NaN                NaN
1929          NaN                 NaN         NaN                NaN
1951          NaN                 NaN         NaN                NaN

      round_odds
558         <NA>
569         <NA>
570         <NA>
1082        <NA>
1088        <NA>
1378        <NA>
1929        <NA>
1951        <NA>

[8 rows x 91 columns]
Lista de odds contém nulos
     tourney_id                 tourney_name surface  draw_size tourney_level  \
275    2001-319                    Kitzbuhel    Clay         48             A
291    2001-319                    Kitzbuhel    Clay         48             A
923    2001-403                Miami Masters    Hard         96             M
1051   2001-408                        Milan  Carpet         32             A
1130   2001-410          Monte Carlo Masters    Clay         64             M
...         ...                          ...     ...        ...           ...
3302  2001-D081  Davis Cup G1 PO: ZIM vs SLO    Hard          4             D
3303   2001-615                   Dusseldorf    Clay         64             A
3304   2001-615                   Dusseldorf    Clay         64             A
3305   2001-615                   Dusseldorf    Clay         64             A
3306   2001-615                   Dusseldorf    Clay         64             A

     tourney_date match_num  winner_id winner_seed winner_entry  ...   IWW  \
275      20010723         4     102831                           ...   NaN
291      20010723        20     102839           6               ...   NaN
923      20010319        83     101736           3               ...  1.20
1051     20010129        22     101964                       WC  ...  1.70
1130     20010416        39     102610                           ...  1.55
...           ...       ...        ...         ...          ...  ...   ...
3302     20010921         5     101970                           ...   NaN
3303     20010521       300     103720                           ...   NaN
3304     20010521       296     103163                           ...   NaN
3305     20010521       280     103163                           ...   NaN
3306     20010521       277     103206                           ...   NaN

      IWL    SBW   SBL  AvgW  AvgL  Player_Name_x Obs_x Player_Name_y Obs_y
275   NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN
291   NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN
923   3.2  1.222  3.75  1.23  3.41      Agassi A.    OK       Haas T.    OK
1051  1.7  1.800  1.91  1.72  1.88  Ivanisevic G.    OK   Ulihrach B.    OK
1130  2.0  1.727  2.00  1.61  2.06       Costa A.    OK       Rios M.    OK
...   ...    ...   ...   ...   ...            ...   ...           ...   ...
3302  NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN
3303  NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN
3304  NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN
3305  NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN
3306  NaN    NaN   NaN   NaN   NaN            NaN   NaN           NaN   NaN

[357 rows x 91 columns]

In [21]:
gera_lista_torneios_arquivo_results_em_EXCEL()

2001

C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
      Year                       tourney_id                  tourney_name
0     2001                         2001-301                      Auckland
1     2001                         2001-306                   St. Poelten
2     2001                         2001-308                        Munich
3     2001                         2001-311                  Queen's Club
4     2001                         2001-314                        Gstaad
...    ...                              ...                           ...
2755  2019  2019-M-DC-2019-QLS-M-JPN-CHN-01  Davis Cup QLS R1: JPN vs CHN
2756  2019  2019-M-DC-2019-QLS-M-KAZ-POR-01  Davis Cup QLS R1: KAZ vs POR
2757  2019  2019-M-DC-2019-QLS-M-SRB-UZB-01  Davis Cup QLS R1: SRB vs UZB
2758  2019  2019-M-DC-2019-QLS-M-SUI-RUS-01  Davis Cup QLS R1: SUI vs RUS
2759  2019  2019-M-DC-2019-QLS-M-SWE-COL-01  Davis Cup QLS R1: SWE vs COL

[2760 rows x 3 columns]

In [68]:
gera_lista_torneios_arquivo_ODDS_em_EXCEL()

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [19]:
print(obtem_dataframe_ODDS('2001'))

      ATP  Location          Tournament       Date         Series    Court  \
0       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
1       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
2       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
3       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
4       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
...   ...       ...                 ...        ...            ...      ...
2958   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2959   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2960   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2961   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2962   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor

     Surface        Round  Best of         Winner  ...    Comment   CBW   CBL  \
0       Hard    1st Round        3     Clement A.  ...  Completed   NaN   NaN
1       Hard    1st Round        3   Goldstein P.  ...  Completed   NaN   NaN
2       Hard    1st Round        3        Haas T.  ...  Completed   NaN   NaN
3       Hard    1st Round        3      Henman T.  ...  Completed   NaN   NaN
4       Hard    1st Round        3      Hewitt L.  ...  Completed  1.28  3.30
...      ...          ...      ...            ...  ...        ...   ...   ...
2958    Hard  Round Robin        3  Kafelnikov Y.  ...  Completed  1.53  2.45
2959    Hard  Round Robin        3  Kafelnikov Y.  ...  Completed   NaN   NaN
2960    Hard   Semifinals        3    Grosjean S.  ...  Completed  2.05  1.70
2961    Hard   Semifinals        3      Hewitt L.  ...  Completed  1.45  2.55
2962    Hard    The Final        5      Hewitt L.  ...  Completed  1.45  2.60

       GBW   GBL   IWW  IWL  SBW    SBL  year
0      NaN   NaN   NaN  NaN  NaN    NaN  2001
1      NaN   NaN   NaN  NaN  NaN    NaN  2001
2     1.12  4.00  1.10  3.5  NaN    NaN  2001
3      NaN   NaN   NaN  NaN  NaN    NaN  2001
4     1.12  3.80   NaN  NaN  NaN    NaN  2001
...    ...   ...   ...  ...  ...    ...   ...
2958  1.45  2.45  1.35  2.5  1.5  2.500  2001
2959   NaN   NaN   NaN  NaN  NaN    NaN  2001
2960  1.95  1.70  1.80  1.7  2.1  1.667  2001
2961  1.20  3.80  1.20  3.3  1.3  3.200  2001
2962  1.40  2.65  1.30  2.7  1.4  2.750  2001

[2963 rows x 35 columns]

In [15]:
print(obtem_dataframe_resultados(2001))

     tourney_id                 tourney_name surface draw_size tourney_level  \
1      2001-301                     Auckland    Hard        32             A
2      2001-301                     Auckland    Hard        32             A
3      2001-301                     Auckland    Hard        32             A
4      2001-301                     Auckland    Hard        32             A
5      2001-301                     Auckland    Hard        32             A
...         ...                          ...     ...       ...           ...
3303  2001-D081  Davis Cup G1 PO: ZIM vs SLO    Hard         4             D
3304   2001-615                   Dusseldorf    Clay        64             A
3305   2001-615                   Dusseldorf    Clay        64             A
3306   2001-615                   Dusseldorf    Clay        64             A
3307   2001-615                   Dusseldorf    Clay        64             A

     tourney_date match_num winner_id winner_seed winner_entry  ... l_1stWon  \
1        20010108         1    102905                           ...       19
2        20010108         2    102231                           ...       33
3        20010108         3    102257                       WC  ...       31
4        20010108         4    101647           5               ...       31
5        20010108         5    102998           3               ...       27
...           ...       ...       ...         ...          ...  ...      ...
3303     20010921         5    101970                           ...
3304     20010521       300    103720                           ...
3305     20010521       296    103163                           ...
3306     20010521       280    103163                           ...
3307     20010521       277    103206                           ...

     l_2ndWon l_SvGms l_bpSaved l_bpFaced winner_rank winner_rank_points  \
1          15      10         4         8          52                755
2          11      12         1         3          53                751
3          12      10         4         6          73                575
4          11      13         3         7          35                965
5          15      11         5         9          33               1030
...       ...     ...       ...       ...         ...                ...
3303                                              464                 49
3304                                                6               2615
3305                                               23               1295
3306                                               23               1295
3307                                               10               2030

     loser_rank loser_rank_points  year
1            14              1598  2001
2            64               633  2001
3           260               129  2001
4            49               760  2001
5            67               601  2001
...         ...               ...   ...
3303                               2001
3304          2              3765  2001
3305          6              2615  2001
3306          9              2035  2001
3307          2              3765  2001

[3307 rows x 50 columns]

C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
gera_lista_jogadores_arquivo_ODDS_em_EXCEL()

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [134]:
gera_lista_jogadores_arquivo_results_em_EXCEL()

2001

C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Gilberto\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
OK

In [32]:
obtem_dataframe_ODDS('2001')

     ATP Location           Tournament       Date              Series  \
588   16    Dubai  Dubai Championships 2001-02-26  International Gold

       Court Surface      Round  Best of    Winner  ... CBL  GBW GBL  IWW  \
588  Outdoor    Hard  1st Round        3  Pavel A.  ... NaN  NaN NaN  NaN

     IWL  SBW  SBL  Year  AvgW  AvgL
588  NaN  NaN  NaN  2001   NaN   NaN

[1 rows x 37 columns]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,CBL,GBW,GBL,IWW,IWL,SBW,SBL,Year,AvgW,AvgL
0,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Clement A.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN
1,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Goldstein P.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN
2,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Haas T.,...,NaN,1.12,4.00,1.10,3.5,NaN,NaN,2001,1.11,3.75
3,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Henman T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN
4,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Hewitt L.,...,3.30,1.12,3.80,NaN,NaN,NaN,NaN,2001,1.20,3.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2958,69,Sydney,Masters Cup,2001-11-12,Masters Cup,Indoor,Hard,Round Robin,3,Kafelnikov Y.,...,2.45,1.45,2.45,1.35,2.5,1.500,2.50,2001,1.46,2.48
2959,69,Sydney,Masters Cup,2001-11-12,Masters Cup,Indoor,Hard,Round Robin,3,Kafelnikov Y.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN
2960,69,Sydney,Masters Cup,2001-11-12,Masters Cup,Indoor,Hard,Semifinals,3,Grosjean S.,...,2.05,1.70,1.95,1.70,1.8,1.667,2.10,2001,1.69,1.98
2961,69,Sydney,Masters Cup,2001-11-12,Masters Cup,Indoor,Hard,Semifinals,3,Hewitt L.,...,2.55,1.20,3.80,1.20,3.3,1.300,3.20,2001,1.29,3.21
2962,69,Sydney,Masters Cup,2001-11-12,Masters Cup,Indoor,Hard,The Final,5,Hewitt L.,...,2.60,1.40,2.65,1.30,2.7,1.400,2.75,2001,1.39,2.68

In [34]:
for ano in range(2001,2020):
    obtem_dataframe_ODDS(str(ano))

     ATP Location           Tournament       Date              Series  \
588   16    Dubai  Dubai Championships 2001-02-26  International Gold

       Court Surface      Round  Best of    Winner  ... CBL  GBW GBL  IWW  \
588  Outdoor    Hard  1st Round        3  Pavel A.  ... NaN  NaN NaN  NaN

     IWL  SBW  SBL  Year  AvgW  AvgL
588  NaN  NaN  NaN  2001   NaN   NaN

[1 rows x 37 columns]
     ATP Location                           Tournament       Date  \
535   15    Dubai                  Dubai Championships 2002-02-25
997   25  Houston  U.S. Men's Clay Court Championships 2002-04-22

                 Series    Court Surface      Round  Best of     Winner  ...  \
535  International Gold  Outdoor    Hard  1st Round        3  Henman T.  ...
997       International  Outdoor    Clay  1st Round        3   Coria G.  ...

    CBL  GBW GBL  IWW  IWL  SBW  SBL  Year  AvgW  AvgL
535 NaN  NaN NaN  NaN  NaN  NaN  NaN  2002   NaN   NaN
997 NaN  NaN NaN  NaN  NaN  NaN  NaN  2002   NaN   NaN

[2 rows x 39 columns]
     ATP Location              Tournament       Date              Series  \
64     3     Doha  Qatar Exxon Mobil Open 2002-12-30       International
83     3     Doha  Qatar Exxon Mobil Open 2003-01-01       International
563   16   Dubai      Dubai Championships 2003-02-24  International Gold

       Court Surface      Round  Best of         Winner  ... CBL   IWW  IWL  \
64   Outdoor    Hard  1st Round        3   Hantschek M.  ... NaN  1.30  2.7
83   Outdoor    Hard  2nd Round        3     Vicente F.  ... NaN  1.45  2.2
563  Outdoor    Hard  1st Round        3  El Aynaoui Y.  ... NaN  1.02  6.0

     SBW  SBL  B&WW  B&WL  Year  AvgW  AvgL
64   NaN  NaN  1.17  3.70  2003  1.23  3.20
83   NaN  NaN  1.37  2.45  2003  1.41  2.33
563  NaN  NaN  1.01  9.00  2003  1.02  7.50

[3 rows x 39 columns]
     ATP Location           Tournament       Date              Series  \
563   16   Dubai   Dubai Championships 2004-03-01  International Gold

       Court Surface      Round  Best of     Winner  ... CBL  EXW  EXL  IWW  \
563  Outdoor    Hard  1st Round        3  Carraz G.  ... NaN  NaN  NaN  NaN

     IWL  PSW  PSL  Year  AvgW  AvgL
563  NaN  NaN  NaN  2004   NaN   NaN

[1 rows x 39 columns]
     ATP Location                  Tournament       Date              Series  \
593   17   Dubai   Dubai Duty Free Men's Open 2005-02-21  International Gold

       Court Surface      Round  Best of     Winner  ... CBL  EXW  EXL   IWW  \
593  Outdoor    Hard  1st Round        3  Hrbaty D.  ... NaN  NaN  NaN  1.02

     IWL    PSW    PSL  Year  AvgW   AvgL
593  6.0  1.019  35.75  2005  1.02  20.88

[1 rows x 41 columns]
      ATP Location                  Tournament       Date              Series  \
599    17   Dubai   Dubai Tennis Championships 2006-02-27  International Gold
1722   38   Gstaad         Allianz Suisse Open 2006-07-11       International

        Court Surface      Round  Best of         Winner  ... CBL  EXW  EXL  \
599   Outdoor    Hard  1st Round        3  Al Ghareeb M.  ... NaN  NaN  NaN
1722  Outdoor    Clay  1st Round        3         Vik R.  ... NaN  NaN  NaN

        PSW   PSL  UBW  UBL  Year  AvgW  AvgL
599   1.216  5.22  NaN  NaN  2006  1.22  5.22
1722  1.313  3.90  NaN  NaN  2006  1.31  3.90

[2 rows x 41 columns]
     ATP     Location                  Tournament       Date  \
918   23  Monte Carlo         Monte Carlo Masters 2007-04-16
593   17       Dubai   Dubai Tennis Championships 2007-02-26
945   23  Monte Carlo         Monte Carlo Masters 2007-04-18

                 Series    Court Surface      Round  Best of       Winner  \
918             Masters  Outdoor    Clay  1st Round        3  Stepanek M.
593  International Gold  Outdoor    Hard  1st Round        3    Hrbaty D.
945             Masters  Outdoor    Clay  2nd Round        3  Ljubicic I.

     ...   CBL   EXW   EXL    PSW    PSL   UBW    UBL  Year  AvgW   AvgL
918  ...  2.10  1.80  1.95  1.870   2.05  1.70   2.10  2007  1.75   2.06
593  ...   NaN   NaN   NaN  1.025  28.50  1.02  18.00  2007  1.02  18.83
945  ...  1.88  1.75  2.00  1.735   2.26  1.76   2.02  2007  1.76   2.05

[3 rows x 41 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, UBW, UBL, Year, AvgW, AvgL]
Index: []

[0 rows x 41 columns]
      ATP        Location           Tournament       Date  Series    Court  \
2224   50       Bucharest         Open Romania 2009-09-21  ATP250  Outdoor
2555   60  St. Petersburg  St. Petersburg Open 2009-10-27  ATP250   Indoor

     Surface      Round  Best of         Winner  ...   EXL   LBW  LBL   SJW  \
2224    Clay  1st Round        3  Granollers M.  ...  4.67  1.16  4.5  1.14
2555    Hard  1st Round        3      Chardy J.  ...  5.50  1.14  5.0   NaN

      SJL   UBW  UBL  Year  AvgW  AvgL
2224  5.0  1.16  5.0  2009  1.15  4.83
2555  NaN  1.12  6.0  2009  1.12  5.62

[2 rows x 41 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, SJW, SJL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 43 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, SJW, SJL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 43 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, SJW, SJL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 43 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, SJW, SJL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 43 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, SJW, SJL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 43 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 41 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 41 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 41 columns]
Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, WPts, LPts, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, B365W, B365L, EXW, EXL, LBW, LBL, PSW, PSL, MaxW, MaxL, AvgW, AvgL, Year]
Index: []

[0 rows x 41 columns]
      ATP Location         Tournament       Date  Series    Court Surface  \
1719   43  Atlanta  BB&T Atlanta Open 2019-07-24  ATP250  Outdoor    Hard

          Round  Best of      Winner  ...    Comment  B365W  B365L   PSW  \
1719  1st Round        3  Humbert U.  ...  Completed   1.04   13.0  1.07

        PSL  MaxW  MaxL  AvgW   AvgL  Year
1719  10.16  1.09  14.0  1.04  10.94  2019

[1 rows x 37 columns]

In [3]:
# glb_workbook = xlrd.open_workbook(glb_diretorio_base + glb_arquivo_configuracao)
# worksheet = glb_workbook.sheet_by_name('Configuracoes')
# df = pd.read_excel(glb_diretorio_base + glb_arquivo_configuracao, sheet_name='Redes', skiprows = 0, index_col=None)
df = pd.read_csv("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\ODDS_ZZZZ_2001.csv", sep=',', delimiter=None, header='infer', names=None, index_col=None)

In [4]:
print(df)

   ATP Location           Tournament        Date              Series    Court  \
0   16    Dubai  Dubai Championships  2001-02-26  International Gold  Outdoor

  Surface      Round  Best of    Winner  ... CBL  GBW GBL  IWW  IWL  SBW  SBL  \
0    Hard  1st Round        3  Pavel A.  ... NaN  NaN NaN  NaN  NaN  NaN  NaN

   Year  AvgW  AvgL
0  2001   NaN   NaN

[1 rows x 37 columns]

In [7]:
dfx = df[['Year', 'Location', 'Tournament' , 'Date', 'Winner', 'Loser', 'W1','L1','W2','L2','W3','L3','W4','L4','W5', 'L5']].copy()

In [8]:
print(dfx)

   Year Location           Tournament        Date    Winner          Loser  \
0  2001    Dubai  Dubai Championships  2001-02-26  Pavel A.  Bahrouzyan O.

    W1   L1   W2   L2  W3  L3  W4  L4  W5  L5
0  6.0  1.0  6.0  2.0 NaN NaN NaN NaN NaN NaN

In [10]:
for ano in range(2001,2020):
    df = pd.read_csv("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\ODDS_ZZZZ_" + str(ano) + ".csv", sep=',', delimiter=None, header='infer', names=None, index_col=None)
    dfx = df[['Year', 'Location', 'Tournament' , 'Date', 'Winner', 'Loser', 'W1','L1','W2','L2','W3','L3','W4','L4','W5', 'L5']].copy()
    if ano == 2001:
       dfy = dfx
    else:
       dfy=pd.concat([dfy,dfx])  
print(dfy)    
dfy.to_excel("C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\Python\\crazy_players.xlsx")

   Year        Location                           Tournament        Date  \
0  2001           Dubai                  Dubai Championships  2001-02-26
0  2002           Dubai                  Dubai Championships  2002-02-25
1  2002         Houston  U.S. Men's Clay Court Championships  2002-04-22
0  2003            Doha               Qatar Exxon Mobil Open  2002-12-30
1  2003            Doha               Qatar Exxon Mobil Open  2003-01-01
2  2003          Dubai                   Dubai Championships  2003-02-24
0  2004          Dubai                   Dubai Championships  2004-03-01
0  2005          Dubai            Dubai Duty Free Men's Open  2005-02-21
0  2006          Dubai            Dubai Tennis Championships  2006-02-27
1  2006          Gstaad                  Allianz Suisse Open  2006-07-11
0  2007     Monte Carlo                  Monte Carlo Masters  2007-04-16
1  2007          Dubai            Dubai Tennis Championships  2007-02-26
2  2007     Monte Carlo                  Monte Carlo Masters  2007-04-18
0  2009       Bucharest                         Open Romania  2009-09-21
1  2009  St. Petersburg                  St. Petersburg Open  2009-10-27
0  2019         Atlanta                    BB&T Atlanta Open  2019-07-24

          Winner          Loser   W1   L1   W2   L2   W3   L3  W4  L4  W5  L5
0       Pavel A.  Bahrouzyan O.  6.0  1.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN
0      Henman T.  Bahrouzyan O.  6.0  1.0  6.0  0.0  NaN  NaN NaN NaN NaN NaN
1       Coria G.       Marin L.  6.0  0.0  6.0  3.0  NaN  NaN NaN NaN NaN NaN
0   Hantschek M.     Carlsen K.  7.0  6.0  6.0  1.0  NaN  NaN NaN NaN NaN NaN
1     Vicente F.   Hantschek M.  7.0  5.0  7.0  6.0  NaN  NaN NaN NaN NaN NaN
2  El Aynaoui Y.  Bahrouzyan O.  6.0  0.0  6.0  3.0  NaN  NaN NaN NaN NaN NaN
0      Carraz G.  Bahrouzyan O.  6.0  0.0  6.0  0.0  NaN  NaN NaN NaN NaN NaN
0      Hrbaty D.  Bahrouzyan O.  6.0  0.0  6.0  4.0  NaN  NaN NaN NaN NaN NaN
0  Al Ghareeb M.  Bahrouzyan O.  7.0  6.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN
1         Vik R.       Kutac R.  6.0  2.0  6.0  1.0  NaN  NaN NaN NaN NaN NaN
0    Stepanek M.     Monfils G.  6.0  0.0  2.0  0.0  NaN  NaN NaN NaN NaN NaN
1      Hrbaty D.  Bahrouzyan O.  6.0  1.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN
2    Ljubicic I.    Stepanek M.  7.0  6.0  7.0  6.0  NaN  NaN NaN NaN NaN NaN
0  Granollers M.   Luncanu P.A.  6.0  2.0  6.0  7.0  6.0  1.0 NaN NaN NaN NaN
1      Chardy J.   Luncanu P.A.  6.0  2.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN
0     Humbert U.     Gromley C.  7.0  6.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN

In [24]:
df_de_para_players = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\players_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)

In [23]:
print(df)

           Player_Name  Player_ID  Obs
0        Al Ghareeb M.     103600  NOK
1     Al Khulaifi N.G.     102285  NOK
2         Al Mutawa J.     106325  NOK
3        Al-Alawi S.K.     102956  NOK
4        Al-Ghareeb M.     103600  NOK
...                ...        ...  ...
1375         Muster T.     101404   OK
1376     Gustafsson M.     101320   OK
1377          Pozzi G.     101150   OK
1378         Agenor R.     101086   OK
1379         Zverev A.     100644   OK

[1380 rows x 3 columns]

In [25]:
df_odds = obtem_dataframe_ODDS('2001')

     ATP Location           Tournament       Date              Series  \
588   16    Dubai  Dubai Championships 2001-02-26  International Gold

       Court Surface      Round  Best of    Winner  ... CBL  GBW GBL  IWW  \
588  Outdoor    Hard  1st Round        3  Pavel A.  ... NaN  NaN NaN  NaN

     IWL  SBW  SBL  Year  AvgW  AvgL
588  NaN  NaN  NaN  2001   NaN   NaN

[1 rows x 37 columns]

In [26]:
print(df_odds)

      ATP  Location          Tournament       Date         Series    Court  \
0       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
1       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
2       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
3       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
4       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
...   ...       ...                 ...        ...            ...      ...
2958   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2959   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2960   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2961   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2962   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor

     Surface        Round  Best of         Winner  ...   CBL   GBW   GBL  \
0       Hard    1st Round        3     Clement A.  ...   NaN   NaN   NaN
1       Hard    1st Round        3   Goldstein P.  ...   NaN   NaN   NaN
2       Hard    1st Round        3        Haas T.  ...   NaN  1.12  4.00
3       Hard    1st Round        3      Henman T.  ...   NaN   NaN   NaN
4       Hard    1st Round        3      Hewitt L.  ...  3.30  1.12  3.80
...      ...          ...      ...            ...  ...   ...   ...   ...
2958    Hard  Round Robin        3  Kafelnikov Y.  ...  2.45  1.45  2.45
2959    Hard  Round Robin        3  Kafelnikov Y.  ...   NaN   NaN   NaN
2960    Hard   Semifinals        3    Grosjean S.  ...  2.05  1.70  1.95
2961    Hard   Semifinals        3      Hewitt L.  ...  2.55  1.20  3.80
2962    Hard    The Final        5      Hewitt L.  ...  2.60  1.40  2.65

       IWW  IWL    SBW   SBL  Year  AvgW  AvgL
0      NaN  NaN    NaN   NaN  2001   NaN   NaN
1      NaN  NaN    NaN   NaN  2001   NaN   NaN
2     1.10  3.5    NaN   NaN  2001  1.11  3.75
3      NaN  NaN    NaN   NaN  2001   NaN   NaN
4      NaN  NaN    NaN   NaN  2001  1.20  3.55
...    ...  ...    ...   ...   ...   ...   ...
2958  1.35  2.5  1.500  2.50  2001  1.46  2.48
2959   NaN  NaN    NaN   NaN  2001   NaN   NaN
2960  1.70  1.8  1.667  2.10  2001  1.69  1.98
2961  1.20  3.3  1.300  3.20  2001  1.29  3.21
2962  1.30  2.7  1.400  2.75  2001  1.39  2.68

[2963 rows x 37 columns]

In [30]:
df_1 = pd.merge(df_odds, df_de_para_players, how='left', on=None, left_on='Winner', right_on='Player_Name',
         left_index=False, right_index=False, sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [31]:
print(df_1)

      ATP  Location          Tournament       Date         Series    Court  \
0       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
1       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
2       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
3       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
4       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
...   ...       ...                 ...        ...            ...      ...
2958   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2959   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2960   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2961   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2962   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor

     Surface        Round  Best of         Winner  ...   IWW  IWL    SBW  \
0       Hard    1st Round        3     Clement A.  ...   NaN  NaN    NaN
1       Hard    1st Round        3   Goldstein P.  ...   NaN  NaN    NaN
2       Hard    1st Round        3        Haas T.  ...  1.10  3.5    NaN
3       Hard    1st Round        3      Henman T.  ...   NaN  NaN    NaN
4       Hard    1st Round        3      Hewitt L.  ...   NaN  NaN    NaN
...      ...          ...      ...            ...  ...   ...  ...    ...
2958    Hard  Round Robin        3  Kafelnikov Y.  ...  1.35  2.5  1.500
2959    Hard  Round Robin        3  Kafelnikov Y.  ...   NaN  NaN    NaN
2960    Hard   Semifinals        3    Grosjean S.  ...  1.70  1.8  1.667
2961    Hard   Semifinals        3      Hewitt L.  ...  1.20  3.3  1.300
2962    Hard    The Final        5      Hewitt L.  ...  1.30  2.7  1.400

       SBL  Year  AvgW  AvgL    Player_Name  Player_ID  Obs
0      NaN  2001   NaN   NaN     Clement A.     103096   OK
1      NaN  2001   NaN   NaN   Goldstein P.     102834   OK
2      NaN  2001  1.11  3.75        Haas T.     103163   OK
3      NaN  2001   NaN   NaN      Henman T.     102450   OK
4      NaN  2001  1.20  3.55      Hewitt L.     103720   OK
...    ...   ...   ...   ...            ...        ...  ...
2958  2.50  2001  1.46  2.48  Kafelnikov Y.     102338   OK
2959   NaN  2001   NaN   NaN  Kafelnikov Y.     102338   OK
2960  2.10  2001  1.69  1.98    Grosjean S.     103206   OK
2961  3.20  2001  1.29  3.21      Hewitt L.     103720   OK
2962  2.75  2001  1.39  2.68      Hewitt L.     103720   OK

[2963 rows x 40 columns]

In [33]:
df_NaN = df_1[df_1['Player_Name'].isnull()]

In [34]:
print(df_NaN)

Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, CBW, CBL, GBW, GBL, IWW, IWL, SBW, SBL, Year, AvgW, AvgL, Player_Name, Player_ID, Obs]
Index: []

[0 rows x 40 columns]

In [35]:
del df_1["Player_Name"]

In [36]:
print(df_1)

      ATP  Location          Tournament       Date         Series    Court  \
0       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
1       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
2       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
3       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
4       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
...   ...       ...                 ...        ...            ...      ...
2958   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2959   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2960   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2961   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2962   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor

     Surface        Round  Best of         Winner  ...   GBL   IWW  IWL  \
0       Hard    1st Round        3     Clement A.  ...   NaN   NaN  NaN
1       Hard    1st Round        3   Goldstein P.  ...   NaN   NaN  NaN
2       Hard    1st Round        3        Haas T.  ...  4.00  1.10  3.5
3       Hard    1st Round        3      Henman T.  ...   NaN   NaN  NaN
4       Hard    1st Round        3      Hewitt L.  ...  3.80   NaN  NaN
...      ...          ...      ...            ...  ...   ...   ...  ...
2958    Hard  Round Robin        3  Kafelnikov Y.  ...  2.45  1.35  2.5
2959    Hard  Round Robin        3  Kafelnikov Y.  ...   NaN   NaN  NaN
2960    Hard   Semifinals        3    Grosjean S.  ...  1.95  1.70  1.8
2961    Hard   Semifinals        3      Hewitt L.  ...  3.80  1.20  3.3
2962    Hard    The Final        5      Hewitt L.  ...  2.65  1.30  2.7

        SBW   SBL  Year  AvgW  AvgL  Player_ID  Obs
0       NaN   NaN  2001   NaN   NaN     103096   OK
1       NaN   NaN  2001   NaN   NaN     102834   OK
2       NaN   NaN  2001  1.11  3.75     103163   OK
3       NaN   NaN  2001   NaN   NaN     102450   OK
4       NaN   NaN  2001  1.20  3.55     103720   OK
...     ...   ...   ...   ...   ...        ...  ...
2958  1.500  2.50  2001  1.46  2.48     102338   OK
2959    NaN   NaN  2001   NaN   NaN     102338   OK
2960  1.667  2.10  2001  1.69  1.98     103206   OK
2961  1.300  3.20  2001  1.29  3.21     103720   OK
2962  1.400  2.75  2001  1.39  2.68     103720   OK

[2963 rows x 39 columns]

In [37]:
print(df_NaN.count)

<bound method DataFrame.count of Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, W1, L1, W2, L2, W3, L3, W4, L4, W5, L5, Wsets, Lsets, Comment, CBW, CBL, GBW, GBL, IWW, IWL, SBW, SBL, Year, AvgW, AvgL, Player_Name, Player_ID, Obs]
Index: []

[0 rows x 40 columns]>

In [38]:
print(df_NaN.empty)

True

In [40]:
df_1.rename(columns={'Player_ID': 'Winner_ID'}, inplace=True)

In [41]:
print(df_1)

      ATP  Location          Tournament       Date         Series    Court  \
0       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
1       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
2       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
3       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
4       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
...   ...       ...                 ...        ...            ...      ...
2958   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2959   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2960   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2961   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2962   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor

     Surface        Round  Best of         Winner  ...   GBL   IWW  IWL  \
0       Hard    1st Round        3     Clement A.  ...   NaN   NaN  NaN
1       Hard    1st Round        3   Goldstein P.  ...   NaN   NaN  NaN
2       Hard    1st Round        3        Haas T.  ...  4.00  1.10  3.5
3       Hard    1st Round        3      Henman T.  ...   NaN   NaN  NaN
4       Hard    1st Round        3      Hewitt L.  ...  3.80   NaN  NaN
...      ...          ...      ...            ...  ...   ...   ...  ...
2958    Hard  Round Robin        3  Kafelnikov Y.  ...  2.45  1.35  2.5
2959    Hard  Round Robin        3  Kafelnikov Y.  ...   NaN   NaN  NaN
2960    Hard   Semifinals        3    Grosjean S.  ...  1.95  1.70  1.8
2961    Hard   Semifinals        3      Hewitt L.  ...  3.80  1.20  3.3
2962    Hard    The Final        5      Hewitt L.  ...  2.65  1.30  2.7

        SBW   SBL  Year  AvgW  AvgL  Winner_ID  Obs
0       NaN   NaN  2001   NaN   NaN     103096   OK
1       NaN   NaN  2001   NaN   NaN     102834   OK
2       NaN   NaN  2001  1.11  3.75     103163   OK
3       NaN   NaN  2001   NaN   NaN     102450   OK
4       NaN   NaN  2001  1.20  3.55     103720   OK
...     ...   ...   ...   ...   ...        ...  ...
2958  1.500  2.50  2001  1.46  2.48     102338   OK
2959    NaN   NaN  2001   NaN   NaN     102338   OK
2960  1.667  2.10  2001  1.69  1.98     103206   OK
2961  1.300  3.20  2001  1.29  3.21     103720   OK
2962  1.400  2.75  2001  1.39  2.68     103720   OK

[2963 rows x 39 columns]

In [2]:
df_de_para_tourneys = pd.read_excel('C:\\Giba\Dados\\_A_Giba\\Documentos\\Adm\\PUC_MG\\TCC\\Meu_Trabalho\\tourneys_de_para.xlsx', sheet_name='DE_PARA', skiprows = 0, index_col=None)

In [60]:
df_3 = pd.merge(df_odds, df_de_para_tourneys, how='left', on=None, left_on=['Year','ATP', 'Location','Tournament'], right_on=['Year','ATP', 'Location','Tournament'],
         left_index=False, right_index=False, sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [58]:
df_3 = pd.merge(df_odds, df_de_para_tourneys, on=['Year','ATP', 'Location','Tournament'])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [19]:
df_odds = obtem_dataframe_ODDS(str(2001))

In [20]:
merged_df = df_odds.merge(df_de_para_tourneys, how='left', left_on=['Year', 'ATP', 'Location','Tournament'], right_on=['Year', 'ATP', 'Location','Tournament'])

In [21]:
print(merged_df)

      ATP  Location          Tournament       Date         Series    Court  \
0       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
1       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
2       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
3       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
4       1  Adelaide  AAPT Championships 2001-01-01  International  Outdoor
...   ...       ...                 ...        ...            ...      ...
2958   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2959   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2960   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2961   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor
2962   69    Sydney         Masters Cup 2001-11-12    Masters Cup   Indoor

     Surface        Round  Best of         Winner  ...   GBW   GBL   IWW  IWL  \
0       Hard    1st Round        3     Clement A.  ...   NaN   NaN   NaN  NaN
1       Hard    1st Round        3   Goldstein P.  ...   NaN   NaN   NaN  NaN
2       Hard    1st Round        3        Haas T.  ...  1.12  4.00  1.10  3.5
3       Hard    1st Round        3      Henman T.  ...   NaN   NaN   NaN  NaN
4       Hard    1st Round        3      Hewitt L.  ...  1.12  3.80   NaN  NaN
...      ...          ...      ...            ...  ...   ...   ...   ...  ...
2958    Hard  Round Robin        3  Kafelnikov Y.  ...  1.45  2.45  1.35  2.5
2959    Hard  Round Robin        3  Kafelnikov Y.  ...   NaN   NaN   NaN  NaN
2960    Hard   Semifinals        3    Grosjean S.  ...  1.70  1.95  1.70  1.8
2961    Hard   Semifinals        3      Hewitt L.  ...  1.20  3.80  1.20  3.3
2962    Hard    The Final        5      Hewitt L.  ...  1.40  2.65  1.30  2.7

        SBW   SBL  Year  AvgW  AvgL  Tourney_ID
0       NaN   NaN  2001   NaN   NaN    2001-339
1       NaN   NaN  2001   NaN   NaN    2001-339
2       NaN   NaN  2001  1.11  3.75    2001-339
3       NaN   NaN  2001   NaN   NaN    2001-339
4       NaN   NaN  2001  1.20  3.55    2001-339
...     ...   ...   ...   ...   ...         ...
2958  1.500  2.50  2001  1.46  2.48    2001-605
2959    NaN   NaN  2001   NaN   NaN    2001-605
2960  1.667  2.10  2001  1.69  1.98    2001-605
2961  1.300  3.20  2001  1.29  3.21    2001-605
2962  1.400  2.75  2001  1.39  2.68    2001-605

[2963 rows x 38 columns]

In [46]:
df_results = obtem_dataframe_resultados('2019')

In [53]:
print(df_results)

                           tourney_id                     tourney_name  \
58                          2019-0451                             Doha
27                          2019-M020                         Brisbane
57                          2019-0451                             Doha
85                          2019-0891                             Pune
26                          2019-M020                         Brisbane
...                               ...                              ...
2656  2019-M-DC-2019-FLS-M-RUS-CAN-01  Davis Cup Finals SF: RUS vs CAN
2653  2019-M-DC-2019-FLS-M-GBR-ESP-01  Davis Cup Finals SF: GBR vs ESP
2657  2019-M-DC-2019-FLS-M-RUS-CAN-01  Davis Cup Finals SF: RUS vs CAN
2650  2019-M-DC-2019-FLS-M-CAN-ESP-01   Davis Cup Finals F: CAN vs ESP
2651  2019-M-DC-2019-FLS-M-CAN-ESP-01   Davis Cup Finals F: CAN vs ESP

     surface draw_size tourney_level tourney_date  match_num winner_id  \
58      Hard        32             A     20181231        270    105732
27      Hard        32             A     20181231        271    106045
57      Hard        32             A     20181231        271    109739
85      Hard        32             A     20181231        271    105208
26      Hard        32             A     20181231        272    105357
...      ...       ...           ...          ...        ...       ...
2656    Hard         4             D     20191123          1    126094
2653    Hard         4             D     20191123          2    104745
2657    Hard         4             D     20191123          2    133430
2650    Hard         4             D     20191124          1    105138
2651    Hard         4             D     20191124          2    104745

     winner_seed winner_entry  ... l_1stWon l_2ndWon l_SvGms l_bpSaved  \
58                             ...       23       13      10         1
27                             ...       57       27      17         9
57                          Q  ...       19       10       8         4
85                             ...       41       18      15         7
26                             ...       44       20      15        13
...          ...          ...  ...      ...      ...     ...       ...
2656                           ...       29        7      10         4
2653                           ...       24        5       8         5
2657                           ...       42       14      15         2
2650                           ...       28       15      10         3
2651                           ...       38       10      10         5

     l_bpFaced winner_rank winner_rank_points loser_rank loser_rank_points  \
58           3          55                903          8              4095
27          10          63                810         49               974
57           7          74                706         59               855
85          10          95                612        104               550
26          18          38               1083         61               814
...        ...         ...                ...        ...               ...
2656         7          23               1584        150               360
2653         9           1               9985         42              1124
2657         5          15               2050         17              1840
2650         5           9               2540         21              1636
2651         6           1               9985         15              2050

      Year
58    2019
27    2019
57    2019
85    2019
26    2019
...    ...
2656  2019
2653  2019
2657  2019
2650  2019
2651  2019

[2781 rows x 50 columns]